In [1]:
import pandas as pd

In [2]:
muni16 = pd.read_csv('E:/Transit-Casa-Alex/Output/Processed MUNI Rail/Mapping_Data_16.csv',thousands = ',')

In [3]:
muni09 = pd.read_csv('E:/Transit-Casa-Alex/Output/Processed MUNI Rail/2009_MUNI_Rail.csv',thousands = ',')

In [4]:
muni09.head()

   Boardings  Alightings  STOP_ID
0        132          58     3537
1         60         170     3538
2        726         810     7316
3        198         239     3985
4        286         340     3987

In [5]:
muni16.head()

,STOP NAME,STOP ID,Total Boardings,Total Alightings,Stop Latitude,Stop Longitude
0,9th Ave & Irving St,3212,4.0,2.1,37.763912,-122.46624
1,9th Ave & Irving St,3212,248.0,70.6,37.763912,-122.46624
2,9th Ave & Irving St,3212,247.7,84.2,37.763912,-122.46624
3,9th Ave & Irving St,3212,264.9,62.6,37.763912,-122.46624
4,9th Ave & Irving St,3212,208.3,49.1,37.763912,-122.46624

In [6]:
muni16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2127 entries, 0 to 2126
Data columns (total 6 columns):
STOP NAME           2127 non-null object
STOP ID             2127 non-null int64
Total Boardings     1858 non-null float64
Total Alightings    1862 non-null float64
Stop Latitude       2127 non-null float64
Stop Longitude      2127 non-null float64
dtypes: float64(4), int64(1), object(1)
memory usage: 99.8+ KB

In [7]:
muni16_group = muni16.groupby(by = 'STOP ID',as_index = False).agg({'STOP NAME':'first','Stop Latitude':'mean','Stop Longitude':'mean','Total Alightings':'sum','Total Boardings':'sum'})

In [8]:
muni16_group.columns

Index(['STOP ID', 'Stop Latitude', 'Stop Longitude', 'STOP NAME',
       'Total Alightings', 'Total Boardings'],
      dtype='object')

In [9]:
rename = ['STOP_ID', 'LON', 'Alightings', 'LAT',
       'Boardings', 'STOP_NAME']

In [10]:
muni16_group.columns = rename

In [11]:
muni16_group.head()

   STOP_ID        LON  Alightings                    LAT  Boardings  STOP_NAME
0     3212  37.763912 -122.466240    9th Ave & Irving St      292.4     1046.3
1     3266  37.743122 -122.471300  15th Ave & Taraval St      313.8      119.6
2     3267  37.743070 -122.471405  15th Ave & Taraval St       92.3      240.7
3     3268  37.741524 -122.471190    15th Ave & Ulloa St      233.4       16.5
4     3269  37.741486 -122.471300    15th Ave & Ulloa St       23.3       90.4

In [12]:
rail = pd.merge(muni16_group,muni09,on = 'STOP_ID',how = 'outer',suffixes = ('_09','_16'))

In [19]:

rail.head()

,STOP_ID,LON,Alightings_09,LAT,Boardings_09,STOP_NAME,Boardings_16,Alightings_16,DIFF,P_DIFF,P_DIFF_STR
0,3212,37.763912,-122.466240,9th Ave & Irving St,292.4,1046.3,1223.0,270.0,931.0,318.0,318.0%
1,3266,37.743122,-122.471300,15th Ave & Taraval St,313.8,119.6,77.0,255.0,-237.0,-76.0,-76.0%
2,3267,37.743070,-122.471405,15th Ave & Taraval St,92.3,240.7,280.0,77.0,188.0,204.0,204.0%
3,3268,37.741524,-122.471190,15th Ave & Ulloa St,233.4,16.5,22.0,111.0,-211.0,-90.0,-90.0%
4,3269,37.741486,-122.471300,15th Ave & Ulloa St,23.3,90.4,47.0,13.0,24.0,103.0,103.0%

In [20]:
rail['DIFF'] = round(rail['Boardings_16'].astype(float) - rail['Boardings_09'].astype(float))

In [21]:
rail['P_DIFF'] = round((rail['DIFF']/rail['Boardings_09'].astype(float))*100)

In [22]:
rail['P_DIFF_STR'] = rail['P_DIFF'].apply(lambda value: str(value) + '%')

In [23]:
rail = rail.fillna(0)
rail.head()

,STOP_ID,LON,Alightings_09,LAT,Boardings_09,STOP_NAME,Boardings_16,Alightings_16,DIFF,P_DIFF,P_DIFF_STR
0,3212,37.763912,-122.466240,9th Ave & Irving St,292.4,1046.3,1223.0,270.0,931.0,318.0,318.0%
1,3266,37.743122,-122.471300,15th Ave & Taraval St,313.8,119.6,77.0,255.0,-237.0,-76.0,-76.0%
2,3267,37.743070,-122.471405,15th Ave & Taraval St,92.3,240.7,280.0,77.0,188.0,204.0,204.0%
3,3268,37.741524,-122.471190,15th Ave & Ulloa St,233.4,16.5,22.0,111.0,-211.0,-90.0,-90.0%
4,3269,37.741486,-122.471300,15th Ave & Ulloa St,23.3,90.4,47.0,13.0,24.0,103.0,103.0%

In [24]:
rail.to_csv('E:/Transit-Casa-Alex/Output/Processed MUNI Rail/MUNI_Rail_Map_Data.csv')

In [26]:
import numpy as np
rail[rail['P_DIFF'] == 0]

,STOP_ID,LON,Alightings_09,LAT,Boardings_09,STOP_NAME,Boardings_16,Alightings_16,DIFF,P_DIFF,P_DIFF_STR
315,7058,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,nan%
320,7165,0.0,0.0,0,0.0,0.0,0.0,32.0,0.0,0.0,nan%
321,7162,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,nan%