In [1]:
import pandas as pd
import numpy as np
import folium
import sys
sys.path.append('E:\Transit_Casa\Alex\Scripts')
import Muni_Estimates_day as muni
import Map_stop_PercentDiff

ImportError: No module named 'Muni_Estimates_day'

In [2]:
TS_INFILE= "E:/Transit_Casa/Output/sfmuni_monthly_ts.h5"
OUTFILE_START = 'E:\Transit_Casa\Alex\C_Drive\Maps/'
TABLE = 'stop_day'
MONTH1 = '2009-09-01'
MONTH2 = '2009-10-01'
MONTH3 = '2009-11-01'
MONTH4 = '2013-09-01'
MONTH5 = '2013-10-01'
MONTH6 = '2013-11-01'

In [11]:
def get_day(hdffile,table,month1, month2,month3,month4,month5,month6):
    """

    Write a comment here about the arguments and what it returns. 
    """
    
    store = pd.HDFStore(hdffile)
    df = store.get(table, where )
    
    df1 = df[df['MONTH'] == month1]
    df2 = df[df['MONTH'] == month2]
    df3 = df[df['MONTH'] == month3]
    df4 = df[df['MONTH'] == month4]
    df5 = df[df['MONTH'] == month5]
    df6 = df[df['MONTH'] == month6]
    
   
   #the stop tables had stop_id as their unique identifier and required a different key when merging
    if table == 'stop_day':
    # merge the two months for easy comparison of values (outer so that all stops are preserved, nan is filled in for missing stops)
        df = pd.merge(df09,df13, how = 'outer', on = ['DOW', 'AGENCY_ID', 'STOP_ID'], suffixes = ['_09','_13'])
    
    else: 
        df = pd.merge(df1,df2, how = 'outer', on = ['DOW', 'AGENCY_ID', 'ROUTE_SHORT_NAME', 'DIR', 'SEQ'], suffixes = ['_09','_13'])
    
    #sort the columns alphabetically to easily compare values
    df = df.reindex_axis(sorted(df.columns), axis=1)
    return df

In [2]:
store = pd.HDFStore("E:/Transit_Casa/Output/sfmuni_monthly_ts.h5")

df = store.get('stop_day')

<bound method HDFStore.items of <class 'pandas.io.pytables.HDFStore'>
File path: E:/Transit_Casa/Output/sfmuni_monthly_ts.h5
/rs_day                  frame_table  (typ->appendable,nrows->301137,ncols->57,indexers->[index],dc->[MONTH,DOW,AGENCY_ID,ROUTE_SHORT_NAME,DIR,SEQ,NUMDAYS,OBSDAYS,TRIP_STOPS,OBS_TRIP_STOPS,WGT_TRIP_STOPS,STOP_ID,ROUTE_LONG_NAME,ROUTE_TYPE,TRIP_HEADSIGN,HEADWAY_S,FARE,STOPNAME,STOPNAME_AVL,STOP_LAT,STOP_LON,EOL,SOL,TIMEPOINT,ARRIVAL_TIME_DEV,DEPARTURE_TIME_DEV,DWELL_S,DWELL,RUNTIME_S,RUNTIME,TOTTIME_S,TOTTIME,SERVMILES_S,SERVMILES,RUNSPEED_S,RUNSPEED,TOTSPEED_S,TOTSPEED,ONTIME5,ON,OFF,LOAD_ARR,LOAD_DEP,PASSMILES,PASSHOURS,WAITHOURS,FULLFARE_REV,PASSDELAY_DEP,PASSDELAY_ARR,RDBRDNGS,DOORCYCLES,WHEELCHAIR,BIKERACK,CAPACITY,VC,CROWDED,CROWDHOURS])
/rs_tod                  frame_table  (typ->appendable,nrows->1565864,ncols->58,indexers->[index],dc->[MONTH,DOW,TOD,AGENCY_ID,ROUTE_SHORT_NAME,DIR,SEQ,NUMDAYS,OBSDAYS,TRIP_STOPS,OBS_TRIP_STOPS,WGT_TRIP_STOPS,STOP_ID,ROUTE_LONG_NAME,ROUTE_TYPE,TRIP_HEADSIGN,HEADWAY_S,FARE,STOPNAME,STOPNAME_AVL,STOP_LAT,STOP_LON,EOL,SOL,TIMEPOINT,ARRIVAL_TIME_DEV,DEPARTURE_TIME_DEV,DWELL_S,DWELL,RUNTIME_S,RUNTIME,TOTTIME_S,TOTTIME,SERVMILES_S,SERVMILES,RUNSPEED_S,RUNSPEED,TOTSPEED_S,TOTSPEED,ONTIME5,ON,OFF,LOAD_ARR,LOAD_DEP,PASSMILES,PASSHOURS,WAITHOURS,FULLFARE_REV,PASSDELAY_DEP,PASSDELAY_ARR,RDBRDNGS,DOORCYCLES,WHEELCHAIR,BIKERACK,CAPACITY,VC,CROWDED,CROWDHOURS])
/stop_day                frame_table  (typ->appendable,nrows->177415,ncols->51,indexers->[index],dc->[MONTH,DOW,AGENCY_ID,STOP_ID,NUMDAYS,OBSDAYS,TRIP_STOPS,OBS_TRIP_STOPS,WGT_TRIP_STOPS,HEADWAY_S,FARE,STOPNAME,STOPNAME_AVL,STOP_LAT,STOP_LON,EOL,SOL,TIMEPOINT,ARRIVAL_TIME_DEV,DEPARTURE_TIME_DEV,DWELL_S,DWELL,RUNTIME_S,RUNTIME,TOTTIME_S,TOTTIME,SERVMILES_S,SERVMILES,RUNSPEED_S,RUNSPEED,TOTSPEED_S,TOTSPEED,ONTIME5,ON,OFF,LOAD_ARR,LOAD_DEP,PASSMILES,PASSHOURS,WAITHOURS,FULLFARE_REV,PASSDELAY_DEP,PASSDELAY_ARR,RDBRDNGS,DOORCYCLES,WHEELCHAIR,BIKERACK,CAPACITY,VC,CROWDED,CROWDHOURS])
/stop_tod                frame_table  (typ->appendable,nrows->1125515,ncols->52,indexers->[index],dc->[MONTH,DOW,TOD,AGENCY_ID,STOP_ID,NUMDAYS,OBSDAYS,TRIP_STOPS,OBS_TRIP_STOPS,WGT_TRIP_STOPS,HEADWAY_S,FARE,STOPNAME,STOPNAME_AVL,STOP_LAT,STOP_LON,EOL,SOL,TIMEPOINT,ARRIVAL_TIME_DEV,DEPARTURE_TIME_DEV,DWELL_S,DWELL,RUNTIME_S,RUNTIME,TOTTIME_S,TOTTIME,SERVMILES_S,SERVMILES,RUNSPEED_S,RUNSPEED,TOTSPEED_S,TOTSPEED,ONTIME5,ON,OFF,LOAD_ARR,LOAD_DEP,PASSMILES,PASSHOURS,WAITHOURS,FULLFARE_REV,PASSDELAY_DEP,PASSDELAY_ARR,RDBRDNGS,DOORCYCLES,WHEELCHAIR,BIKERACK,CAPACITY,VC,CROWDED,CROWDHOURS])
/system_day_s            frame_table  (typ->appendable,nrows->53,ncols->38,indexers->[index],dc->[MONTH,DOW,AGENCY_ID,NUMDAYS,OBSDAYS,TRIP_STOPS,OBS_TRIP_STOPS,WGT_TRIP_STOPS,HEADWAY_S,FARE,DWELL_S,DWELL,RUNTIME_S,RUNTIME,TOTTIME_S,TOTTIME,SERVMILES_S,SERVMILES,RUNSPEED_S,RUNSPEED,TOTSPEED_S,TOTSPEED,ONTIME5,ON,OFF,PASSMILES,PASSHOURS,WAITHOURS,FULLFARE_REV,PASSDELAY_DEP,PASSDELAY_ARR,RDBRDNGS,DOORCYCLES,WHEELCHAIR,BIKERACK,VC,CROWDED,CROWDHOURS])
/system_tod_s            frame_table  (typ->appendable,nrows->371,ncols->39,indexers->[index],dc->[MONTH,DOW,TOD,AGENCY_ID,NUMDAYS,OBSDAYS,TRIP_STOPS,OBS_TRIP_STOPS,WGT_TRIP_STOPS,HEADWAY_S,FARE,DWELL_S,DWELL,RUNTIME_S,RUNTIME,TOTTIME_S,TOTTIME,SERVMILES_S,SERVMILES,RUNSPEED_S,RUNSPEED,TOTSPEED_S,TOTSPEED,ONTIME5,ON,OFF,PASSMILES,PASSHOURS,WAITHOURS,FULLFARE_REV,PASSDELAY_DEP,PASSDELAY_ARR,RDBRDNGS,DOORCYCLES,WHEELCHAIR,BIKERACK,VC,CROWDED,CROWDHOURS])                                                                                                                                                                                                       >

In [61]:
df1 = df[df['MONTH'] == MONTH1]
df2 = df[df['MONTH'] == MONTH2]
df3 = df[df['MONTH'] == MONTH3]
df4 = df[df['MONTH'] == MONTH4]
df5 = df[df['MONTH'] == MONTH5]
df6 = df[df['MONTH'] == MONTH6]
df09 = pd.merge(pd.merge(df1,df2,how = 'outer',on='STOP_ID',suffixes = ('_9','_10')),df3,how = 'outer',on='STOP_ID',)
df13 = pd.merge(pd.merge(df4,df5,how = 'outer',on='STOP_ID',suffixes = ('_9','_10')),df6,how = 'outer',on='STOP_ID',)
df_final = pd.merge(df09,df13,how = 'outer',on = 'STOP_ID',suffixes = ('_09','_13'))
df09.head()

,MONTH_9,DOW_9,AGENCY_ID_9,STOP_ID,NUMDAYS_9,OBSDAYS_9,TRIP_STOPS_9,OBS_TRIP_STOPS_9,WGT_TRIP_STOPS_9,HEADWAY_S_9,...,PASSDELAY_DEP,PASSDELAY_ARR,RDBRDNGS,DOORCYCLES,WHEELCHAIR,BIKERACK,CAPACITY,VC,CROWDED,CROWDHOURS
0,2009-09-01,1,SFMTA,390,22,22,306,45,273.297197,21.795987,...,5481.007521,4592.454589,0.795527,385.746606,0.0,0.000000,2967.30,0.307861,0.039555,12.393311
1,2009-09-01,1,SFMTA,392,22,22,121,17,119.847627,14.226891,...,1355.940400,1226.483519,0.000000,183.265110,0.0,0.950000,1140.30,0.372445,0.007079,1.064489
2,2009-09-01,1,SFMTA,660,22,22,134,16,135.850975,9.335424,...,0.243557,0.243557,0.333640,0.479031,0.0,0.332082,1867.65,0.108443,0.000000,0.000000
3,2009-09-01,1,SFMTA,913,22,17,91,17,87.038251,24.685393,...,102.864480,96.325624,1.651961,68.730025,0.0,0.097222,1050.00,0.047730,0.000000,0.000000
4,2009-09-01,1,SFMTA,3001,22,22,63,12,63.000000,12.870968,...,3.807565,3.798420,0.000000,0.508117,0.0,0.413115,677.25,0.288505,0.035141,2.034456

In [62]:
print(len(df1))
print(len(df2))
print(len(df3))
print(len(df09))
print(len(df4))
print(len(df5))
print(len(df6))
print(len(df13))

3563
3563
3563
3563
3260
3275
3192
3275

In [67]:
print(len(df09))
print(len(df13))
df = pd.merge(df09,df13,how = 'outer',on = 'STOP_ID',suffixes = ('_09','_13'))
len(df)

3563
3275

3659

In [11]:
    df09 = make_table(TS_INFILE,TABLE, MONTH1, MONTH2,MONTH3) 
    df13 = make_table(TS_INFILE,TABLE, MONTH4, MONTH5,MONTH6) 
    
    df = pd.merge(df09,df13,how = 'inner',on = 'STOP_ID',suffixes = ('_09','_13'))
    df['LAT'] = df.apply(lambda row: map.choose_right_latlon(row['STOP_LAT_09'], row['STOP_LAT_13']), axis=1)
    df['LON'] = df.apply(lambda row: map.choose_right_latlon(row['STOP_LON_09'], row['STOP_LON_13']), axis=1)
    names = get_names_avg(COLMN_NAME)
    df[names[4]] = df[names[1]] - df[names[0]]
    df[names[3]] = ((df[names[1]] - df[names[0]])/df[names[0]])*100
    df[names[2]] = df[names[3]].astype(str) + '%'
    show_list = ['STOP_ID',names[3],names[4],names[0],names[1]]
    print(df)
    map.map(names[3],names[4],names[2],df,show_list,OUTFILE_START,TABLE,COLMN_NAME,map.color,map.radius)
    print('ALL DONE!! TIME FOR A BEER!!!')

In [26]:
df09 = pd.merge(pd.merge(df1,df2,on='STOP_ID',suffixes = ('_9','_10')),df3,on='STOP_ID',)
df13 = pd.merge(pd.merge(df4,df5,on='STOP_ID',suffixes = ('_9','_10')),df6,on='STOP_ID',)
df_final = pd.merge(df09,df13,how = 'outer',on = 'STOP_ID',suffixes = ('_09','_13'))
df[names[4]] = df[names[1]] - df[names[0]]
df[names[3]] = ((df[names[1]] - df[names[0]])/df[names[0]])*100
df[names[2]] = df[names[3]].astype(str) + '%'

NameError: name 'names' is not defined

In [25]:
minimum = np.percentile(colmn_diff,5)
maximum = np.percentile(colmn_diff,95)
step = ((maximum + abs(minimum))/5)
step2 = minimum + step
step3 = step2 + step
step4 = step3 + step
step5 = step4 + step
maximum = max(colmn_diff)
minimum = min(colmn_diff)

if minimum <= abs(colmn_value) < step2: 
    rad = 1
elif step2 <= abs(colmn_value) < step3: 
    rad = 3
elif step3 <= abs(colmn_value) < step4: 
    rad = 5
elif step4 <= abs(colmn_value) < step5: 
    rad = 7
elif step5 <= abs(colmn_value) <= maximum: 
    rad = 10
else:
    print('bad radius2')
    print(colmn_value)
    rad=100

3563
3177
3644

In [110]:
df09['avg'] = df09.mean(axis=1)
df09[0:1000].to_csv('df09.csv')

In [16]:
df_final = pd.DataFrame(columns = ['ON_9','ON_10','ON_11'])

In [17]:
df_final['ON_9'] = df09['ON_9']
df_final.head()

          ON_9 ON_10 ON_11
0  2245.741655   NaN   NaN
1   426.308055   NaN   NaN
2     2.125161   NaN   NaN
3    43.156595   NaN   NaN
4    11.328142   NaN   NaN

In [18]:
df_final['ON_10'] = df09['ON_10']

In [19]:
df_final['ON_11'] = df09['ON']

In [20]:
df_final.head()

          ON_9        ON_10        ON_11
0  2245.741655  2091.098683  1630.264645
1   426.308055   386.600244   324.298011
2     2.125161     2.046014     0.682106
3    43.156595    36.044479    22.415086
4    11.328142    22.438979     7.555196

In [21]:
df_final['AVG'] = df_final.mean(axis = 1)

In [22]:
df_final.head()

          ON_9        ON_10        ON_11          AVG
0  2245.741655  2091.098683  1630.264645  1989.034995
1   426.308055   386.600244   324.298011   379.068770
2     2.125161     2.046014     0.682106     1.617761
3    43.156595    36.044479    22.415086    33.872053
4    11.328142    22.438979     7.555196    13.774106

In [34]:
df09 = make_table(TS_INFILE,TABLE, MONTH1, MONTH2,MONTH3) 
df13 = make_table(TS_INFILE,TABLE, MONTH4, MONTH5,MONTH6) 
print(df09.columns)

Index(['ON_9', 'ON_10', 'ON_11', 'AVG'], dtype='object')