In [2]:
import pandas as pd

In [22]:
store = pd.HDFStore('E:\Transit_Casa\Output/gtfs1.h5')
df = store.select('sfmuni',where = 'MONTH = "2009-02-21"')
rail_stops = df[df['ROUTE_TYPE'] == 0]

stops = rail_stops[['STOP_ID','STOP_LAT','STOP_LON','MONTH','DIR','STOPNAME']]

#stops09 = stops[stops[stops['MONTH'].isin(pd.date_range(start = '2009-01-01',end = '2009-12-31'))]
#stops09 = stops09[['STOP_ID','STOP_LAT','STOP_LON']].groupby(by = 'STOP_ID').mean()

In [18]:
stops.head()

             STOP_ID   STOP_LAT    STOP_LON      MONTH  DIR
5894 197237     5184  37.807248 -122.417366 2009-02-21    0
5895 197238     3092  37.807407 -122.414125 2009-02-21    0
5896 197239     3095  37.807841 -122.410810 2009-02-21    0
5897 197240     4502  37.806629 -122.406030 2009-02-21    0
5898 197241     4529  37.805022 -122.403314 2009-02-21    0

In [21]:
stops[stops['STOP_ID'] == 7252]

             STOP_ID   STOP_LAT    STOP_LON      MONTH  DIR
6395 453088     7252  37.769392 -122.433694 2009-02-21    0
     152271     7252  37.769392 -122.433694 2009-02-21    0
     152210     7252  37.769392 -122.433694 2009-02-21    0
     152174     7252  37.769392 -122.433694 2009-02-21    0
     152113     7252  37.769392 -122.433694 2009-02-21    0
     152332     7252  37.769392 -122.433694 2009-02-21    0
     359127     7252  37.769392 -122.433694 2009-02-21    0
     359066     7252  37.769392 -122.433694 2009-02-21    0
     359249     7252  37.769392 -122.433694 2009-02-21    0
     359188     7252  37.769392 -122.433694 2009-02-21    0
     359005     7252  37.769392 -122.433694 2009-02-21    0
     60665      7252  37.769392 -122.433694 2009-02-21    0
     60726      7252  37.769392 -122.433694 2009-02-21    0
     60543      7252  37.769392 -122.433694 2009-02-21    0
     60604      7252  37.769392 -122.433694 2009-02-21    0
     60482      7252  37.769392 -122.433694 2009-02-21    0
     448225     7252  37.769392 -122.433694 2009-02-21    0
     448286     7252  37.769392 -122.433694 2009-02-21    0
     448103     7252  37.769392 -122.433694 2009-02-21    0
     448164     7252  37.769392 -122.433694 2009-02-21    0
     448042     7252  37.769392 -122.433694 2009-02-21    0
     267672     7252  37.769392 -122.433694 2009-02-21    0
     267611     7252  37.769392 -122.433694 2009-02-21    0
     267794     7252  37.769392 -122.433694 2009-02-21    0
     267733     7252  37.769392 -122.433694 2009-02-21    0
     323558     7252  37.769392 -122.433694 2009-02-21    0
     323497     7252  37.769392 -122.433694 2009-02-21    0
     267550     7252  37.769392 -122.433694 2009-02-21    0
     323655     7252  37.769392 -122.433694 2009-02-21    0
     323594     7252  37.769392 -122.433694 2009-02-21    0
...              ...        ...         ...        ...  ...
     179195     7252  37.769392 -122.433694 2009-02-21    0
     179307     7252  37.769392 -122.433694 2009-02-21    0
     60446      7252  37.769392 -122.433694 2009-02-21    0
     342631     7252  37.769392 -122.433694 2009-02-21    0
     9700       7252  37.769392 -122.433694 2009-02-21    0
     342657     7252  37.769392 -122.433694 2009-02-21    0
     283425     7252  37.769392 -122.433694 2009-02-21    0
     283486     7252  37.769392 -122.433694 2009-02-21    0
     413055     7252  37.769392 -122.433694 2009-02-21    0
     216721     7252  37.769392 -122.433694 2009-02-21    0
     389131     7252  37.769392 -122.433694 2009-02-21    0
     216955     7252  37.769392 -122.433694 2009-02-21    0
     398097     7252  37.769392 -122.433694 2009-02-21    0
     398036     7252  37.769392 -122.433694 2009-02-21    0
     398281     7252  37.769392 -122.433694 2009-02-21    0
     21660      7252  37.769392 -122.433694 2009-02-21    0
     21599      7252  37.769392 -122.433694 2009-02-21    0
     94405      7252  37.769392 -122.433694 2009-02-21    0
     94319      7252  37.769392 -122.433694 2009-02-21    0
     94258      7252  37.769392 -122.433694 2009-02-21    0
     94197      7252  37.769392 -122.433694 2009-02-21    0
     94136      7252  37.769392 -122.433694 2009-02-21    0
     271514     7252  37.769392 -122.433694 2009-02-21    0
     271575     7252  37.769392 -122.433694 2009-02-21    0
     271636     7252  37.769392 -122.433694 2009-02-21    0
     271672     7252  37.769392 -122.433694 2009-02-21    0
     271733     7252  37.769392 -122.433694 2009-02-21    0
     453002     7252  37.769392 -122.433694 2009-02-21    0
     452835     7252  37.769392 -122.433694 2009-02-21    0
     452921     7252  37.769392 -122.433694 2009-02-21    0

[128 rows x 5 columns]

In [13]:
store.select_column('sfmuni','MONTH').unique()

array(['2009-02-21T00:00:00.000000000', '2009-06-13T00:00:00.000000000',
       '2009-12-05T00:00:00.000000000', '2010-05-08T00:00:00.000000000'], dtype='datetime64[ns]')