In [1]:
import pandas as pd

In [51]:
muni09 = pd.read_csv('E:\Transit-Casa-Alex\Input\MUNI Rail/MUNI Rail Ridership.csv')
muni16 = pd.read_csv('E:\Transit-Casa-Alex\Input\MUNI Rail/MUNI Rail Ridership 2016.csv')

In [3]:
muni09.head()

             Route           STOP Boardings Alightings  DIR  Unnamed: 5
0  59-POWELL/MASON     Taylor&Bay     3,527          0    1         NaN
1  59-POWELL/MASON  Taylor&Colmbs        49          4    1         NaN
2  59-POWELL/MASON   Colmbs&Lmbrd       251         18    1         NaN
3  59-POWELL/MASON   Mason&Grnwch       108         10    1         NaN
4  59-POWELL/MASON  Mason&Filbert        59          5    1         NaN

In [4]:
muni16.head()

,ROUTE,DIRECTION,STOP NAME,STOP ID,STOP SEQ,Time Period,Total Boardings,Total Alightings,Total Train Load,Number of Trips in Time Period,Average Boardings,Average Alightings,Average Train Load,Stop Latitude,Stop Longitude
0,J-Church,INBOUND,San Jose Ave & Geneva Ave,7778,1,7 - Owl,4.4,-,4.4,9,0.5,-,0.5,37.721240,-122.44622
1,J-Church,INBOUND,San Jose Ave & Ocean Ave,6275,2,7 - Owl,2.2,-,6.5,9,0.2,-,0.7,37.722862,-122.44479
2,J-Church,INBOUND,San Jose Ave & Santa Ynez Ave,6288,3,7 - Owl,2.2,-,8.7,9,0.2,-,1.0,37.725680,-122.44244
3,J-Church,INBOUND,San Jose Ave & Santa Rosa Ave,6284,4,7 - Owl,8.7,-,17.5,9,1.0,-,1.9,37.728992,-122.43992
4,J-Church,INBOUND,San Jose Ave/Glen Park Station,4787,5,7 - Owl,2.2,4.4,15.3,9,0.2,0.5,1.7,37.732525,-122.43342

In [40]:
muni16 = muni16.groupby(by = ['ROUTE','STOP NAME','DIRECTION','STOP ID'],as_index = False).sum()
len(muni16)
muni16 = muni16.sort_values(by = 'STOP NAME')

In [41]:
muni16.to_csv('muni16_sorted.csv')

In [23]:
muni16.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 308 entries, 0 to 307
Data columns (total 15 columns):
ROUTE                             308 non-null object
STOP NAME                         308 non-null object
DIRECTION                         308 non-null object
STOP ID                           308 non-null int64
STOP SEQ                          308 non-null int64
Time Period                       308 non-null object
 Total Boardings                  308 non-null object
 Total Alightings                 308 non-null object
 Total Train Load                 308 non-null object
Number of Trips in Time Period    308 non-null int64
 Average Boardings                308 non-null object
 Average Alightings               308 non-null object
 Average Train Load               308 non-null object
Stop Latitude                     308 non-null float64
Stop Longitude                    308 non-null float64
dtypes: float64(2), int64(3), object(10)
memory usage: 38.5+ KB

In [38]:
muni16.head()

,ROUTE,STOP NAME,DIRECTION,STOP ID,STOP SEQ,Time Period,Total Boardings,Total Alightings,Total Train Load,Number of Trips in Time Period,Average Boardings,Average Alightings,Average Train Load,Stop Latitude,Stop Longitude
0,J-Church,30th St & Dolores St,INBOUND,3537,7,7 - Owl,13.4,-,30.9,9,1.5,-,3.4,37.742306,-122.42403
1,J-Church,30th St & Dolores St,OUTBOUND,3538,20,7 - Owl,-,-,8.2,7,-,-,1.2,37.742170,-122.42445
2,J-Church,Church St & 14th St,OUTBOUND,7316,8,7 - Owl,7.6,2.1,14.5,7,1.1,0.3,2.1,37.767784,-122.42899
3,J-Church,Church St & 16th St,INBOUND,3985,18,7 - Owl,-,-,100.4,9,-,-,11.2,37.764385,-122.42861
4,J-Church,Church St & 16th St,OUTBOUND,3984,9,7 - Owl,-,4.1,10.4,7,-,0.6,1.5,37.764620,-122.42872

In [33]:
muni16.head()

,ROUTE,DIRECTION,STOP NAME,STOP ID,STOP SEQ,Time Period,Total Boardings,Total Alightings,Total Train Load,Number of Trips in Time Period,Average Boardings,Average Alightings,Average Train Load,Stop Latitude,Stop Longitude
0,J-Church,INBOUND,San Jose Ave & Geneva Ave,7778,1,7 - Owl,4.4,-,4.4,9,0.5,-,0.5,37.721240,-122.44622
1,J-Church,INBOUND,San Jose Ave & Ocean Ave,6275,2,7 - Owl,2.2,-,6.5,9,0.2,-,0.7,37.722862,-122.44479
2,J-Church,INBOUND,San Jose Ave & Santa Ynez Ave,6288,3,7 - Owl,2.2,-,8.7,9,0.2,-,1.0,37.725680,-122.44244
3,J-Church,INBOUND,San Jose Ave & Santa Rosa Ave,6284,4,7 - Owl,8.7,-,17.5,9,1.0,-,1.9,37.728992,-122.43992
4,J-Church,INBOUND,San Jose Ave/Glen Park Station,4787,5,7 - Owl,2.2,4.4,15.3,9,0.2,0.5,1.7,37.732525,-122.43342

In [58]:
muni09.head()

             Route           STOP Boardings Alightings  DIR  Unnamed: 5
0  59-POWELL/MASON     Taylor&Bay     3,527          0    1         NaN
1  59-POWELL/MASON  Taylor&Colmbs        49          4    1         NaN
2  59-POWELL/MASON   Colmbs&Lmbrd       251         18    1         NaN
3  59-POWELL/MASON   Mason&Grnwch       108         10    1         NaN
4  59-POWELL/MASON  Mason&Filbert        59          5    1         NaN

In [71]:
store = pd.HDFStore("E:/Transit_Casa/Output/sfmuni_monthly_ts.h5")

df = store.get('rs_day')
df = df[df['MONTH'].isin(pd.date_range('2009-01-01','2009-12-01'))]

In [72]:
pd.set_option('max_columns',500)
df.head()

,MONTH,DOW,AGENCY_ID,ROUTE_SHORT_NAME,DIR,SEQ,NUMDAYS,OBSDAYS,TRIP_STOPS,OBS_TRIP_STOPS,WGT_TRIP_STOPS,STOP_ID,ROUTE_LONG_NAME,ROUTE_TYPE,TRIP_HEADSIGN,HEADWAY_S,FARE,STOPNAME,STOPNAME_AVL,STOP_LAT,STOP_LON,EOL,SOL,TIMEPOINT,ARRIVAL_TIME_DEV,DEPARTURE_TIME_DEV,DWELL_S,DWELL,RUNTIME_S,RUNTIME,TOTTIME_S,TOTTIME,SERVMILES_S,SERVMILES,RUNSPEED_S,RUNSPEED,TOTSPEED_S,TOTSPEED,ONTIME5,ON,OFF,LOAD_ARR,LOAD_DEP,PASSMILES,PASSHOURS,WAITHOURS,FULLFARE_REV,PASSDELAY_DEP,PASSDELAY_ARR,RDBRDNGS,DOORCYCLES,WHEELCHAIR,BIKERACK,CAPACITY,VC,CROWDED,CROWDHOURS
0,2009-06-01,1,SFMTA,016AX,0,3,12,11,13,2,13.0,3612,NORIEGA A EXP,3,48th Avenue,10.666667,2.0,Cyril Magnin St & Market St,5TH ST NORTH&MARKET ST NW,37.784011,-122.408210,0,1,1.0,-4.083968,-0.189805,0.0,50.597210,0.00,0.000000,0.00,50.597210,0.000,0.000,0.00,0.00,0.00,0.00,0.671212,212.620346,1.181818,1.181818,212.620346,0.000000,14.251523,20.181656,425.240693,140.166169,75.003247,0.0,19.716667,0.0,0.0,177.545455,0.001443,0.0,0.0
1,2009-06-01,1,SFMTA,016AX,0,4,12,0,13,0,13.0,7305,NORIEGA A EXP,3,48th Avenue,10.666667,2.0,Eddy St & Cyril Magnin St,nan,37.784386,-122.408599,0,0,NaN,NaN,NaN,0.0,NaN,2.99,NaN,2.99,NaN,0.546,0.546,10.96,NaN,10.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-06-01,1,SFMTA,016AX,0,5,12,11,13,2,13.0,6733,NORIEGA A EXP,3,48th Avenue,10.666667,2.0,Turk St & Taylor St,TURK ST&TAYLOR ST N-MB/BZ,37.783387,-122.409895,0,0,0.0,-0.104658,-0.083203,0.0,0.286000,11.05,15.190106,11.05,15.476106,1.716,1.716,9.32,6.78,9.32,6.65,0.739394,3.309091,0.000000,212.620346,215.929437,28.065886,4.450685,0.281667,6.618182,0.269455,0.222182,0.0,2.600000,0.0,0.0,177.545455,0.259610,0.0,0.0
3,2009-06-01,1,SFMTA,016AX,0,6,12,11,13,2,13.0,6719,NORIEGA A EXP,3,48th Avenue,10.666667,2.0,Turk St & Jones St,TURK ST&JONES ST NW-FS/BZ,37.783039,-122.412577,0,0,0.0,-0.286771,-0.281673,0.0,0.067955,12.74,10.124777,12.74,10.192732,1.937,1.937,9.12,11.48,9.12,11.40,0.643074,0.531818,0.000000,215.929437,216.461255,32.173486,2.842919,0.059091,1.063636,0.850909,0.806591,0.0,0.937013,0.0,0.0,177.545455,0.263650,0.0,0.0
4,2009-06-01,1,SFMTA,016AX,0,7,12,11,13,2,13.0,6721,NORIEGA A EXP,3,48th Avenue,10.666667,2.0,Turk St & Leavenworth St,TURK ST&LEAVENWORTH ST NW,37.782835,-122.414217,0,0,0.0,-0.230974,-0.212814,0.0,0.236082,7.80,8.448762,7.80,8.684844,1.183,1.183,9.10,8.40,9.10,8.17,0.643074,4.445887,0.000000,216.461255,220.907143,19.697974,2.593526,0.492424,8.891775,0.263377,0.187403,0.0,8.047619,0.0,0.0,177.545455,0.264299,0.0,0.0

In [59]:
pd.merge(muni09,df,left_on= 'STOP',right_on = 'STOPNAME')

Empty DataFrame
Columns: [Route, STOP, Boardings, Alightings, DIR, Unnamed: 5, MONTH, DOW, AGENCY_ID, STOP_ID, NUMDAYS, OBSDAYS, TRIP_STOPS, OBS_TRIP_STOPS, WGT_TRIP_STOPS, HEADWAY_S, FARE, STOPNAME, STOPNAME_AVL, STOP_LAT, STOP_LON, EOL, SOL, TIMEPOINT, ARRIVAL_TIME_DEV, DEPARTURE_TIME_DEV, DWELL_S, DWELL, RUNTIME_S, RUNTIME, TOTTIME_S, TOTTIME, SERVMILES_S, SERVMILES, RUNSPEED_S, RUNSPEED, TOTSPEED_S, TOTSPEED, ONTIME5, ON, OFF, LOAD_ARR, LOAD_DEP, PASSMILES, PASSHOURS, WAITHOURS, FULLFARE_REV, PASSDELAY_DEP, PASSDELAY_ARR, RDBRDNGS, DOORCYCLES, WHEELCHAIR, BIKERACK, CAPACITY, VC, CROWDED, CROWDHOURS]
Index: []

In [74]:
df2 = df[['ROUTE_SHORT_NAME','STOPNAME','STOP_ID','DIR']].groupby(by=['ROUTE_SHORT_NAME','DIR','STOPNAME'], as_index = False).first()
df2 =df2.sort_values(by= 'STOPNAME')
df2.to_csv('bus_sorted.csv')