In [1]:
import pandas as pd
import geopandas as gp
import geocoder 
from shapely.geometry import Point
%matplotlib inline
pd.set_option('max_columns',500)

# Scroll Down to where the Pivoting Starts

In [34]:
hi = pd.read_csv('C:/Users/ramu225/University of Kentucky/Erhardt, Greg - SF-TNC/Data/HousingInventory/sfhousingcompletesthrough2011.csv')

In [35]:
hu10 = gp.read_file('E:/Transit-Casa-Alex/Input/Population and Housing Units (Blocks)/2010/Population_Houses_Blocks.shp')

In [36]:
hu10.head()

,BLOCKCE,BLOCKID10,COUNTYFP10,HOUSING10,PARTFLG,POP10,STATEFP10,TRACTCE10,geometry
0,3028,060750313023028,075,33,N,116,06,031302,"POLYGON ((-122.469306 37.712526, -122.468748 3..."
1,6025,060750255006025,075,1,N,1,06,025500,"POLYGON ((-122.442387 37.725793, -122.443066 3..."
2,1010,060750261001010,075,64,N,237,06,026100,"POLYGON ((-122.439127 37.720972, -122.439382 3..."
3,1001,060750201001001,075,0,N,0,06,020100,"POLYGON ((-122.418618 37.773053, -122.418855 3..."
4,2006,060750178022006,075,145,N,196,06,017802,"POLYGON ((-122.413587 37.77466, -122.413161 37..."

In [37]:
hi.YEAR.unique()

array([2009], dtype=int64)

In [38]:
hu09 = hi[hi['YEAR'] == 2009]

In [39]:
hu09.head()

,X,Y,OBJECTID_1,OBJECTID,PLANAREA,ACTDATE,YEAR,APP_NO,APP_ID,NUMBER,STREET,ST_TYPE,DESCRIPT,PROP_USE,PD,SD,BLOCK,LOT,BLOCKLOT,NETUNITS,UNITS,FILEDT,FM,EXT_USE,ACTION,ZONING,STAFF,AFFORD,HEIGHT,AFF_HSG,DEV_NAME,AFF_NOTES,AFF_TARGET,MERGELEGAL,GENZONE,TENURE,AFF_GROUP,ADDRESS,supervisor,supname,Distance
0,6005822.338,2104358.321,389,608,Mission,6/1/2009,2009,2.010000e+11,657033.0,3676,20TH,ST,"ADD STORY TO HOUSE, MAKE 2 UNITS. REVISION TO...",2 FAMILY DWELLING,8,8,3597,26,3597026,1,2,3/6/2008,8,1 FAMILY DWELLING,FINAL INSPECT/APPRVD,RTO-Mission,MWOODS,NaN,55-X,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6000451.148,2114764.120,4139,969,NaN,7/1/2009,2009,2.010000e+11,600372.0,2815,PINE,ST,TO COMPLY WITH HIS NOV 199602226. LEGALIZE SEC...,2 FAMILY DWELLING,5,5,1048,34,1048034,1,2,28/11/2006,3,1 FAMILY DWELLING,CFC ISSUED,RH-2,DLINDSAY,NaN,40-X,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5992750.911,2104090.111,23,913,NaN,8/1/2009,2009,2.000000e+11,515343.0,1675,11TH,AV,HORIZONTAL AND VERTICAL ADDITION WHILE ADDING ...,2 FAMILY DWELLING,14,7,1932,13,1932013,1,2,15/06/2004,3,1 FAMILY DWELLING,PRE-FINAL,RH-2,MSMITH,NaN,40-X,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6005733.081,2100189.099,409,929,NaN,8/1/2009,2009,2.010000e+11,565195.0,119,27TH,ST,SCOPE IS TO LEGALIZE /CONVERT GRD FL CHURCH SP...,2 FAMILY DWELLING,7,8,6594,43,6594043,1,2,23/11/2005,3,1 FAMILY DWELLING,FINAL INSPECT/APPRVD,RH-2,TWANG,NaN,40-X,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6008647.518,2101419.641,1472,607,Mission,8/1/2009,2009,2.010000e+11,614915.0,1218,TREAT,AV,ERECT 3 STORY TYPE 5 2 FAMILY DWELLINGS,2 FAMILY DWELLING,1,9,6524,4,6524004,2,2,2/5/2007,2,NaN,CFC ISSUED,RH-2,EOROPEZA,NaN,40-X,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
len(hu09)

260

In [41]:
add = geocoder.google('3676 20TH ST San Francisco, Ca')

In [42]:
add.lat

37.758642

In [43]:
#there was one address that initially had 08th instead of 8th
hu09['STREET'].loc[157] = '8TH'

C:\Anaconda\lib\site-packages\pandas\core\indexing.py:141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [44]:
str(hu09['NUMBER'][0]) + ' '+ str(hu09['STREET'][0]) + ' ' + str(hu09['ST_TYPE'][0]) + ' San Francisco, CA'

'3676 20TH ST San Francisco, CA'

In [45]:
def combine_address(row):
    address = str(row['NUMBER']) + ' '+ str(row['STREET']) + ' ' + str(row['ST_TYPE']) + ' San Francisco, CA'
    return address

In [46]:
hu09['ADDRESS'] = hu09.apply(lambda row: combine_address(row),axis = 1)

In [47]:
hu09.head()

,X,Y,OBJECTID_1,OBJECTID,PLANAREA,ACTDATE,YEAR,APP_NO,APP_ID,NUMBER,STREET,ST_TYPE,DESCRIPT,PROP_USE,PD,SD,BLOCK,LOT,BLOCKLOT,NETUNITS,UNITS,FILEDT,FM,EXT_USE,ACTION,ZONING,STAFF,AFFORD,HEIGHT,AFF_HSG,DEV_NAME,AFF_NOTES,AFF_TARGET,MERGELEGAL,GENZONE,TENURE,AFF_GROUP,ADDRESS,supervisor,supname,Distance
0,6005822.338,2104358.321,389,608,Mission,6/1/2009,2009,2.010000e+11,657033.0,3676,20TH,ST,"ADD STORY TO HOUSE, MAKE 2 UNITS. REVISION TO...",2 FAMILY DWELLING,8,8,3597,26,3597026,1,2,3/6/2008,8,1 FAMILY DWELLING,FINAL INSPECT/APPRVD,RTO-Mission,MWOODS,NaN,55-X,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3676 20TH ST San Francisco, CA",NaN,NaN,NaN
1,6000451.148,2114764.120,4139,969,NaN,7/1/2009,2009,2.010000e+11,600372.0,2815,PINE,ST,TO COMPLY WITH HIS NOV 199602226. LEGALIZE SEC...,2 FAMILY DWELLING,5,5,1048,34,1048034,1,2,28/11/2006,3,1 FAMILY DWELLING,CFC ISSUED,RH-2,DLINDSAY,NaN,40-X,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2815 PINE ST San Francisco, CA",NaN,NaN,NaN
2,5992750.911,2104090.111,23,913,NaN,8/1/2009,2009,2.000000e+11,515343.0,1675,11TH,AV,HORIZONTAL AND VERTICAL ADDITION WHILE ADDING ...,2 FAMILY DWELLING,14,7,1932,13,1932013,1,2,15/06/2004,3,1 FAMILY DWELLING,PRE-FINAL,RH-2,MSMITH,NaN,40-X,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1675 11TH AV San Francisco, CA",NaN,NaN,NaN
3,6005733.081,2100189.099,409,929,NaN,8/1/2009,2009,2.010000e+11,565195.0,119,27TH,ST,SCOPE IS TO LEGALIZE /CONVERT GRD FL CHURCH SP...,2 FAMILY DWELLING,7,8,6594,43,6594043,1,2,23/11/2005,3,1 FAMILY DWELLING,FINAL INSPECT/APPRVD,RH-2,TWANG,NaN,40-X,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"119 27TH ST San Francisco, CA",NaN,NaN,NaN
4,6008647.518,2101419.641,1472,607,Mission,8/1/2009,2009,2.010000e+11,614915.0,1218,TREAT,AV,ERECT 3 STORY TYPE 5 2 FAMILY DWELLINGS,2 FAMILY DWELLING,1,9,6524,4,6524004,2,2,2/5/2007,2,NaN,CFC ISSUED,RH-2,EOROPEZA,NaN,40-X,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1218 TREAT AV San Francisco, CA",NaN,NaN,NaN

In [ ]:
hu09['LAT'] = hu09['ADDRESS'].apply(lambda value: geocoder.google(value).lat)

In [ ]:
t= geocoder.google(hu09['ADDRESS'][0])

In [ ]:
hu09['LON'] = hu09['ADDRESS'].apply(lambda value:  geocoder.google(value).lng)

In [ ]:
t.geometry

In [ ]:
#hu09['geometry'] = hu09['ADDRESS'].apply(lambda value: geocoder.google(value).geometry)

In [ ]:
hu09['geometry'] = [Point(xy) for xy in zip(hu09.LON, hu09.LAT)]

In [ ]:
hu09['LAT'].head()

In [ ]:
hu09_geo = gp.GeoDataFrame(hu09)

In [ ]:
hu09_geo.crs = {'init':'epsg:4326'}

In [ ]:
hu09_geo.plot()

In [ ]:
len(hu09)

In [ ]:
hu09_geo.to_file('housing_units_change09.shp',driver = 'ESRI Shapefile')

In [ ]:
blocks = gp.read_file('E:/Transit-Casa-Alex/Input/Population and Housing Units (Blocks)/2010/SF/San_Fran_Pop_HU.shp')

In [ ]:
hu09_geo = hu09_geo.to_crs = blocks.crs

In [ ]:
final = gp.sjoin(hu09_geo,blocks, how= 'left')

In [ ]:
final.plot()

In [ ]:
final.head()

In [ ]:
net_change = final[['NETUNITS','GEOID10']].groupby(by = 'GEOID10',as_index = False).sum()

In [ ]:
final2.head(20)

In [ ]:
final2 ['NETUNITS'] = final2.NETUNITS.fillna(0)

In [142]:
final2['HU09'] = final2['HOUSING10'] + final2['NETUNITS']

In [144]:
final2.NETUNITS.unique()

array([   0.,    3.,   -2.,    2.,    1.,   -3.,   23.,    6.,    8.,
         -1.,    7.,  440.,   53.,   69.,    5.,  -11.,  413.,  420.,
         50.,   35.,   12.,   -6.,   -5.,   75.,  136.,   67.,  138.,
         -4.,   83.,   65.,  122.,   48.,    9.,   11.,    4.,   18.,
        192.,   98.,   56.])

In [146]:
final2['HU09'] = final2['HU09'].clip(lower = 0)

In [147]:
final2.head()

,ALAND10,AWATER10,BLOCKCE,BLOCKCE10,BLOCKID10,BLOCK_ID,COUNTYFP10,COUNTYFP_1,EDHLTH_RAC,EDHLTH_WAC,EMP_RAC,EMP_WAC,FUNCSTAT10,GEOID10,HOUSING10,INTPTLAT10,INTPTLON10,LEISER_RAC,LEISER_WAC,MTFCC10,NAME10,OTHER_RAC,OTHER_WAC,PARTFLG,POP10,RETAIL_RAC,RETAIL_WAC,STATEFP10_,STATEFP1_1,TRACTCE10_,TRACTCE1_1,UACE10,UATYP10,UR10,Unnamed_ 0,Unnamed__1,createda_1,createdate,geometry,geometry_y,h_geocode,w_geocode,NETUNITS,HU09
0,13606.0,0.0,3028,3028.0,6.075031e+13,6.075031e+13,075,75.0,5.0,0.0,28.0,4.0,S,6.075031e+13,33,37.711634,-122.468893,7.0,0.0,G5040,Block 3028,13.0,4.0,N,116,3.0,0.0,06,6.0,031302,31302.0,78904.0,U,U,4707.0,4707.0,20160228.0,20160228.0,"POLYGON ((-122.469306 37.712526, -122.468748 3...","POLYGON ((-122.469306 37.712526, -122.468748 3...",6.075031e+13,6.075031e+13,0.0,33.0
1,133856.0,0.0,6025,6025.0,6.075026e+13,6.075026e+13,075,75.0,2.0,0.0,13.0,4.0,S,6.075026e+13,1,37.725038,-122.444836,3.0,0.0,G5040,Block 6025,8.0,1.0,N,1,0.0,3.0,06,6.0,025500,25500.0,78904.0,U,U,1287.0,1287.0,20160228.0,20160228.0,"POLYGON ((-122.442387 37.725793, -122.443066 3...","POLYGON ((-122.442387 37.725793, -122.443066 3...",6.075026e+13,6.075026e+13,0.0,1.0
2,14510.0,0.0,1010,1010.0,6.075026e+13,6.075026e+13,075,75.0,24.0,0.0,118.0,2.0,S,6.075026e+13,64,37.721304,-122.439586,16.0,0.0,G5040,Block 1010,66.0,2.0,N,237,12.0,0.0,06,6.0,026100,26100.0,78904.0,U,U,4710.0,4710.0,20160228.0,20160228.0,"POLYGON ((-122.439127 37.720972, -122.439382 3...","POLYGON ((-122.439127 37.720972, -122.439382 3...",6.075026e+13,6.075026e+13,0.0,64.0
3,10639.0,0.0,1001,1001.0,6.075020e+13,6.075020e+13,075,75.0,0.0,0.0,1.0,115.0,S,6.075020e+13,0,37.774160,-122.419404,0.0,0.0,G5040,Block 1001,1.0,36.0,N,0,0.0,79.0,06,6.0,020100,20100.0,78904.0,U,U,1516.0,1516.0,20160228.0,20160228.0,"POLYGON ((-122.418618 37.773053, -122.418855 3...","POLYGON ((-122.418618 37.773053, -122.418855 3...",6.075020e+13,6.075020e+13,0.0,0.0
4,14524.0,0.0,2006,2006.0,6.075018e+13,6.075018e+13,075,75.0,4.0,0.0,17.0,296.0,S,6.075018e+13,145,37.774138,-122.412692,2.0,2.0,G5040,Block 2006,9.0,263.0,N,196,2.0,31.0,06,6.0,017802,17802.0,78904.0,U,U,1294.0,1294.0,20160228.0,20160228.0,"POLYGON ((-122.413587 37.77466, -122.413161 37...","POLYGON ((-122.413587 37.77466, -122.413161 37...",6.075018e+13,6.075018e+13,0.0,145.0

# Pivoting from 2010 to 2009

In [109]:
hu = gp.read_file('E:/Transit-Casa-Alex/Input/Population and Housing Units (Blocks)/2010/SF/San_Fran_Pop_HU.shp')

In [110]:
change = gp.read_file('E:/Transit-Casa-Alex/Output/Housing Inventory/2009/2009_housing_units_change.shp')

In [4]:
hu.head()

,ALAND10_x,ALAND10_y,AWATER10,BLOCKCE,BLOCKCE10,BLOCKID10,BLOCK_ID,COUNTYFP10,COUNTYFP_1,EDHLTH_RAC,EDHLTH_WAC,EMP_RAC,EMP_WAC,FUNCSTAT10,GEOID10,HOUSING16,INTPTLAT10,INTPTLON10,LEISER_RAC,LEISER_WAC,MTFCC10,NAME10,OTHER_RAC,OTHER_WAC,PARTFLG,RETAIL_RAC,RETAIL_WAC,STATEFP10_,STATEFP1_1,TRACTCE10_,TRACTCE1_1,UACE10,UATYP10,UR10,Unnamed_ 0,createda_1,createdate,geometry,geometry_y,h_geocode,w_geocode
0,1.464361e+05,13606.0,0.0,3028,3028.0,6.075031e+13,6.075031e+13,075,75.0,5.0,0.0,28.0,4.0,S,6.075031e+13,32.0,37.711634,-122.468893,7.0,0.0,G5040,Block 3028,13.0,4.0,N,3.0,0.0,06,6.0,031302,31302.0,78904.0,U,U,4707.0,20160228.0,20160228.0,"POLYGON ((-122.469306 37.71252599999976, -122....","POLYGON ((-122.469306 37.712526, -122.468748 3...",6.075031e+13,6.075031e+13
1,1.440598e+06,133856.0,0.0,6025,6025.0,6.075026e+13,6.075026e+13,075,75.0,2.0,0.0,13.0,4.0,S,6.075026e+13,1.0,37.725038,-122.444836,3.0,0.0,G5040,Block 6025,8.0,1.0,N,0.0,3.0,06,6.0,025500,25500.0,78904.0,U,U,1287.0,20160228.0,20160228.0,"POLYGON ((-122.442387 37.72579299999975, -122....","POLYGON ((-122.442387 37.725793, -122.443066 3...",6.075026e+13,6.075026e+13
2,1.561624e+05,14510.0,0.0,1010,1010.0,6.075026e+13,6.075026e+13,075,75.0,24.0,0.0,118.0,2.0,S,6.075026e+13,64.0,37.721304,-122.439586,16.0,0.0,G5040,Block 1010,66.0,2.0,N,12.0,0.0,06,6.0,026100,26100.0,78904.0,U,U,4710.0,20160228.0,20160228.0,"POLYGON ((-122.439127 37.72097199999975, -122....","POLYGON ((-122.439127 37.720972, -122.439382 3...",6.075026e+13,6.075026e+13
3,1.145054e+05,10639.0,0.0,1001,1001.0,6.075020e+13,6.075020e+13,075,75.0,0.0,0.0,1.0,115.0,S,6.075020e+13,0.0,37.774160,-122.419404,0.0,0.0,G5040,Block 1001,1.0,36.0,N,0.0,79.0,06,6.0,020100,20100.0,78904.0,U,U,1516.0,20160228.0,20160228.0,"POLYGON ((-122.418618 37.77305299999977, -122....","POLYGON ((-122.418618 37.773053, -122.418855 3...",6.075020e+13,6.075020e+13
4,1.563077e+05,14524.0,0.0,2006,2006.0,6.075018e+13,6.075018e+13,075,75.0,4.0,0.0,17.0,296.0,S,6.075018e+13,161.0,37.774138,-122.412692,2.0,2.0,G5040,Block 2006,9.0,263.0,N,2.0,31.0,06,6.0,017802,17802.0,78904.0,U,U,1294.0,20160228.0,20160228.0,"POLYGON ((-122.413587 37.77465999999975, -122....","POLYGON ((-122.413587 37.77466, -122.413161 37...",6.075018e+13,6.075018e+13

In [19]:
change.head()

,GEOID10,NETUNITS,geometry
0,060750101001000,NaN,"POLYGON ((-122.419942 37.809021, -122.419948 3..."
1,060750101001001,NaN,"POLYGON ((-122.419942 37.809021, -122.419938 3..."
2,060750101001002,NaN,"POLYGON ((-122.405659 37.806674, -122.405974 3..."
3,060750101001003,NaN,"POLYGON ((-122.407304 37.807379, -122.407548 3..."
4,060750101001004,NaN,"POLYGON ((-122.412524 37.808625, -122.414164 3..."

In [111]:
change_grouped = change.groupby(by = 'GEOID10',as_index = False).agg({'geometry':'first','NETUNITS':'sum'})

In [112]:
change_grouped_geo = gp.GeoDataFrame(change_grouped)

In [117]:
change.crs = {'init' :'epsg:4326'}
print(change.crs)
hu.crs = {'init' :'epsg:4269'}
#change.plot()

{'init': 'epsg:4326'}

In [89]:
hu09 = hu.merge(change_grouped_geo, left_on = 'BLOCKID10',right_on = 'GEOID10')

In [118]:
change_grouped_geo.crs = {'init':'epsg:4326'}
change_grouped_geo = change_grouped_geo.to_crs(hu.crs)

In [119]:
hu09 = gp.sjoin(hu,change_grouped_geo, how = 'left',op = 'intersects')

C:\Anaconda\lib\site-packages\numpy\lib\function_base.py:2287: RuntimeWarning: invalid value encountered in ? (vectorized)
  outputs = ufunc(*inputs)

In [93]:
len(change)

7386

In [94]:
len(hu09)

7386

In [95]:
hu09['NETUNITS'] = hu09['NETUNITS'].fillna(0)

In [96]:
hu09.HOUSING10

0        33
1         1
2        64
3         0
4       145
5         0
6       114
7        82
8        96
9       135
10        0
11       59
12       46
13       80
14        0
15      339
16        0
17       94
18       65
19       78
20        0
21       84
22        0
23      142
24      119
25       41
26       53
27       70
28      112
29      148
       ...
7356    210
7357      0
7358      0
7359     17
7360      3
7361      0
7362      0
7363      0
7364      0
7365      0
7366      0
7367      0
7368      0
7369      0
7370      0
7371      0
7372      0
7373      4
7374      0
7375      0
7376     18
7377      0
7378     82
7379     23
7380      0
7381      0
7382      0
7383      0
7384    130
7385      0
Name: HOUSING10, dtype: int64

In [97]:
hu09['HOUSING09'] = hu09['HOUSING10'] - hu09['NETUNITS']

In [98]:
hu09.head()

,BLOCKCE,BLOCKID10,COUNTYFP10,HOUSING10,PARTFLG,POP10,STATEFP10,TRACTCE10,geometry_x,GEOID10,geometry_y,NETUNITS,HOUSING09
0,3028,060750313023028,075,33,N,116,06,031302,"POLYGON ((-122.469306 37.712526, -122.468748 3...",060750313023028,"POLYGON ((-122.469306 37.712526, -122.468748 3...",0.0,33.0
1,6025,060750255006025,075,1,N,1,06,025500,"POLYGON ((-122.442387 37.725793, -122.443066 3...",060750255006025,"POLYGON ((-122.442387 37.725793, -122.443066 3...",0.0,1.0
2,1010,060750261001010,075,64,N,237,06,026100,"POLYGON ((-122.439127 37.720972, -122.439382 3...",060750261001010,"POLYGON ((-122.439127 37.720972, -122.439382 3...",0.0,64.0
3,1001,060750201001001,075,0,N,0,06,020100,"POLYGON ((-122.418618 37.773053, -122.418855 3...",060750201001001,"POLYGON ((-122.418618 37.773053, -122.418855 3...",0.0,0.0
4,2006,060750178022006,075,145,N,196,06,017802,"POLYGON ((-122.413587 37.77466, -122.413161 37...",060750178022006,"POLYGON ((-122.413587 37.77466, -122.413161 37...",0.0,145.0

In [99]:
hu09['HOUSING09'] = hu09.HOUSING09.clip_lower(0)

In [100]:
min(hu09['HOUSING09'])

0.0

In [101]:
hu09.HOUSING10.value_counts().head()

0     2450
1       89
55      67
56      65
50      64
Name: HOUSING10, dtype: int64

In [102]:
hu09.HOUSING09.value_counts().head()

0.0     2451
1.0       91
55.0      71
50.0      64
56.0      61
Name: HOUSING09, dtype: int64

In [103]:
hu09.head()

,BLOCKCE,BLOCKID10,COUNTYFP10,HOUSING10,PARTFLG,POP10,STATEFP10,TRACTCE10,geometry_x,GEOID10,geometry_y,NETUNITS,HOUSING09
0,3028,060750313023028,075,33,N,116,06,031302,"POLYGON ((-122.469306 37.712526, -122.468748 3...",060750313023028,"POLYGON ((-122.469306 37.712526, -122.468748 3...",0.0,33.0
1,6025,060750255006025,075,1,N,1,06,025500,"POLYGON ((-122.442387 37.725793, -122.443066 3...",060750255006025,"POLYGON ((-122.442387 37.725793, -122.443066 3...",0.0,1.0
2,1010,060750261001010,075,64,N,237,06,026100,"POLYGON ((-122.439127 37.720972, -122.439382 3...",060750261001010,"POLYGON ((-122.439127 37.720972, -122.439382 3...",0.0,64.0
3,1001,060750201001001,075,0,N,0,06,020100,"POLYGON ((-122.418618 37.773053, -122.418855 3...",060750201001001,"POLYGON ((-122.418618 37.773053, -122.418855 3...",0.0,0.0
4,2006,060750178022006,075,145,N,196,06,017802,"POLYGON ((-122.413587 37.77466, -122.413161 37...",060750178022006,"POLYGON ((-122.413587 37.77466, -122.413161 37...",0.0,145.0

In [104]:
hu09.columns

Index(['BLOCKCE', 'BLOCKID10', 'COUNTYFP10', 'HOUSING10', 'PARTFLG', 'POP10',
       'STATEFP10', 'TRACTCE10', 'geometry_x', 'GEOID10', 'geometry_y',
       'NETUNITS', 'HOUSING09'],
      dtype='object')

In [105]:
hu09.head()

,BLOCKCE,BLOCKID10,COUNTYFP10,HOUSING10,PARTFLG,POP10,STATEFP10,TRACTCE10,geometry_x,GEOID10,geometry_y,NETUNITS,HOUSING09
0,3028,060750313023028,075,33,N,116,06,031302,"POLYGON ((-122.469306 37.712526, -122.468748 3...",060750313023028,"POLYGON ((-122.469306 37.712526, -122.468748 3...",0.0,33.0
1,6025,060750255006025,075,1,N,1,06,025500,"POLYGON ((-122.442387 37.725793, -122.443066 3...",060750255006025,"POLYGON ((-122.442387 37.725793, -122.443066 3...",0.0,1.0
2,1010,060750261001010,075,64,N,237,06,026100,"POLYGON ((-122.439127 37.720972, -122.439382 3...",060750261001010,"POLYGON ((-122.439127 37.720972, -122.439382 3...",0.0,64.0
3,1001,060750201001001,075,0,N,0,06,020100,"POLYGON ((-122.418618 37.773053, -122.418855 3...",060750201001001,"POLYGON ((-122.418618 37.773053, -122.418855 3...",0.0,0.0
4,2006,060750178022006,075,145,N,196,06,017802,"POLYGON ((-122.413587 37.77466, -122.413161 37...",060750178022006,"POLYGON ((-122.413587 37.77466, -122.413161 37...",0.0,145.0

In [106]:
def clean_id(row,clean1,clean2,id):
    """
    This is a function to clean missing values from two columns. Example: if a census block id column has missing values in one id but does have an id in another (after a merge) then this will
    select the column with the non-missing Block ID. 
    
    row = a row of a dataframe passed to this function using the .apply(lambda row: function(row)) method
    clean1 = one of the column names that is to be checked
    clean2 = the other column name to be checked
    id = the column that you want the non-missing values to go to 
    
    """
    if np.isnan(row[clean1]):
        row[id] = row[clean2]
        
    elif np.isnan(row[clean1]) & np.isnan(row[clean2]):
        print('bad row')
        
    else:
        row[id] = row[clean1] 
    return row[id]

In [76]:
hu09['geometry'] = hu09.geometry_x
hu09_geo = gp.GeoDataFrame(hu09)

In [107]:
hu09_geo.to_file('E:/Transit-Casa-Alex/Input/Population and Housing Units (Blocks)/2009/San_Fran_Pop_HU.shp')

ValueError: Invalid field type <class 'shapely.geometry.polygon.Polygon'>