In [29]:
import pandas as pd
import numpy as np

In [204]:
pre_drop09 = pd.read_csv('E:/Transit-Casa-Alex/Output/Modeling/2009/Tenth_Data_rs_day09.csv',index_col = 0)
post_drop09 = pd.read_csv('E:/Transit-Casa-Alex/Output/Modeling/2009/Final_Model_Data_Post_Drop09.csv',index_col = 0)

pre_drop16 = pd.read_csv('E:/Transit-Casa-Alex/Output/Modeling/2016/Tenth_Data_rs_day16.csv',index_col = 0)
post_drop16 = pd.read_csv('E:/Transit-Casa-Alex/Output/Modeling/2016/Final_Model_Data_Post_Drop16.csv',index_col = 0)

model09 = pd.read_csv('Tenth_Modeling_Data.csv')
model16 = pd.read_csv('Tenth_Modeling_Data16.csv')

In [103]:
# changed all of the XXL routes to XXR

In [230]:
post_drop09 = pd.read_csv('post_drop.csv',index_col = 0)
model09=pd.read_csv('model09.csv',index_col = 0)

In [133]:
pre_drop09.head()

,STOP_ID,ROUTE_SHORT_NAME,DIR,SOL,OFF,CAPACITY,CROWDED,DWELL,ROUTE_TYPE,PASSHOURS,...,RETAIL_WAC_SCALED,HOUSING_09_SCALED,NUM_BUS_STOPS,Count_,FID_1,STOP_LAT,STOP_LON,geometry_e,EDD_EMP,geometry_f
0,390,17,1,0.0,55.675676,1123.374883,0.000000,7.043406,3,4.945424,...,25.642785,114.21276,4.0,0.0,0.0,37.72119,-122.475096,POLYGON ((-122.4732708739641 37.72122058726084...,4276.0,POLYGON ((-122.4732708739641 37.72122058726084...
1,390,28,1,0.0,231.755743,810.021612,0.003801,29.984671,3,20.862184,...,25.642785,114.21276,4.0,0.0,0.0,37.72119,-122.475096,POLYGON ((-122.4732708739641 37.72122058726084...,4276.0,POLYGON ((-122.4732708739641 37.72122058726084...
2,390,28L,1,0.0,142.409655,375.734804,0.000000,13.223086,3,7.500257,...,25.642785,114.21276,4.0,0.0,0.0,37.72119,-122.475096,POLYGON ((-122.4732708739641 37.72122058726084...,4276.0,POLYGON ((-122.4732708739641 37.72122058726084...
3,390,29,1,0.0,302.216678,778.930567,0.036238,23.738284,3,24.812916,...,25.642785,114.21276,4.0,0.0,0.0,37.72119,-122.475096,POLYGON ((-122.4732708739641 37.72122058726084...,4276.0,POLYGON ((-122.4732708739641 37.72122058726084...
4,390,91,0,1.0,0.054204,139.725490,0.000000,0.000000,3,0.000000,...,25.642785,114.21276,4.0,0.0,0.0,37.72119,-122.475096,POLYGON ((-122.4732708739641 37.72122058726084...,4276.0,POLYGON ((-122.4732708739641 37.72122058726084...

In [231]:
merged_model = pd.merge(model09,model16,on = ['ROUTE_SHORT_NAME','DIR','STOP_ID'],how = 'inner',suffixes = ('_09','_16'))

In [232]:
merged_model['PARK_HOURLY_AVG_ON_LOG_09'] = np.log(merged_model.PARK_HOURLY_AVG_ON_09+1)
merged_model['PARK_HOURLY_AVG_ON_LOG_16'] = np.log(merged_model.PARK_HOURLY_AVG_ON_16+1)

merged_model['AVG_BART_LOG_09'] = np.log(merged_model.AVG_BART_09+1)
merged_model['AVG_BART_LOG_16'] = np.log(merged_model.AVG_BART_16+1)

merged_model['FREQ_S_LOG_09'] = np.log(merged_model.FREQ_S_09+1)
merged_model['FREQ_S_LOG_16'] = np.log(merged_model.FREQ_S_16+1)

merged_model['HOUSING_09_DEN_LOG'] = np.log(merged_model.HOUSING_09_DEN+1)
merged_model['HOUSING_16_DEN_LOG'] = np.log(merged_model.HOUSING_16_DEN+1)

merged_model['EDD_EMP_LOG_09'] = np.log(merged_model.EDD_EMP_09 + 1)
merged_model['EDD_EMP_LOG_16'] = np.log(merged_model.EDD_EMP_16 + 1)

In [234]:
merged_model[['EDD_EMP_LOG_09','FREQ_S_LOG_09','EOL_SOL_09','HOUSING_09_DEN_LOG','SHR_INCOME_100P_09','PARK_HOURLY_AVG_ON_LOG_09','ONTIME5_09','AVG_BART_LOG_09','CLOSE_STOP_09','LIMITED_09','EXPRESS_09','TRANSBAY_09','MUNI_RAIL_AVG_09','EDD_EMP_LOG_16','FREQ_S_LOG_16','EOL_SOL_16','HOUSING_16_DEN_LOG','SHR_INCOME_100P_16','PARK_HOURLY_AVG_ON_LOG_16','ONTIME5_16','AVG_BART_LOG_16','CLOSE_STOP_16','LIMITED_16','EXPRESS_16','TRANSBAY_16','MUNI_RAIL_AVG_16']].to_csv('Merged Model Data.csv')

In [134]:
merged_pre = pd.merge(pre_drop09,pre_drop16,on = ['ROUTE_SHORT_NAME','DIR','STOP_ID'],how = 'outer',suffixes = ('_09','_16'))

In [135]:
merged_pre.head()

,STOP_ID,ROUTE_SHORT_NAME,DIR,SOL_09,OFF_09,CAPACITY_09,CROWDED_09,DWELL_09,ROUTE_TYPE_09,PASSHOURS_09,...,NUM_BUS_STOPS_16,Count__16,DOW_e,FID_1_16,ROUTE_TYPE_16,STOP_LAT_16,STOP_LON_16,geometry_e_16,EDD_EMP_16,geometry_f_16
0,390,17,1,0.0,55.675676,1123.374883,0.000000,7.043406,3.0,4.945424,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,390,28,1,0.0,231.755743,810.021612,0.003801,29.984671,3.0,20.862184,...,3.0,0.0,1.0,665.0,3.0,37.72119,-122.475096,POLYGON ((-122.4732708739635 37.72122058726102...,84.0,POLYGON ((-122.4732708739635 37.72122058726102...
2,390,28L,1,0.0,142.409655,375.734804,0.000000,13.223086,3.0,7.500257,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,390,29,1,0.0,302.216678,778.930567,0.036238,23.738284,3.0,24.812916,...,3.0,0.0,1.0,665.0,3.0,37.72119,-122.475096,POLYGON ((-122.4732708739635 37.72122058726102...,84.0,POLYGON ((-122.4732708739635 37.72122058726102...
4,390,91,0,1.0,0.054204,139.725490,0.000000,0.000000,3.0,0.000000,...,3.0,0.0,1.0,665.0,3.0,37.72119,-122.475096,POLYGON ((-122.4732708739635 37.72122058726102...,84.0,POLYGON ((-122.4732708739635 37.72122058726102...

In [136]:
post_drop16.head()

,ROUTE_SHORT_NAME,DIR,LOG_RIDERS,EDD_EMP_LOG,STOP_ID,AVG_RIDE,FREQ_S_LOG,EOL_SOL,HOUSING_16_DEN_LOG,SHR_INCOME_100P,PARK_HOURLY_AVG_ON_LOG,ONTIME5,AVG_BART_LOG,CLOSE_STOP,LIMITED,EXPRESS,TRANSBAY,MUNI_RAIL_AVG
0,28,1,6.477286,4.442651,390,649.203572,1.790344,0.0,4.746781,0.697574,5.043425,0.783766,0.0,1,0,0,0.0,2660.15
1,28R,1,5.699720,4.442651,390,297.783775,1.944524,0.0,4.746781,0.697574,5.043425,0.577916,0.0,0,1,0,0.0,2660.15
2,29,1,3.784672,4.442651,390,43.021243,1.790290,0.0,4.746781,0.697574,5.043425,0.277249,0.0,1,0,0,0.0,2660.15
3,91,0,2.852759,4.442651,390,16.335544,1.098612,1.0,4.746781,0.697574,5.043425,0.722235,0.0,1,0,0,0.0,2660.15
4,52,0,2.781043,4.406719,913,15.135847,1.211610,1.0,4.731255,0.208029,0.000000,0.599620,0.0,1,0,0,0.0,0.00

In [137]:
post_drop09.head()

,ROUTE_SHORT_NAME,DIR,LOG_RIDERS,EDD_EMP_LOG,STOP_ID,AVG_RIDE,FREQ_S_LOG,EOL_SOL,HOUSING_09_DEN_LOG,SHR_INCOME_100P,PARK_HOURLY_AVG_ON_LOG,ONTIME5,AVG_BART_LOG,CLOSE_STOP,LIMITED,EXPRESS,ONTIME5.1,TRANSBAY,MUNI_RAIL_AVG
0,17,1,3.911894,8.361007,390,48.993570,1.248563,0.0,4.746781,0.065312,5.043425,0.619299,0.0,1,0,0,0.619299,0,826.0
1,28,1,5.930218,8.361007,390,375.236597,1.768145,0.0,4.746781,0.065312,5.043425,0.621834,0.0,1,0,0,0.621834,0,826.0
2,28R,1,5.261603,8.361007,390,191.790277,1.368138,0.0,4.746781,0.065312,5.043425,0.799302,0.0,1,1,0,0.799302,0,826.0
3,29,1,5.520213,8.361007,390,248.688301,1.298248,0.0,4.746781,0.065312,5.043425,0.596412,0.0,1,0,0,0.596412,0,826.0
4,91,0,2.746150,8.361007,390,14.582524,1.098612,1.0,4.746781,0.065312,5.043425,0.553667,0.0,1,0,0,0.553667,0,826.0

In [138]:
merged_post = pd.merge(post_drop09,post_drop16,how = 'outer',on = ['ROUTE_SHORT_NAME','DIR','STOP_ID'],suffixes = ('_09','_16'))

In [139]:
merged_post.head()

,ROUTE_SHORT_NAME,DIR,LOG_RIDERS_09,EDD_EMP_LOG_09,STOP_ID,AVG_RIDE_09,FREQ_S_LOG_09,EOL_SOL_09,HOUSING_09_DEN_LOG,SHR_INCOME_100P_09,...,HOUSING_16_DEN_LOG,SHR_INCOME_100P_16,PARK_HOURLY_AVG_ON_LOG_16,ONTIME5_16,AVG_BART_LOG_16,CLOSE_STOP_16,LIMITED_16,EXPRESS_16,TRANSBAY_16,MUNI_RAIL_AVG_16
0,17,1,3.911894,8.361007,390,48.993570,1.248563,0.0,4.746781,0.065312,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,28,1,5.930218,8.361007,390,375.236597,1.768145,0.0,4.746781,0.065312,...,4.746781,0.697574,5.043425,0.783766,0.0,1.0,0.0,0.0,0.0,2660.15
2,28R,1,5.261603,8.361007,390,191.790277,1.368138,0.0,4.746781,0.065312,...,4.746781,0.697574,5.043425,0.577916,0.0,0.0,1.0,0.0,0.0,2660.15
3,29,1,5.520213,8.361007,390,248.688301,1.298248,0.0,4.746781,0.065312,...,4.746781,0.697574,5.043425,0.277249,0.0,1.0,0.0,0.0,0.0,2660.15
4,91,0,2.746150,8.361007,390,14.582524,1.098612,1.0,4.746781,0.065312,...,4.746781,0.697574,5.043425,0.722235,0.0,1.0,0.0,0.0,0.0,2660.15

In [140]:
merged_pre.head()

,STOP_ID,ROUTE_SHORT_NAME,DIR,SOL_09,OFF_09,CAPACITY_09,CROWDED_09,DWELL_09,ROUTE_TYPE_09,PASSHOURS_09,...,NUM_BUS_STOPS_16,Count__16,DOW_e,FID_1_16,ROUTE_TYPE_16,STOP_LAT_16,STOP_LON_16,geometry_e_16,EDD_EMP_16,geometry_f_16
0,390,17,1,0.0,55.675676,1123.374883,0.000000,7.043406,3.0,4.945424,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,390,28,1,0.0,231.755743,810.021612,0.003801,29.984671,3.0,20.862184,...,3.0,0.0,1.0,665.0,3.0,37.72119,-122.475096,POLYGON ((-122.4732708739635 37.72122058726102...,84.0,POLYGON ((-122.4732708739635 37.72122058726102...
2,390,28L,1,0.0,142.409655,375.734804,0.000000,13.223086,3.0,7.500257,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,390,29,1,0.0,302.216678,778.930567,0.036238,23.738284,3.0,24.812916,...,3.0,0.0,1.0,665.0,3.0,37.72119,-122.475096,POLYGON ((-122.4732708739635 37.72122058726102...,84.0,POLYGON ((-122.4732708739635 37.72122058726102...
4,390,91,0,1.0,0.054204,139.725490,0.000000,0.000000,3.0,0.000000,...,3.0,0.0,1.0,665.0,3.0,37.72119,-122.475096,POLYGON ((-122.4732708739635 37.72122058726102...,84.0,POLYGON ((-122.4732708739635 37.72122058726102...

In [159]:
merged_post.head()

,ROUTE_SHORT_NAME,DIR,LOG_RIDERS_09,EDD_EMP_LOG_09,STOP_ID,AVG_RIDE_09,FREQ_S_LOG_09,EOL_SOL_09,HOUSING_09_DEN_LOG,SHR_INCOME_100P_09,...,HOUSING_16_DEN_LOG,SHR_INCOME_100P_16,PARK_HOURLY_AVG_ON_LOG_16,ONTIME5_16,AVG_BART_LOG_16,CLOSE_STOP_16,LIMITED_16,EXPRESS_16,TRANSBAY_16,MUNI_RAIL_AVG_16
0,17,1,3.911894,8.361007,390,48.993570,1.248563,0.0,4.746781,0.065312,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,28,1,5.930218,8.361007,390,375.236597,1.768145,0.0,4.746781,0.065312,...,4.746781,0.697574,5.043425,0.783766,0.0,1.0,0.0,0.0,0.0,2660.15
2,28R,1,5.261603,8.361007,390,191.790277,1.368138,0.0,4.746781,0.065312,...,4.746781,0.697574,5.043425,0.577916,0.0,0.0,1.0,0.0,0.0,2660.15
3,29,1,5.520213,8.361007,390,248.688301,1.298248,0.0,4.746781,0.065312,...,4.746781,0.697574,5.043425,0.277249,0.0,1.0,0.0,0.0,0.0,2660.15
4,91,0,2.746150,8.361007,390,14.582524,1.098612,1.0,4.746781,0.065312,...,4.746781,0.697574,5.043425,0.722235,0.0,1.0,0.0,0.0,0.0,2660.15

In [160]:
missing09 = merged_post[np.isnan(merged_post['AVG_RIDE_09'])]
print(missing09.AVG_RIDE_16.sum())

missing16 = merged_post[np.isnan(merged_post['AVG_RIDE_16'])]
print(missing16.AVG_RIDE_09.sum())

92133.50724435228
124768.91028149305

In [ ]:
merged_pre['FREQ_S_09'] = 1/(merged_pre['HEADWAY_S_09']/60)
merged_pre.FREQ_S_09.sum()*24

In [202]:
merged_pre['FREQ_S_16'] = 1/(merged_pre['HEADWAY_S_16']/60)


merged_pre['FREQ_S_16'].drop(7852,axis = 0).sum()*24

568405.872306327

In [142]:
len(merged_pre[np.isnan(merged_pre['ON_09'])])

1579

In [143]:
len(merged_pre[np.isnan(merged_pre['ON_16'])])

2708

In [144]:
merged_pre_inner = pd.merge(pre_drop09,pre_drop16,on = ['ROUTE_SHORT_NAME','DIR','STOP_ID'],how = 'inner',suffixes = ('_09','_16'))

In [145]:
len(merged_pre_inner)

4470

In [146]:
len(merged_post[np.isnan(merged_post['LOG_RIDERS_09'])])

1013

In [147]:
len(merged_post[np.isnan(merged_post['LOG_RIDERS_16'])])

2020

In [148]:
merged_post_inner = pd.merge(post_drop09,post_drop16,on = ['ROUTE_SHORT_NAME','DIR','STOP_ID'],how = 'inner',suffixes = ('_09','_16'))

In [149]:
len(merged_post_inner)

4241

In [150]:
data = merged_post_inner

In [151]:
merged_post.LIMITED_09.sum()
merged_post.LIMITED_16.sum()

190.0

In [152]:
data.head()

,ROUTE_SHORT_NAME,DIR,LOG_RIDERS_09,EDD_EMP_LOG_09,STOP_ID,AVG_RIDE_09,FREQ_S_LOG_09,EOL_SOL_09,HOUSING_09_DEN_LOG,SHR_INCOME_100P_09,...,HOUSING_16_DEN_LOG,SHR_INCOME_100P_16,PARK_HOURLY_AVG_ON_LOG_16,ONTIME5_16,AVG_BART_LOG_16,CLOSE_STOP_16,LIMITED_16,EXPRESS_16,TRANSBAY_16,MUNI_RAIL_AVG_16
0,28,1,5.930218,8.361007,390,375.236597,1.768145,0.0,4.746781,0.065312,...,4.746781,0.697574,5.043425,0.783766,0.0,1,0,0,0.0,2660.15
1,28R,1,5.261603,8.361007,390,191.790277,1.368138,0.0,4.746781,0.065312,...,4.746781,0.697574,5.043425,0.577916,0.0,0,1,0,0.0,2660.15
2,29,1,5.520213,8.361007,390,248.688301,1.298248,0.0,4.746781,0.065312,...,4.746781,0.697574,5.043425,0.277249,0.0,1,0,0,0.0,2660.15
3,91,0,2.746150,8.361007,390,14.582524,1.098612,1.0,4.746781,0.065312,...,4.746781,0.697574,5.043425,0.722235,0.0,1,0,0,0.0,2660.15
4,52,0,3.120669,2.197225,913,21.661540,1.243778,1.0,4.731415,0.055249,...,4.731255,0.208029,0.000000,0.599620,0.0,1,0,0,0.0,0.00

In [153]:
for column in merged_pre_inner.columns.sort_values():
    print(column)

ALAND
ALAND00
AVG_HH_SIZE
AWATER
AWATER00
Average Hourly Price_09
Average Hourly Price_16
BART_FROMS_09
BART_FROMS_16
BART_TOS_09
BART_TOS_16
BIKERACK_09
BIKERACK_16
BIKE_ALIGHTINGS_09
BIKE_ALIGHTINGS_16
BIKE_BOARDINGS_09
BIKE_BOARDINGS_16
BIKE_DOCKCOUNT_09
BIKE_DOCKCOUNT_16
CALTRAIN_OFF_09
CALTRAIN_OFF_16
CALTRAIN_ON_09
CALTRAIN_ON_16
CAPACITY_09
CAPACITY_16
COUNTYFP
COUNTYFP00
CROWDED_09
CROWDED_16
CROWDHOURS_09
CROWDHOURS_16
CTIDFP00
Count__09
Count__16
DIR
DOORCYCLES_09
DOORCYCLES_16
DOW
DOW_e
DWELL_09
DWELL_16
DWELL_S_09
DWELL_S_16
EDD_EMP_09
EDD_EMP_16
EDHLTH_RAC_SCALED_09
EDHLTH_RAC_SCALED_16
EDHLTH_WAC_SCALED_09
EDHLTH_WAC_SCALED_16
EMP_RAC_SCALED_09
EMP_RAC_SCALED_16
EMP_WAC_SCALED_09
EMP_WAC_SCALED_16
EOL_09
EOL_16
FID_1_09
FID_1_16
FULLFARE_REV_09
FULLFARE_REV_16
Geography_09
Geography_16
HEADWAY_S_09
HEADWAY_S_16
HH_0VEH
HH_DEN_ACS_09
HH_DEN_ACS_16
HH_SIZE
HOUSING16_SCALED
HOUSING_09_SCALED
HU_ACS
HU_DEN_ACS_09
HU_DEN_ACS_16
INC_0_15
INC_100P
INC_15_50
INC_50_100
Id2_09
Id2_16
Id_09
Id_16
LEISER_RAC_SCALED_09
LEISER_RAC_SCALED_16
LEISER_WAC_SCALED_09
LEISER_WAC_SCALED_16
LOAD_ARR_09
LOAD_ARR_16
LOAD_DEP_09
LOAD_DEP_16
MUNI_RAIL_ALIGHTINGS_09
MUNI_RAIL_ALIGHTINGS_16
MUNI_RAIL_BOARDINGS_09
MUNI_RAIL_BOARDINGS_16
NAME
NAME00
NUM_BUS_STOPS_09
NUM_BUS_STOPS_16
OCC_RATE_09
OCC_RATE_16
OFF_09
OFF_16
ONTIME5_09
ONTIME5_16
ON_09
ON_16
OTHER_RAC_SCALED_09
OTHER_RAC_SCALED_16
OTHER_WAC_SCALED_09
OTHER_WAC_SCALED_16
PASSDELAY_ARR_09
PASSDELAY_ARR_16
PASSDELAY_DEP_09
PASSDELAY_DEP_16
PASSHOURS_09
PASSHOURS_16
PASSMILES_09
PASSMILES_16
PER_HH_0VEH
PER_INCOME_0-15
PER_INCOME_100+
PER_INCOME_15-50
PER_INCOME_50-100
POPDEN_ACS
POP_ACS
POP_DEN_ACS
PRICE12HR_09
PRICE12HR_16
PRICE1HR_09
PRICE1HR_16
PRICE2HR_09
PRICE2HR_16
PRICE3HR_09
PRICE3HR_16
PRICE4HR_09
PRICE4HR_16
PRICEDAYDISCOUNT_09
PRICEDAYDISCOUNT_16
PRICEDAY_09
PRICEDAY_16
RDBRDNGS_09
RDBRDNGS_16
RETAIL_RAC_SCALED_09
RETAIL_RAC_SCALED_16
RETAIL_WAC_SCALED_09
RETAIL_WAC_SCALED_16
ROUTE_LONG_NAME_09
ROUTE_LONG_NAME_16
ROUTE_SHORT_NAME
ROUTE_TYPE_09
ROUTE_TYPE_16
ROUTE_TYPE_x
ROUTE_TYPE_y
RUNSPEED_09
RUNSPEED_16
RUNSPEED_S_09
RUNSPEED_S_16
RUNTIME_09
RUNTIME_16
RUNTIME_S_09
RUNTIME_S_16
SERVMILES_09
SERVMILES_16
SERVMILES_S_09
SERVMILES_S_16
SOL_09
SOL_16
STOPNAME_09
STOPNAME_16
STOPNAME_AVL_09
STOPNAME_AVL_16
STOP_ID
STOP_LAT_09
STOP_LAT_16
STOP_LAT_x_09
STOP_LAT_x_16
STOP_LAT_y_09
STOP_LAT_y_16
STOP_LON_09
STOP_LON_16
STOP_LON_x_09
STOP_LON_x_16
STOP_LON_y_09
STOP_LON_y_16
TOTSPEED_09
TOTSPEED_16
TOTSPEED_S_09
TOTSPEED_S_16
TOTTIME_09
TOTTIME_16
TOTTIME_S_09
TOTTIME_S_16
TRACTCE
TRACTCE00
Total_Housing_Units
Total_Pop
VAC_RATE_09
VAC_RATE_16
VC_09
VC_16
WAITHOURS_09
WAITHOURS_16
WHEELCHAIR_09
WHEELCHAIR_16
Workers_16_And_Over_Mean_Travel_Time_To_Work_(Minutes)
geometry_09
geometry_16
geometry_a_09
geometry_a_16
geometry_e_09
geometry_e_16
geometry_f_09
geometry_f_16
index_right_09
index_right_16
parking_rate_09
parking_rate_16

In [64]:
merged_post.L

,ROUTE_SHORT_NAME,DIR,LOG_RIDERS_09,EDD_EMP_LOG_09,STOP_ID,AVG_RIDE_09,FREQ_S_LOG_09,EOL_SOL_09,HOUSING_09_DEN_LOG,SHR_INCOME_100P_09,...,HOUSING_16_DEN_LOG,SHR_INCOME_100P_16,PARK_HOURLY_AVG_ON_LOG_16,ONTIME5_16,AVG_BART_LOG_16,CLOSE_STOP_16,LIMITED_16,EXPRESS_16,TRANSBAY_16,MUNI_RAIL_AVG_16
0,28,1,5.930218,8.361007,390,375.236597,1.768145,0.0,4.746781,0.065312,...,4.746781,0.697574,5.043425,0.783766,0.0,1,0,0,0.0,2660.15
1,29,1,5.520213,8.361007,390,248.688301,1.298248,0.0,4.746781,0.065312,...,4.746781,0.697574,5.043425,0.277249,0.0,1,0,0,0.0,2660.15
2,91,0,2.746150,8.361007,390,14.582524,1.098612,1.0,4.746781,0.065312,...,4.746781,0.697574,5.043425,0.722235,0.0,1,0,0,0.0,2660.15
3,52,0,3.120669,2.197225,913,21.661540,1.243778,1.0,4.731415,0.055249,...,4.731255,0.208029,0.000000,0.599620,0.0,1,0,0,0.0,0.00
4,52,1,2.612500,2.197225,913,12.633090,1.229531,1.0,4.731415,0.055249,...,4.731255,0.208029,0.000000,0.619248,0.0,1,0,0,0.0,0.00

In [154]:
merged_post_inner.to_csv('Bus Stops in Both Years Post Dropped Data.csv')

In [129]:
post_drop09.head()

,ROUTE_SHORT_NAME,DIR,LOG_RIDERS,EDD_EMP_LOG,STOP_ID,AVG_RIDE,FREQ_S_LOG,EOL_SOL,HOUSING_09_DEN_LOG,SHR_INCOME_100P,PARK_HOURLY_AVG_ON_LOG,ONTIME5,AVG_BART_LOG,CLOSE_STOP,LIMITED,EXPRESS,ONTIME5.1,TRANSBAY,MUNI_RAIL_AVG
0,17,1,3.911894,8.361007,390,48.993570,1.248563,0.0,4.746781,0.065312,5.043425,0.619299,0.0,1,0,0,0.619299,0,826.0
1,28,1,5.930218,8.361007,390,375.236597,1.768145,0.0,4.746781,0.065312,5.043425,0.621834,0.0,1,0,0,0.621834,0,826.0
2,28R,1,5.261603,8.361007,390,191.790277,1.368138,0.0,4.746781,0.065312,5.043425,0.799302,0.0,1,1,0,0.799302,0,826.0
3,29,1,5.520213,8.361007,390,248.688301,1.298248,0.0,4.746781,0.065312,5.043425,0.596412,0.0,1,0,0,0.596412,0,826.0
4,91,0,2.746150,8.361007,390,14.582524,1.098612,1.0,4.746781,0.065312,5.043425,0.553667,0.0,1,0,0,0.553667,0,826.0

In [130]:
post_drop16.head()

,STOP_ID,ROUTE_SHORT_NAME,DIR,SOL,OFF,CAPACITY,CROWDED,DWELL,ROUTE_TYPE_x,PASSHOURS,...,VC_LOG,WAITHOURS_LOG,DIST_FROM_LAST_STOP,DIST_FROM_LAST_STOP_LOG,SERVMILES_S_LOG,EOL_SOL,CAL_STATION,CLOSE_STOP,LIMITED,EXPRESS
0,390,28,1,0.0,662.875690,1698.088596,0.026450,39.276110,3,45.988693,...,0.237800,4.106451,0.197151,0.179945,3.203478,0.0,0,1,0,0
1,390,28R,1,0.0,181.841813,1283.400000,0.000870,30.364947,3,62.191315,...,0.130646,3.543945,0.405197,0.340177,4.081833,0.0,0,0,1,0
2,390,29,1,0.0,50.469007,3328.636218,0.033426,7.190857,3,20.181317,...,0.305652,1.404552,0.103031,0.098062,2.590917,0.0,0,1,0,0
3,390,91,0,1.0,0.000000,473.194570,0.000000,0.000000,3,0.000000,...,0.000316,2.154631,0.000000,0.000000,0.000000,1.0,0,1,0,0
4,913,52,0,0.0,30.271694,1196.876026,0.000000,26.575731,3,1.558139,...,0.032783,0.000000,0.053698,0.052306,1.396245,1.0,0,1,0,0