In [1]:
import pandas as pd

In [70]:
df = pd.read_csv('E:/Transit-Casa-Alex/MUNI Rail/Output/Modeling/2016/Diff_Mapping_Data.csv')

In [71]:
df.head()

,EDD_EMP_LOG,FREQ_S_LOG,HOUSING_16_DEN_LOG,AVG_BART_LOG,CLOSE_STOP,EOL_SOL,MUNI_BUS_AVG,STOP_ID,AVG_RIDE,PRED_AVG_RIDERSHIP
0,7.527256,1.320575,7.880741,0.0,1,0.0,2833.548265,3212,669.35,292.966829
1,7.185387,1.925794,7.193610,0.0,1,0.0,1168.639681,3266,216.70,297.311558
2,7.184629,1.497044,7.196664,0.0,1,0.0,1184.363119,3267,166.50,218.341469
3,7.665285,1.925890,7.152574,0.0,1,0.0,125.097364,3268,124.95,312.426527
4,7.645876,1.496992,7.155292,0.0,1,0.0,62.621274,3269,56.85,227.660005

In [72]:
df.columns

Index(['EDD_EMP_LOG', 'FREQ_S_LOG', 'HOUSING_16_DEN_LOG', 'AVG_BART_LOG',
       'CLOSE_STOP', 'EOL_SOL', 'MUNI_BUS_AVG', 'STOP_ID', 'AVG_RIDE',
       'PRED_AVG_RIDERSHIP'],
      dtype='object')

In [78]:
agg = {'AVG_RIDE':'sum','PRED_AVG_RIDERSHIP':'sum','EDD_EMP_LOG':'sum', 'AVG_RIDE':'sum', 'FREQ_S_LOG':'mean',
       'EOL_SOL':'mean', 'HOUSING_16_DEN_LOG':'mean', 'MUNI_BUS_AVG':'sum', 'AVG_BART_LOG':'sum',
       'CLOSE_STOP':'mean'}

In [79]:
grouped = df.groupby(by = 'STOP_ID', as_index = False).agg(agg)

In [80]:
grouped.head()

,STOP_ID,CLOSE_STOP,MUNI_BUS_AVG,AVG_BART_LOG,PRED_AVG_RIDERSHIP,AVG_RIDE,EOL_SOL,EDD_EMP_LOG,FREQ_S_LOG,HOUSING_16_DEN_LOG
0,3212,1.0,2833.548265,0.0,292.966829,669.35,0.0,7.527256,1.320575,7.880741
1,3266,1.0,1168.639681,0.0,297.311558,216.70,0.0,7.185387,1.925794,7.193610
2,3267,1.0,1184.363119,0.0,218.341469,166.50,0.0,7.184629,1.497044,7.196664
3,3268,1.0,125.097364,0.0,312.426527,124.95,0.0,7.665285,1.925890,7.152574
4,3269,1.0,62.621274,0.0,227.660005,56.85,0.0,7.645876,1.496992,7.155292

In [81]:
len(grouped)

235

In [86]:
grouped['DIFF_AVG_RIDE'] = grouped.PRED_AVG_RIDERSHIP - grouped.AVG_RIDE

In [87]:
grouped['PDIFF_AVG_RIDE'] = (grouped.DIFF_AVG_RIDE/df.AVG_RIDE)*100

In [88]:
len(grouped)

235

In [89]:
grouped.head()

,STOP_ID,CLOSE_STOP,MUNI_BUS_AVG,AVG_BART_LOG,PRED_AVG_RIDERSHIP,AVG_RIDE,EOL_SOL,EDD_EMP_LOG,FREQ_S_LOG,HOUSING_16_DEN_LOG,DIFF_AVG_RIDE,PDIFF_AVG_RIDE
0,3212,1.0,2833.548265,0.0,292.966829,669.35,0.0,7.527256,1.320575,7.880741,-376.383171,-56.231145
1,3266,1.0,1168.639681,0.0,297.311558,216.70,0.0,7.185387,1.925794,7.193610,80.611558,37.199611
2,3267,1.0,1184.363119,0.0,218.341469,166.50,0.0,7.184629,1.497044,7.196664,51.841469,31.136018
3,3268,1.0,125.097364,0.0,312.426527,124.95,0.0,7.665285,1.925890,7.152574,187.476527,150.041238
4,3269,1.0,62.621274,0.0,227.660005,56.85,0.0,7.645876,1.496992,7.155292,170.810005,300.457352

In [90]:
grouped.to_csv('E:/Transit-Casa-Alex/MUNI Rail/Output/Modeling/2016/Diff_Mapping_Data_Post_Process.csv')

# Move on to 2009

In [91]:
df = pd.read_csv('E:/Transit-Casa-Alex/MUNI Rail/Output/Modeling/2009/Diff_Map_Data.csv')

In [92]:
df.head()

,STOP_ID,LOG_RIDERS,PRED_LOG_RIDERS,AVG_RIDE,PRED_AVG_RIDERSHIP,EDD_EMP_LOG,FREQ_S_LOG,EOL_SOL,HOUSING_09_DEN_LOG,MUNI_BUS_AVG,AVG_BART_LOG,CLOSE_STOP
0,3984,5.556828,6.258936,258.0,521.662337,8.032360,1.795095,0.000000,8.188915,2719.19938,0.000000,1
1,4006,6.243196,6.565914,513.5,709.461200,7.722235,1.546350,0.333333,8.232646,4634.81908,0.000000,1
2,5417,6.557488,10.552604,703.5,38275.975030,10.425757,1.881187,0.000000,8.376506,25941.25750,8.460305,1
3,5419,6.347389,6.892125,570.0,983.491388,10.560152,1.831209,0.333333,7.937188,12085.86851,0.000000,0
4,5727,6.278521,7.099374,532.0,1210.209085,10.698943,1.880964,0.000000,8.288463,12165.03870,8.848222,1

In [93]:
df.head()

,STOP_ID,LOG_RIDERS,PRED_LOG_RIDERS,AVG_RIDE,PRED_AVG_RIDERSHIP,EDD_EMP_LOG,FREQ_S_LOG,EOL_SOL,HOUSING_09_DEN_LOG,MUNI_BUS_AVG,AVG_BART_LOG,CLOSE_STOP
0,3984,5.556828,6.258936,258.0,521.662337,8.032360,1.795095,0.000000,8.188915,2719.19938,0.000000,1
1,4006,6.243196,6.565914,513.5,709.461200,7.722235,1.546350,0.333333,8.232646,4634.81908,0.000000,1
2,5417,6.557488,10.552604,703.5,38275.975030,10.425757,1.881187,0.000000,8.376506,25941.25750,8.460305,1
3,5419,6.347389,6.892125,570.0,983.491388,10.560152,1.831209,0.333333,7.937188,12085.86851,0.000000,0
4,5727,6.278521,7.099374,532.0,1210.209085,10.698943,1.880964,0.000000,8.288463,12165.03870,8.848222,1

In [100]:
agg = {'LOG_RIDERS':'sum', 'EDD_EMP_LOG':'sum', 'AVG_RIDE':'sum', 'FREQ_S_LOG':'mean',
       'EOL_SOL':'mean', 'HOUSING_09_DEN_LOG':'mean', 'MUNI_BUS_AVG':'sum', 'AVG_BART_LOG':'sum',
       'CLOSE_STOP':'mean','PRED_AVG_RIDERSHIP':'sum','AVG_RIDE':'sum'}

In [101]:
grouped = df.groupby(by = 'STOP_ID', as_index = False).agg(agg)

In [102]:
grouped['DIFF_AVG_RIDE'] = grouped.PRED_AVG_RIDERSHIP - grouped.AVG_RIDE

In [103]:
grouped['PDIFF_AVG_RIDE'] = (grouped.DIFF_AVG_RIDE/grouped.AVG_RIDE)*100

In [104]:
grouped.head()

,STOP_ID,CLOSE_STOP,MUNI_BUS_AVG,HOUSING_09_DEN_LOG,LOG_RIDERS,AVG_BART_LOG,AVG_RIDE,EOL_SOL,EDD_EMP_LOG,PRED_AVG_RIDERSHIP,FREQ_S_LOG,DIFF_AVG_RIDE,PDIFF_AVG_RIDE
0,3212,1.0,3262.918694,7.876545,6.616734,0.0,746.5,0.0,10.028357,612.964145,1.378684,-133.535855,-17.888259
1,3266,1.0,1059.541883,7.193557,5.117994,0.0,166.0,0.0,7.056175,363.836175,1.976664,197.836175,119.178419
2,3267,1.0,1077.001132,7.196570,5.190175,0.0,178.5,0.0,7.057898,264.051085,1.531410,85.551085,47.927779
3,3268,1.0,225.696980,7.152492,4.212128,0.0,66.5,0.0,7.412764,388.461579,1.976682,321.961579,484.152751
4,3269,1.0,111.449711,7.155132,3.433987,0.0,30.0,0.0,7.405496,281.335227,1.531513,251.335227,837.784091

In [105]:
len(grouped)

187

In [106]:
grouped.to_csv('E:/Transit-Casa-Alex/MUNI Rail/Output/Modeling/2009/Diff_Map_Data_Post_Process.csv')