In [414]:
import pandas as pd

In [562]:
df = pd.read_csv('E:/Transit-Casa-Alex/MUNI Rail/Output/Modeling/2016/Diff_Mapping_Data.csv')

# This Starts 2016 Data Processing

In [563]:
df.head()

,LOG_RIDERS,EDD_EMP_LOG,STOP_ID,AVG_RIDE,FREQ_S_LOG,EOL_SOL,HOUSING_16_DEN_LOG,MUNI_BUS_AVG,AVG_BART_LOG,CLOSE_STOP,J,PRED_AVG_RIDERSHIP
0,6.507800,7.527256,3212,669.35,1.320575,0.0,7.880741,2833.548265,0.0,1,0,318.98
1,5.383118,7.185387,3266,216.70,1.925794,0.0,7.193610,1168.639681,0.0,1,0,271.00
2,5.120983,7.184629,3267,166.50,1.497044,0.0,7.196664,1184.363119,0.0,1,0,238.14
3,4.835885,7.665285,3268,124.95,1.925890,0.0,7.152574,125.097364,0.0,1,0,271.46
4,4.057853,7.645876,3269,56.85,1.496992,0.0,7.155292,62.621274,0.0,1,0,236.65

In [564]:
df.columns

Index(['LOG_RIDERS', 'EDD_EMP_LOG', 'STOP_ID', 'AVG_RIDE', 'FREQ_S_LOG',
       'EOL_SOL', 'HOUSING_16_DEN_LOG', 'MUNI_BUS_AVG', 'AVG_BART_LOG',
       'CLOSE_STOP', 'J', 'PRED_AVG_RIDERSHIP'],
      dtype='object')

In [565]:
agg = {'AVG_RIDE':'sum','PRED_AVG_RIDERSHIP':'sum','EDD_EMP_LOG':'sum', 'AVG_RIDE':'sum', 'FREQ_S_LOG':'mean',
       'EOL_SOL':'mean', 'HOUSING_16_DEN_LOG':'mean', 'MUNI_BUS_AVG':'sum', 'AVG_BART_LOG':'sum',
       'CLOSE_STOP':'mean'}

In [566]:
grouped16 = df.groupby(by = 'STOP_ID', as_index = False).agg(agg)

In [567]:
grouped.head()

,STOP_ID,CLOSE_STOP,MUNI_BUS_AVG,AVG_BART_LOG,PRED_AVG_RIDERSHIP,AVG_RIDE,EOL_SOL,EDD_EMP_LOG,FREQ_S_LOG,HOUSING_16_DEN_LOG,DIFF_AVG_RIDE,PDIFF_AVG_RIDE
0,3212,1.0,2833.548265,0.0,292.966829,669.35,0.0,7.527256,1.320575,7.880741,-376.383171,-56.231145
1,3266,1.0,1168.639681,0.0,297.311558,216.70,0.0,7.185387,1.925794,7.193610,80.611558,37.199611
2,3267,1.0,1184.363119,0.0,218.341469,166.50,0.0,7.184629,1.497044,7.196664,51.841469,31.136018
3,3268,1.0,125.097364,0.0,312.426527,124.95,0.0,7.665285,1.925890,7.152574,187.476527,150.041238
4,3269,1.0,62.621274,0.0,227.660005,56.85,0.0,7.645876,1.496992,7.155292,170.810005,300.457352

In [568]:
stops16.columns

Index(['Unnamed: 0', 'STOP_ID', 'ROUTE_SHORT_NAME', 'DIR', 'STOP NAME',
       'Stop Latitude', ' Total Alightings ', 'Stop Longitude',
       ' Total Boardings ', 'SEQ', 'HEADWAY_S', 'EOL', 'SOL', 'STOP_LAT',
       'STOP_LON', 'DWELL_S', 'RUNTIME_S', 'TOTTIME_S', 'SERVMILES_S',
       'RUNSPEED_S', 'TOTSPEED_S'],
      dtype='object')

In [569]:
stops16 = pd.read_csv('E:\Transit-Casa-Alex\MUNI Rail\Input\Rail Stops Performance Data/MUNI_Rail_Stops_2016.csv')

In [570]:
agg = {'STOP_LAT':'mean','STOP_LON':'mean','STOP NAME':'first'}

In [571]:
merge_ready_stops = stops16[['STOP_ID','STOP_LAT','STOP_LON','STOP NAME']].groupby(by = 'STOP_ID',as_index = False).agg(agg)

In [572]:
grouped_geo16 = pd.merge(grouped16,merge_ready_stops,on = 'STOP_ID',how = 'inner')

In [573]:
grouped_geo16.head()

,STOP_ID,CLOSE_STOP,MUNI_BUS_AVG,AVG_BART_LOG,PRED_AVG_RIDERSHIP,AVG_RIDE,EOL_SOL,EDD_EMP_LOG,FREQ_S_LOG,HOUSING_16_DEN_LOG,STOP_LON,STOP_LAT,STOP NAME
0,3212,1.0,2833.548265,0.0,318.98,669.35,0.0,7.527256,1.320575,7.880741,-122.466241,37.763913,9th Ave & Irving St
1,3266,1.0,1168.639681,0.0,271.00,216.70,0.0,7.185387,1.925794,7.193610,-122.471297,37.743124,15th Ave & Taraval St
2,3267,1.0,1184.363119,0.0,238.14,166.50,0.0,7.184629,1.497044,7.196664,-122.471405,37.743069,15th Ave & Taraval St
3,3268,1.0,125.097364,0.0,271.46,124.95,0.0,7.665285,1.925890,7.152574,-122.471192,37.741525,15th Ave & Ulloa St
4,3269,1.0,62.621274,0.0,236.65,56.85,0.0,7.645876,1.496992,7.155292,-122.471300,37.741484,15th Ave & Ulloa St

In [574]:
grouped_geo16['DIFF_AVG_RIDE'] = grouped_geo16.PRED_AVG_RIDERSHIP - grouped_geo16.AVG_RIDE

In [575]:
grouped_geo16['PDIFF_AVG_RIDE'] = (grouped_geo16.DIFF_AVG_RIDE/grouped_geo16.AVG_RIDE)*100

In [576]:
grouped_geo16.head()

,STOP_ID,CLOSE_STOP,MUNI_BUS_AVG,AVG_BART_LOG,PRED_AVG_RIDERSHIP,AVG_RIDE,EOL_SOL,EDD_EMP_LOG,FREQ_S_LOG,HOUSING_16_DEN_LOG,STOP_LON,STOP_LAT,STOP NAME,DIFF_AVG_RIDE,PDIFF_AVG_RIDE
0,3212,1.0,2833.548265,0.0,318.98,669.35,0.0,7.527256,1.320575,7.880741,-122.466241,37.763913,9th Ave & Irving St,-350.37,-52.344812
1,3266,1.0,1168.639681,0.0,271.00,216.70,0.0,7.185387,1.925794,7.193610,-122.471297,37.743124,15th Ave & Taraval St,54.30,25.057683
2,3267,1.0,1184.363119,0.0,238.14,166.50,0.0,7.184629,1.497044,7.196664,-122.471405,37.743069,15th Ave & Taraval St,71.64,43.027027
3,3268,1.0,125.097364,0.0,271.46,124.95,0.0,7.665285,1.925890,7.152574,-122.471192,37.741525,15th Ave & Ulloa St,146.51,117.254902
4,3269,1.0,62.621274,0.0,236.65,56.85,0.0,7.645876,1.496992,7.155292,-122.471300,37.741484,15th Ave & Ulloa St,179.80,316.270888

In [577]:
grouped_geo16.to_csv('E:/Transit-Casa-Alex/MUNI Rail/Output/Modeling/2016/Diff_Mapping_Data_Post_Process.csv')

# Move on to 2009

In [578]:
df = pd.read_csv('E:/Transit-Casa-Alex/MUNI Rail/Output/Modeling/2009/Diff_Map_Data.csv')

In [579]:
df.head()

,LOG_RIDERS,EDD_EMP_LOG,STOP_ID,AVG_RIDE,FREQ_S_LOG,EOL_SOL,HOUSING_09_DEN_LOG,MUNI_BUS_AVG,AVG_BART_LOG,CLOSE_STOP,J,PRED_AVG_RIDERSHIP
0,4.564348,7.089243,3537,95.0,1.534190,0.0,7.804466,6150.244661,0.0,1,1,205.26
1,4.753590,7.082549,3538,115.0,1.802634,0.0,7.788445,5819.619250,0.0,1,1,217.10
2,5.556828,8.032360,3984,258.0,1.795095,0.0,8.188915,2719.199380,0.0,1,1,232.94
3,5.391352,8.000014,3985,218.5,1.546459,0.0,8.181901,2817.825827,0.0,1,1,215.67
4,5.749393,7.532624,3987,313.0,1.795165,0.0,7.961077,1070.990155,0.0,1,1,182.22

In [580]:
agg = {'LOG_RIDERS':'sum', 'EDD_EMP_LOG':'sum', 'AVG_RIDE':'sum', 'FREQ_S_LOG':'mean',
       'EOL_SOL':'mean', 'HOUSING_09_DEN_LOG':'mean', 'MUNI_BUS_AVG':'sum', 'AVG_BART_LOG':'sum',
       'CLOSE_STOP':'mean','PRED_AVG_RIDERSHIP':'sum','AVG_RIDE':'sum'}

In [581]:
grouped09 = df.groupby(by = 'STOP_ID', as_index = False).agg(agg)

In [582]:
stops09 = pd.read_csv('E:\Transit-Casa-Alex\MUNI Rail\Input\Rail Stops Performance Data/MUNI_Rail_Stops_2009.csv')

In [583]:
agg = {'STOP_LON':'mean','STOP_LAT':'mean','STOP':'first'}

In [584]:
merge_ready_stops = stops09[['STOP_ID','STOP_LAT','STOP_LON','STOP']].groupby(by = 'STOP_ID',as_index = False).agg(agg)

In [585]:
grouped_geo09 = pd.merge(grouped09,merge_ready_stops,on = 'STOP_ID',how = 'inner')

In [586]:
len(grouped09)

240

In [587]:
len(grouped_geo09)

240

In [588]:
grouped_geo09['DIFF_AVG_RIDE'] = grouped_geo09.PRED_AVG_RIDERSHIP - grouped_geo09.AVG_RIDE

In [589]:
grouped_geo09['PDIFF_AVG_RIDE'] = (grouped_geo09.DIFF_AVG_RIDE/grouped_geo09.AVG_RIDE)*100

In [590]:
grouped_geo09.head()

,STOP_ID,CLOSE_STOP,MUNI_BUS_AVG,HOUSING_09_DEN_LOG,LOG_RIDERS,AVG_BART_LOG,AVG_RIDE,EOL_SOL,EDD_EMP_LOG,PRED_AVG_RIDERSHIP,FREQ_S_LOG,STOP_LON,STOP,STOP_LAT,DIFF_AVG_RIDE,PDIFF_AVG_RIDE
0,3212,1.0,3262.918694,7.876545,6.616734,0.0,746.5,0.0,10.028357,498.25,1.378684,-122.466245,9th&Irving,37.763888,-248.25,-33.255191
1,3266,1.0,1059.541883,7.193557,5.117994,0.0,166.0,0.0,7.056175,267.75,1.976664,-122.471297,15th&Taraval,37.743124,101.75,61.295181
2,3267,1.0,1077.001132,7.196570,5.190175,0.0,178.5,0.0,7.057898,234.22,1.531410,-122.471405,15th&Taraval,37.743069,55.72,31.215686
3,3268,1.0,225.696980,7.152492,4.212128,0.0,66.5,0.0,7.412764,266.34,1.976682,-122.471192,15th&Ulloa,37.741525,199.84,300.511278
4,3269,1.0,111.449711,7.155132,3.433987,0.0,30.0,0.0,7.405496,230.75,1.531513,-122.471300,15th&Ulloa,37.741484,200.75,669.166667

In [591]:
len(grouped_geo09)

240

In [592]:
grouped_geo09.to_csv('E:/Transit-Casa-Alex/MUNI Rail/Output/Modeling/2009/Diff_Mapping_Data_Post_Process.csv')

# Create the Difference of the Differences Map Data (09 Diff vs 16 Diff)

In [593]:
diff = pd.merge(grouped_geo09,grouped_geo16, how = 'outer',on = 'STOP_ID',suffixes = ('_09','_16'))

In [594]:
len(diff)

245

In [595]:
diff_inner = pd.merge(grouped_geo09,grouped_geo16,how = 'inner',on = 'STOP_ID')

In [596]:
len(diff_inner)

230

In [597]:
diff.head()

,STOP_ID,CLOSE_STOP_09,MUNI_BUS_AVG_09,HOUSING_09_DEN_LOG,LOG_RIDERS,AVG_BART_LOG_09,AVG_RIDE_09,EOL_SOL_09,EDD_EMP_LOG_09,PRED_AVG_RIDERSHIP_09,...,AVG_RIDE_16,EOL_SOL_16,EDD_EMP_LOG_16,FREQ_S_LOG_16,HOUSING_16_DEN_LOG,STOP_LON_16,STOP_LAT_16,STOP NAME,DIFF_AVG_RIDE_16,PDIFF_AVG_RIDE_16
0,3212,1.0,3262.918694,7.876545,6.616734,0.0,746.5,0.0,10.028357,498.25,...,669.35,0.0,7.527256,1.320575,7.880741,-122.466241,37.763913,9th Ave & Irving St,-350.37,-52.344812
1,3266,1.0,1059.541883,7.193557,5.117994,0.0,166.0,0.0,7.056175,267.75,...,216.70,0.0,7.185387,1.925794,7.193610,-122.471297,37.743124,15th Ave & Taraval St,54.30,25.057683
2,3267,1.0,1077.001132,7.196570,5.190175,0.0,178.5,0.0,7.057898,234.22,...,166.50,0.0,7.184629,1.497044,7.196664,-122.471405,37.743069,15th Ave & Taraval St,71.64,43.027027
3,3268,1.0,225.696980,7.152492,4.212128,0.0,66.5,0.0,7.412764,266.34,...,124.95,0.0,7.665285,1.925890,7.152574,-122.471192,37.741525,15th Ave & Ulloa St,146.51,117.254902
4,3269,1.0,111.449711,7.155132,3.433987,0.0,30.0,0.0,7.405496,230.75,...,56.85,0.0,7.645876,1.496992,7.155292,-122.471300,37.741484,15th Ave & Ulloa St,179.80,316.270888

In [598]:
diff['DIFF_OBS'] = diff.AVG_RIDE_16 - diff.AVG_RIDE_09
diff['DIFF_MOD'] = diff.PRED_AVG_RIDERSHIP_16 - diff.PRED_AVG_RIDERSHIP_09
diff['ACCURACY_DIFF'] = diff.DIFF_AVG_RIDE_16 - diff.DIFF_AVG_RIDE_09
diff['GROWTH_DIFF'] = diff.DIFF_MOD - diff.DIFF_OBS

In [599]:
diff.to_csv('E:/Transit-Casa-Alex/MUNI Rail/Output/Modeling/Diff_Mapping_Data.csv')