In [296]:
import pandas as pd
from shapely.geometry import Point
import geopandas as gp
import numpy as np
pd.options.display.max_columns = 999

In [297]:
store = pd.HDFStore('C:/Users/ramu225/University of Kentucky/Erhardt, Greg - SF-TNC/Runs/sfdata_wrangler2/out/muni_metro_monthly_ts.h5')

In [202]:
store.items

<bound method HDFStore.items of <class 'pandas.io.pytables.HDFStore'>
File path: C:/Users/ramu225/University of Kentucky/Erhardt, Greg - SF-TNC/Runs/sfdata_wrangler2/out/muni_metro_monthly_ts.h5
/rs_day                          frame_table  (typ->appendable,nrows->7900,ncols->58,indexers->[index],dc->[MONTH,DOW,AGENCY_ID,ROUTE_SHORT_NAME,DIR,SEQ,NUMDAYS,OBSDAYS,TRIP_STOPS,OBS_TRIP_STOPS,IMP_TRIP_STOPS,WGT_TRIP_STOPS,STOP_ID,ROUTE_LONG_NAME,ROUTE_TYPE,TRIP_HEADSIGN,HEADWAY_S,FARE,STOPNAME,STOPNAME_AVL,STOP_LAT,STOP_LON,EOL,SOL,TIMEPOINT,ARRIVAL_TIME_DEV,DEPARTURE_TIME_DEV,DWELL_S,DWELL,RUNTIME_S,RUNTIME,TOTTIME_S,TOTTIME,SERVMILES_S,SERVMILES,RUNSPEED_S,RUNSPEED,TOTSPEED_S,TOTSPEED,ONTIME5,ON,OFF,LOAD_ARR,LOAD_DEP,PASSMILES,PASSHOURS,WAITHOURS,FULLFARE_REV,PASSDELAY_DEP,PASSDELAY_ARR,RDBRDNGS,DOORCYCLES,WHEELCHAIR,BIKERACK,CAPACITY,VC,CROWDED,CROWDHOURS])
/rs_tod                          frame_table  (typ->appendable,nrows->52458,ncols->59,indexers->[index],dc->[MONTH,DOW,TOD,AGENCY_ID,ROUTE_SHORT_NAME,DIR,SEQ,NUMDAYS,OBSDAYS,TRIP_STOPS,OBS_TRIP_STOPS,WGT_TRIP_STOPS,STOP_ID,ROUTE_LONG_NAME,ROUTE_TYPE,TRIP_HEADSIGN,HEADWAY_S,FARE,STOPNAME,STOPNAME_AVL,STOP_LAT,STOP_LON,EOL,SOL,TIMEPOINT,ARRIVAL_TIME_DEV,DEPARTURE_TIME_DEV,DWELL_S,DWELL,RUNTIME_S,RUNTIME,TOTTIME_S,TOTTIME,SERVMILES_S,SERVMILES,RUNSPEED_S,RUNSPEED,TOTSPEED_S,TOTSPEED,ONTIME5,ON,OFF,LOAD_ARR,LOAD_DEP,PASSMILES,PASSHOURS,WAITHOURS,FULLFARE_REV,PASSDELAY_DEP,PASSDELAY_ARR,RDBRDNGS,DOORCYCLES,WHEELCHAIR,BIKERACK,CAPACITY,VC,CROWDED,CROWDHOURS,IMP_TRIP_STOPS])
/rs_tod_observed_only            frame_table  (typ->appendable,nrows->52458,ncols->58,indexers->[index],dc->[MONTH,DOW,TOD,AGENCY_ID,ROUTE_SHORT_NAME,DIR,SEQ,NUMDAYS,OBSDAYS,TRIP_STOPS,OBS_TRIP_STOPS,WGT_TRIP_STOPS,STOP_ID,ROUTE_LONG_NAME,ROUTE_TYPE,TRIP_HEADSIGN,HEADWAY_S,FARE,STOPNAME,STOPNAME_AVL,STOP_LAT,STOP_LON,EOL,SOL,TIMEPOINT,ARRIVAL_TIME_DEV,DEPARTURE_TIME_DEV,DWELL_S,DWELL,RUNTIME_S,RUNTIME,TOTTIME_S,TOTTIME,SERVMILES_S,SERVMILES,RUNSPEED_S,RUNSPEED,TOTSPEED_S,TOTSPEED,ONTIME5,ON,OFF,LOAD_ARR,LOAD_DEP,PASSMILES,PASSHOURS,WAITHOURS,FULLFARE_REV,PASSDELAY_DEP,PASSDELAY_ARR,RDBRDNGS,DOORCYCLES,WHEELCHAIR,BIKERACK,CAPACITY,VC,CROWDED,CROWDHOURS])
/stop_day                        frame_table  (typ->appendable,nrows->5497,ncols->52,indexers->[index],dc->[MONTH,DOW,AGENCY_ID,STOP_ID,NUMDAYS,OBSDAYS,TRIP_STOPS,OBS_TRIP_STOPS,IMP_TRIP_STOPS,WGT_TRIP_STOPS,HEADWAY_S,FARE,STOPNAME,STOPNAME_AVL,STOP_LAT,STOP_LON,EOL,SOL,TIMEPOINT,ARRIVAL_TIME_DEV,DEPARTURE_TIME_DEV,DWELL_S,DWELL,RUNTIME_S,RUNTIME,TOTTIME_S,TOTTIME,SERVMILES_S,SERVMILES,RUNSPEED_S,RUNSPEED,TOTSPEED_S,TOTSPEED,ONTIME5,ON,OFF,LOAD_ARR,LOAD_DEP,PASSMILES,PASSHOURS,WAITHOURS,FULLFARE_REV,PASSDELAY_DEP,PASSDELAY_ARR,RDBRDNGS,DOORCYCLES,WHEELCHAIR,BIKERACK,CAPACITY,VC,CROWDED,CROWDHOURS])
/stop_tod                        frame_table  (typ->appendable,nrows->38416,ncols->53,indexers->[index],dc->[MONTH,DOW,TOD,AGENCY_ID,STOP_ID,NUMDAYS,OBSDAYS,TRIP_STOPS,OBS_TRIP_STOPS,IMP_TRIP_STOPS,WGT_TRIP_STOPS,HEADWAY_S,FARE,STOPNAME,STOPNAME_AVL,STOP_LAT,STOP_LON,EOL,SOL,TIMEPOINT,ARRIVAL_TIME_DEV,DEPARTURE_TIME_DEV,DWELL_S,DWELL,RUNTIME_S,RUNTIME,TOTTIME_S,TOTTIME,SERVMILES_S,SERVMILES,RUNSPEED_S,RUNSPEED,TOTSPEED_S,TOTSPEED,ONTIME5,ON,OFF,LOAD_ARR,LOAD_DEP,PASSMILES,PASSHOURS,WAITHOURS,FULLFARE_REV,PASSDELAY_DEP,PASSDELAY_ARR,RDBRDNGS,DOORCYCLES,WHEELCHAIR,BIKERACK,CAPACITY,VC,CROWDED,CROWDHOURS])                                                                  >

In [298]:
df09 = store.select('rs_day',where = "'MONTH' == ['2009-10-01T00:00:00.000000000','2009-11-01T00:00:00.000000000', '2009-12-01T00:00:00.000000000']")

In [299]:
df16 = store.select('rs_day',where = "'MONTH' == ['2016-10-01T00:00:00.000000000', '2016-11-01T00:00:00.000000000', '2016-12-01T00:00:00.000000000']")

In [205]:
df09.MONTH.unique()

array(['2009-10-01T00:00:00.000000000', '2009-11-01T00:00:00.000000000',
       '2009-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [206]:
df16.MONTH.unique()

array(['2016-10-01T00:00:00.000000000', '2016-11-01T00:00:00.000000000',
       '2016-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [300]:
riders09 = pd.read_csv('E:/Transit-Casa-Alex/MUNI Rail/Input/Raw Ridership Data/MUNI Rail Ridership_Post_Fix_2009.csv')

In [301]:
riders16 = pd.read_csv('E:/Transit-Casa-Alex/MUNI Rail/Input/Raw Ridership Data/MUNI_Rail_Ridership_Post_Fix_2016.csv')

In [209]:
riders16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2127 entries, 0 to 2126
Data columns (total 15 columns):
ROUTE                             2127 non-null object
DIRECTION                         2127 non-null object
STOP NAME                         2127 non-null object
STOP ID                           2127 non-null int64
STOP SEQ                          2127 non-null int64
Time Period                       2127 non-null object
 Total Boardings                  2127 non-null object
 Total Alightings                 2127 non-null object
 Total Train Load                 2127 non-null object
Number of Trips in Time Period    2127 non-null int64
 Average Boardings                2127 non-null object
 Average Alightings               2127 non-null object
 Average Train Load               2127 non-null object
Stop Latitude                     2127 non-null float64
Stop Longitude                    2127 non-null float64
dtypes: float64(2), int64(3), object(10)
memory usage: 249.3+ KB

In [210]:
riders16.columns

Index(['ROUTE', 'DIRECTION', 'STOP NAME', 'STOP ID', 'STOP SEQ', 'Time Period',
       ' Total Boardings ', ' Total Alightings ', ' Total Train Load ',
       'Number of Trips in Time Period', ' Average Boardings ',
       ' Average Alightings ', ' Average Train Load ', 'Stop Latitude',
       'Stop Longitude'],
      dtype='object')

In [302]:
riders16[' Average Boardings '] = riders16[' Average Boardings '].convert_objects(convert_numeric = True)
riders16[' Average Alightings '] = riders16[' Average Alightings '].convert_objects(convert_numeric = True)

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':
C:\Anaconda\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  from ipykernel import kernelapp as app

In [212]:
riders09.head()

,Route,STOP,Boardings,Alightings,DIR,STOP ID,STOP NAME
0,J-CHURCH,Green Div Yard,0,412,0,5448,SAN JOSE AVE & GENEVA AVE
1,J-CHURCH,S.Jose&Ocean,3,172,0,6274,San Jose Ave & Ocean Ave
2,J-CHURCH,ROW&Liberty,12,95,0,6221,Right Of Way/Liberty St
3,J-CHURCH,ROW&21st,13,148,0,6216,Right Of Way/21st St
4,J-CHURCH,Glen Park Sta,18,146,0,4788,San Jose Ave/Glen Park Station

In [213]:
riders09.columns

Index(['Route', 'STOP', 'Boardings', 'Alightings', 'DIR', 'STOP ID',
       'STOP NAME'],
      dtype='object')

In [303]:
riders09.columns = ['Route', 'STOP', 'Boardings', 'Alightings', 'DIR', 'STOP_ID',
       'STOP NAME']

In [215]:
riders09.Route.unique()

array(['J-CHURCH', 'KT-INGLESIDE/THIRD', 'L-TARAVAL', 'M-OCEAN VIEW',
       'N-JUDAH'], dtype=object)

In [304]:
def set_short_name09(row):
    if row['Route'] == 'J-CHURCH':
        row['ROUTE_SHORT_NAME'] = 'J'
    elif row['Route'] == 'KT-INGLESIDE/THIRD':
        row['ROUTE_SHORT_NAME'] = 'KT'
    elif row['Route'] == 'L-TARAVAL':
        row['ROUTE_SHORT_NAME'] = 'L'
    elif row['Route'] == 'M-OCEAN VIEW':
        row['ROUTE_SHORT_NAME'] = 'M'
    elif row['Route'] == 'N-JUDAH':
        row['ROUTE_SHORT_NAME'] = 'N'
    return row

In [305]:
riders09 = riders09.apply(lambda x : set_short_name09(x), axis = 1)

In [306]:
riders16.head()

,ROUTE,DIRECTION,STOP NAME,STOP ID,STOP SEQ,Time Period,Total Boardings,Total Alightings,Total Train Load,Number of Trips in Time Period,Average Boardings,Average Alightings,Average Train Load,Stop Latitude,Stop Longitude
0,J-Church,INBOUND,San Jose Ave & Geneva Ave,7778,1,7 - Owl,4.4,-,4.4,9,0.5,NaN,0.5,37.721240,-122.44622
1,J-Church,INBOUND,San Jose Ave & Ocean Ave,6275,2,7 - Owl,2.2,-,6.5,9,0.2,NaN,0.7,37.722862,-122.44479
2,J-Church,INBOUND,San Jose Ave & Santa Ynez Ave,6288,3,7 - Owl,2.2,-,8.7,9,0.2,NaN,1,37.725680,-122.44244
3,J-Church,INBOUND,San Jose Ave & Santa Rosa Ave,6284,4,7 - Owl,8.7,-,17.5,9,1.0,NaN,1.9,37.728992,-122.43992
4,J-Church,INBOUND,San Jose Ave/Glen Park Station,4787,5,7 - Owl,2.2,4.4,15.3,9,0.2,0.5,1.7,37.732525,-122.43342

In [307]:
riders16.ROUTE.unique()

array(['J-Church ', 'KT-Ingleside/Third Street ', 'L-Taraval ',
       'M-Ocean View ', 'N-Judah '], dtype=object)

In [308]:
def set_short_name16(row):
    if row['ROUTE'] == 'J-Church ':
        row['ROUTE_SHORT_NAME'] = 'J'
    elif row['ROUTE'] == 'KT-Ingleside/Third Street ':
        row['ROUTE_SHORT_NAME'] = 'KT'
    elif row['ROUTE'] == 'L-Taraval ':
        row['ROUTE_SHORT_NAME'] = 'L'
    elif row['ROUTE'] == 'M-Ocean View ':
        row['ROUTE_SHORT_NAME'] = 'M'
    elif row['ROUTE'] == 'N-Judah ':
        row['ROUTE_SHORT_NAME'] = 'N'
    return row

In [309]:
riders16 = riders16.apply(lambda x : set_short_name16(x),axis = 1)

In [310]:
riders16.ROUTE_SHORT_NAME.unique()

array(['J', 'KT', 'L', 'M', 'N'], dtype=object)

In [311]:
keep = ['ROUTE_SHORT_NAME','SEQ','DIR','STOP_ID','HEADWAY_S','EOL','SOL','STOP_LAT','STOP_LON','DWELL_S','RUNTIME_S','TOTTIME_S','SERVMILES_S','RUNSPEED_S','TOTSPEED_S']

In [312]:
df_keep09 = df09[keep]
df_keep16 = df16[keep]

In [313]:
riders09.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318 entries, 0 to 317
Data columns (total 8 columns):
Route               318 non-null object
STOP                318 non-null object
Boardings           318 non-null object
Alightings          318 non-null object
DIR                 318 non-null int64
STOP_ID             318 non-null int64
STOP NAME           318 non-null object
ROUTE_SHORT_NAME    318 non-null object
dtypes: int64(2), object(6)
memory usage: 20.0+ KB

In [314]:
df_keep09.columns

Index(['ROUTE_SHORT_NAME', 'SEQ', 'DIR', 'STOP_ID', 'HEADWAY_S', 'EOL', 'SOL',
       'STOP_LAT', 'STOP_LON', 'DWELL_S', 'RUNTIME_S', 'TOTTIME_S',
       'SERVMILES_S', 'RUNSPEED_S', 'TOTSPEED_S'],
      dtype='object')

In [315]:
grouped09 = df_keep09.groupby(by = ['ROUTE_SHORT_NAME','STOP_ID','DIR'],as_index = False).mean()

In [316]:
grouped09.head()

,ROUTE_SHORT_NAME,STOP_ID,DIR,SEQ,HEADWAY_S,EOL,SOL,STOP_LAT,STOP_LON,DWELL_S,RUNTIME_S,TOTTIME_S,SERVMILES_S,RUNSPEED_S,TOTSPEED_S
0,F,3092,0,2.0,16.914719,0.0,0.0,37.807407,-122.414125,0.0,467.46,467.46,26.166,3.360000,3.360000
1,F,3095,0,3.0,16.918522,0.0,0.0,37.807841,-122.410810,0.0,437.54,437.54,27.048,3.710000,3.710000
2,F,3308,0,31.0,46.227273,0.0,0.0,37.762810,-122.428500,0.0,66.00,66.00,5.412,4.920000,4.920000
3,F,3311,0,29.0,9.504425,1.0,0.0,37.762520,-122.434866,0.0,222.77,222.77,19.888,5.360000,5.360000
4,F,3311,1,22.0,12.119355,1.0,0.0,37.762520,-122.434866,0.0,82.39,82.39,9.842,7.166667,7.166667

In [317]:
len(grouped09)

439

In [318]:
len(riders09)

318

In [319]:
riders09.STOP_ID = riders09.STOP_ID.convert_objects(convert_numeric = True)

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [320]:
merged09_inner = pd.merge(grouped09,riders09,how = 'inner',on = ['ROUTE_SHORT_NAME','DIR','STOP_ID'])

In [321]:
len(merged09_inner)

318

In [322]:
merged09 = pd.merge(grouped09,riders09,how = 'outer',on = ['ROUTE_SHORT_NAME','DIR','STOP_ID'])

In [323]:
merged09 = merged09.sort(columns = ['ROUTE_SHORT_NAME','DIR','SEQ'])

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [324]:
merged09.to_csv('Outer_Join_2009_Rail_Ridership.csv')

In [325]:
merged09.Boardings = merged09.Boardings.convert_objects(convert_numeric = True)
merged09.Alightings = merged09.Alightings.convert_objects(convert_numeric = True)

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':
C:\Anaconda\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  from ipykernel import kernelapp as app

In [326]:
miss_riders = merged09[(np.isnan(merged09['Boardings']))& (np.isnan(merged09['Alightings']))]

In [327]:
len(miss_riders)

130

In [328]:
miss_gtfs = merged09[np.isnan(merged09['TOTSPEED_S'])]

In [241]:
len(miss_gtfs)

0

In [242]:
miss_gtfs.head()

Empty DataFrame
Columns: [ROUTE_SHORT_NAME, STOP_ID, DIR, SEQ, HEADWAY_S, EOL, SOL, STOP_LAT, STOP_LON, DWELL_S, RUNTIME_S, TOTTIME_S, SERVMILES_S, RUNSPEED_S, TOTSPEED_S, Route, STOP, Boardings, Alightings, STOP NAME]
Index: []

In [243]:
len(riders09)

318

In [244]:
miss_riders.to_csv('Stops Missing Ridership Data.csv')

In [245]:
miss_gtfs.to_csv('Stops Missing GTFS Data.csv')

In [246]:
riders09.head()

,Route,STOP,Boardings,Alightings,DIR,STOP_ID,STOP NAME,ROUTE_SHORT_NAME
0,J-CHURCH,Green Div Yard,0,412,0,5448,SAN JOSE AVE & GENEVA AVE,J
1,J-CHURCH,S.Jose&Ocean,3,172,0,6274,San Jose Ave & Ocean Ave,J
2,J-CHURCH,ROW&Liberty,12,95,0,6221,Right Of Way/Liberty St,J
3,J-CHURCH,ROW&21st,13,148,0,6216,Right Of Way/21st St,J
4,J-CHURCH,Glen Park Sta,18,146,0,4788,San Jose Ave/Glen Park Station,J

In [329]:
df09.sort(columns = ['STOP_ID','ROUTE_SHORT_NAME'])

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,MONTH,DOW,AGENCY_ID,ROUTE_SHORT_NAME,DIR,SEQ,NUMDAYS,OBSDAYS,TRIP_STOPS,OBS_TRIP_STOPS,IMP_TRIP_STOPS,WGT_TRIP_STOPS,STOP_ID,ROUTE_LONG_NAME,ROUTE_TYPE,TRIP_HEADSIGN,HEADWAY_S,FARE,STOPNAME,STOPNAME_AVL,STOP_LAT,STOP_LON,EOL,SOL,TIMEPOINT,ARRIVAL_TIME_DEV,DEPARTURE_TIME_DEV,DWELL_S,DWELL,RUNTIME_S,RUNTIME,TOTTIME_S,TOTTIME,SERVMILES_S,SERVMILES,RUNSPEED_S,RUNSPEED,TOTSPEED_S,TOTSPEED,ONTIME5,ON,OFF,LOAD_ARR,LOAD_DEP,PASSMILES,PASSHOURS,WAITHOURS,FULLFARE_REV,PASSDELAY_DEP,PASSDELAY_ARR,RDBRDNGS,DOORCYCLES,WHEELCHAIR,BIKERACK,CAPACITY,VC,CROWDED,CROWDHOURS
1753,2009-10-01,1,SFMTA,F,0,2,22,0.0,147,0,0.0,NaN,3092,MARKET & WHARVES,0,CASTRO,16.914719,2.0,BEACH ST & MASON ST,nan,37.807407,-122.414125,0,0,NaN,NaN,NaN,0.0,NaN,467.46,NaN,467.46,NaN,26.166,NaN,3.36,NaN,3.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2191,2009-11-01,1,SFMTA,F,0,2,20,0.0,147,0,0.0,NaN,3092,MARKET & WHARVES,0,CASTRO,16.914719,2.0,BEACH ST & MASON ST,nan,37.807407,-122.414125,0,0,NaN,NaN,NaN,0.0,NaN,467.46,NaN,467.46,NaN,26.166,NaN,3.36,NaN,3.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2629,2009-12-01,1,SFMTA,F,0,2,18,0.0,147,0,0.0,NaN,3092,MARKET & WHARVES,0,CASTRO STATION,16.914719,2.0,BEACH ST & MASON ST,nan,37.807407,-122.414125,0,0,NaN,NaN,NaN,0.0,NaN,467.46,NaN,467.46,NaN,26.166,NaN,3.36,NaN,3.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1754,2009-10-01,1,SFMTA,F,0,3,22,0.0,147,0,0.0,NaN,3095,MARKET & WHARVES,0,CASTRO,16.918522,2.0,BEACH ST & STOCKTON ST,nan,37.807841,-122.410810,0,0,NaN,NaN,NaN,0.0,NaN,437.54,NaN,437.54,NaN,27.048,NaN,3.71,NaN,3.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2192,2009-11-01,1,SFMTA,F,0,3,20,0.0,147,0,0.0,NaN,3095,MARKET & WHARVES,0,CASTRO,16.918522,2.0,BEACH ST & STOCKTON ST,nan,37.807841,-122.410810,0,0,NaN,NaN,NaN,0.0,NaN,437.54,NaN,437.54,NaN,27.048,NaN,3.71,NaN,3.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2630,2009-12-01,1,SFMTA,F,0,3,18,0.0,147,0,0.0,NaN,3095,MARKET & WHARVES,0,CASTRO STATION,16.918522,2.0,BEACH ST & STOCKTON ST,nan,37.807841,-122.410810,0,0,NaN,NaN,NaN,0.0,NaN,437.54,NaN,437.54,NaN,27.048,NaN,3.71,NaN,3.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2156,2009-10-01,1,SFMTA,N,1,16,22,0.0,138,0,0.0,NaN,3212,JUDAH,0,CALTRAIN DEPOT,21.291075,2.0,9TH AVE & IRVING ST,nan,37.763888,-122.466245,0,0,NaN,NaN,NaN,0.0,NaN,139.64,NaN,139.64,NaN,16.698,NaN,7.17,NaN,7.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2594,2009-11-01,1,SFMTA,N,1,16,20,0.0,138,0,0.0,NaN,3212,JUDAH,0,CALTRAIN DEPOT,21.291075,2.0,9TH AVE & IRVING ST,nan,37.763888,-122.466245,0,0,NaN,NaN,NaN,0.0,NaN,139.64,NaN,139.64,NaN,16.698,NaN,7.17,NaN,7.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3019,2009-12-01,1,SFMTA,N,1,16,18,0.0,138,0,0.0,NaN,3212,JUDAH,0,DOWNTOWN/CALTRAIN (M-F),18.030597,2.0,9TH AVE & IRVING ST,nan,37.763888,-122.466245,0,0,NaN,NaN,NaN,0.0,NaN,142.84,NaN,142.84,NaN,16.698,NaN,7.01,NaN,7.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001,2009-10-01,1,SFMTA,L,0,39,22,0.0,128,0,0.0,NaN,3266,TARAVAL,0,S F ZOO,9.645089,2.0,15TH AVE & TARAVAL ST,nan,37.743124,-122.471297,0,0,NaN,NaN,NaN,0.0,NaN,85.54,NaN,85.54,NaN,14.080,NaN,9.88,NaN,9.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2439,2009-11-01,1,SFMTA,L,0,39,20,0.0,128,0,0.0,NaN,3266,TARAVAL,0,S F ZOO,9.645089,2.0,15TH AVE & TARAVAL ST,nan,37.743124,-122.471297,0,0,NaN,NaN,NaN,0.0,NaN,85.54,NaN,85.54,NaN,14.080,NaN,9.88,NaN,9.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2870,2009-12-01,1,SFMTA,L,0,39,18,0.0,128,0,0.0,NaN,3266,TARAVAL,0,S F ZOO,9.655134,2.0,15TH AVE & TARAVAL ST,nan,37.743124,-122.471297,0,0,NaN,NaN,NaN,0.0,NaN,85.60,NaN,85.60,NaN,14.080,NaN,9.87,NaN,9.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2036,2009-10-01,1,SFMTA,L,1,47,22,0.0,128,0,0.0,NaN,3267,TARAVAL,0,EMBARCADERO STATION,16.553291,2.0,15TH AVE & TARAVAL ST,nan,37.743069,-122.471405,0,0,NaN,NaN,NaN,0.0,NaN,150.66,NaN,150.66,NaN,16.128,NaN,6.42,NaN,6.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2474,2009-11-01,1,SFMTA,L,1,47,20,0.0,128,0,0.0,NaN,3267,TARAVAL,0,EMBARCADERO STATION,16.553291,2.0,15TH AVE & TARAVAL ST,nan,37.743069,-122.471405,0,0,NaN,NaN,NaN,0.0,NaN,150.66,NaN,150.66,NaN,16.128,NaN,6.42,NaN,6.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2905,2009-12-01,1,SFMTA,L,1,47,18,0.0,128,0,0.0,NaN,3267,TARAVAL,0,DOWNTOWN,16.552803,2.0,15TH AVE & TARAVAL ST,nan,37.743069,-122.471405,0,0,NaN,NaN,NaN,0.0,NaN,150.66,NaN,150.66,NaN,16.128,NaN,6.42,NaN,6.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000,2009-10-01,1,SFMTA,L,0,38,22,0.0,128,0,0.0,NaN,3268,TARAVAL,0,S F ZOO,9.644888,2.0,15TH AVE & ULLOA ST,nan,37.741525,-122.471192,0,0,NaN,NaN,NaN,0.0,NaN,121.60,NaN,121.60,NaN,19.072,NaN,9.41,NaN,9.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2438,2009-11-01,1,SFMTA,L,0,38,20,0.0,128,0,0.0,NaN,3268,TARAVAL,0,S F ZOO,9.644888,2.0,15TH AVE & ULLOA ST,nan,37.741525,-122.471192,0,0,NaN,NaN,NaN,0.0,NaN,121.60,NaN,121.60,NaN,19.072,NaN,9.41,NaN,9.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2869,2009-12-01,1,SFMTA,L,0,38,18,0.0,128,0,0.0,NaN,3268,TARAVAL,0,S F ZOO,9.654933,2.0,15TH AVE & ULLOA ST,nan,37.741525,-122.471192,0,0,NaN,NaN,NaN,0.0,NaN,121.60,NaN,121.60,NaN,19.072,NaN,9.41,NaN,9.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2037,2009-10-01,1,SFMTA,L,1,48,22,0.0,128,0,0.0,NaN,3269,TARAVAL,0,EMBARCADERO STATION,16.551104,2.0,15TH AVE & ULLOA ST,nan,37.741484,-122.471300,0,0,NaN,NaN,NaN,0.0,NaN,118.30,NaN,118.30,NaN,13.952,NaN,7.08,NaN,7.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2475,2009-11-01,1,SFMTA,L,1,48,20,0.0,128,0,0.0,NaN,3269,TARAVAL,0,EMBARCADERO STATION,16.551104,2.0,15TH AVE & ULLOA ST,nan,37.741484,-122.471300,0,0,NaN,NaN,NaN,0.0,NaN,118.30,NaN,118.30,NaN,13.952,NaN,7.08,NaN,7.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2906,2009-12-01,1,SFMTA,L,1,48,18,0.0,128,0,0.0,NaN,3269,TARAVAL,0,DOWNTOWN,16.550615,2.0,15TH AVE & ULLOA ST,nan,37.741484,-122.471300,0,0,NaN,NaN,NaN,0.0,NaN,118.30,NaN,118.30,NaN,13.952,NaN,7.08,NaN,7.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1782,2009-10-01,1,SFMTA,F,0,31,22,0.0,22,0,0.0,NaN,3308,MARKET & WHARVES,0,BALBOA PARK STATION,46.227273,2.0,CHURCH ST & 18TH ST,nan,37.762810,-122.428500,0,0,NaN,NaN,NaN,0.0,NaN,66.00,NaN,66.00,NaN,5.412,NaN,4.92,NaN,4.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2220,2009-11-01,1,SFMTA,F,0,31,20,0.0,22,0,0.0,NaN,3308,MARKET & WHARVES,0,BALBOA PARK STATION,46.227273,2.0,CHURCH ST & 18TH ST,nan,37.762810,-122.428500,0,0,NaN,NaN,NaN,0.0,NaN,66.00,NaN,66.00,NaN,5.412,NaN,4.92,NaN,4.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2658,2009-12-01,1,SFMTA,F,0,31,18,0.0,22,0,0.0,NaN,3308,MARKET & WHARVES,0,BALBOA PARK STATION,46.227273,2.0,CHURCH ST & 18TH ST,nan,37.762810,-122.428500,0,0,NaN,NaN,NaN,0.0,NaN,66.00,NaN,66.00,NaN,5.412,NaN,4.92,NaN,4.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1780,2009-10-01,1,SFMTA,F,0,29,22,0.0,113,0,0.0,NaN,3311,MARKET & WHARVES,0,CASTRO,9.504425,2.0,17TH ST & CASTRO ST,nan,37.762520,-122.434866,1,0,NaN,NaN,NaN,0.0,NaN,222.77,NaN,222.77,NaN,19.888,NaN,5.36,NaN,5.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1821,2009-10-01,1,SFMTA,F,1,22,22,0.0,155,0,0.0,NaN,3311,MARKET & WHARVES,0,CASTRO,12.119355,2.0,17TH ST & CASTRO ST,nan,37.762520,-122.434866,1,0,NaN,NaN,NaN,0.0,NaN,82.39,NaN,82.39,NaN,9.849,NaN,7.17,NaN,7.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2218,2009-11-01,1,SFMTA,F,0,29,20,0.0,113,0,0.0,NaN,3311,MARKET & WHARVES,0,CASTRO,9.504425,2.0,17TH ST & CASTRO ST,nan,37.762520,-122.434866,1,0,NaN,NaN,NaN,0.0,NaN,222.77,NaN,222.77,NaN,19.888,NaN,5.36,NaN,5.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2259,2009-11-01,1,SFMTA,F,1,22,20,0.0,155,0,0.0,NaN,3311,MARKET & WHARVES,0,CASTRO,12.119355,2.0,17TH ST & CASTRO ST,nan,37.762520,-122.434866,1,0,NaN,NaN,NaN,0.0,NaN,82.39,NaN,82.39,NaN,9.849,NaN,7.17,NaN,7.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2656,2009-12-01,1,SFMTA,F,0,29,18,0.0,113,0,0.0,NaN,3311,MARKET & WHARVES,0,CASTRO STATION,9.504425,2.0,17TH ST & CASTRO ST,nan,37.762520,-122.434866,1,0,NaN,NaN,NaN,0.0,NaN,222.77,NaN,222.77,NaN,19.888,NaN,5.36,NaN,5.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2697,2009-12-01,1,SFMTA,F,1,22,18,0.0,155,0,0.0,NaN,3311,MARKET & WHARVES,0,CASTRO,12.119355,2.0,17TH ST & CASTRO ST,nan,37.762520,-122.434866,1,0,NaN,NaN,NaN,0.0,NaN,82.39,NaN,82.39,NaN,9.828,NaN,7.16,NaN,7.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2425,2009-11-01,1,SFMTA,KT,1,83,20,0.0,115,0,0.0,NaN,7395,INGLSIDE/THIRD,0,,11.852174,2.0,BAY SHORE BLVD/ARLETA/BLANKEN,nan,37.712253,-122.402316,0,0,NaN,NaN,NaN,0.0,NaN,333.50,NaN,333.50,NaN,60.375,NaN,10.86,NaN,10.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2858,2009-12-01,1,SFMTA,KT,1,83,18,0.0,115,0,0.0,NaN,7395,INGLESIDE/THIRD,0,,11.889130,2.0,BAY SHORE BLVD/ARLETA/BLANKEN,nan,37.712253,-122.402316,1,0,NaN,NaN,NaN,0.0,NaN,333.50,NaN,333.50,NaN,60.375,NaN,10.86,NaN,10.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988,2009-10-01,1,SFMTA,KT,1,84,22,0.0,115,0,0.0,NaN,7396,INGLSIDE/THIRD,0,,11.852174,2.0,BAY SHORE BLVD & SUNNYDALE AVE,nan,37.708970,-122.405055,1,0,NaN,NaN,NaN,0.0,NaN,175.95,NaN,175.95,NaN,31.280,NaN,10.67,NaN,10.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2426,2009-11-01,1,SFMTA,KT,1,84,20,0.0,115,0,0.0,NaN,7396,INGLSIDE/THIRD,0,,11.852174,2.0,BAY SHORE BLVD & SUNNYDALE AVE,nan,37.708970,-122.405055,1,0,NaN,NaN,NaN,0.0,NaN,175.95,NaN,175.95,NaN,31.280,NaN,10.67,NaN,10.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1971,2009-10-01,1,SFMTA,KT,1,64,22,0.0,129,0,0.0,NaN,7397,INGLSIDE/THIRD,0,SUNNYDALE & BAYSHORE,15.981031,2.0,4TH ST & KING ST,nan,37.776252,-122.394036,0,0,NaN,NaN,NaN,0.0,NaN,189.22,NaN,189.22,NaN,39.270,NaN,12.45,NaN,12.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2409,2009-11-01,1,SFMTA,KT,1,64,20,0.0,129,0,0.0,NaN,7397,INGLSIDE/THIRD,0,SUNNYDALE & BAYSHORE,15.981031,2.0,4TH ST & KING ST,nan,37.776252,-122.394036,0,0,NaN,NaN,NaN,0.0,NaN,189.22,NaN,189.22,NaN,39.270,NaN,12.45,NaN,12.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2842,2009-12-01,1,SFMTA,KT,1,64,18,0.0,138,0,0.0,NaN,7397,INGLESIDE/THIRD,0,SUNNYDALE & BAYSHORE,11.635488,2.0,4TH ST & KING ST,nan,37.776252,-122.394036,0,0,NaN,NaN,NaN,0.0,NaN,208.02,NaN,208.02,NaN,42.570,NaN,12.28,NaN,12.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1902,2009-10-01,1,SFMTA,KT,0,1,22,0.0,115,0,0.0,NaN,7398,INGLSIDE/THIRD,0,BALBOA PARK STATION,12.689275,2.0,BAY SHORE BLVD & SUNNYDALE AVE,nan,37.708997,-122.405021,0,1,NaN,NaN,NaN,0.0,NaN,0.00,NaN,0.00,NaN,0.000,NaN,0.00,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2340,2009-11-01,1,SFMTA,KT,0,1,20,0.0,115,0,0.0,NaN,7398,INGLSIDE/THIRD,0,BALBOA PARK STATION,12.689275,2.0,BAY SHORE BLVD & SUNNYDALE AVE,nan,37.708997,-122.405021,0,1,NaN,NaN,NaN,0.0,NaN,0.00,NaN,0.00,NaN,0.000,NaN,0.00,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2775,2009-12-01,1,SFMTA,KT,0,1,18,0.0,115,0,0.0,NaN,7398,INGLESIDE/THIRD,0,BALBOA PARK STATION,13.199420,2.0,BAY SHORE BLVD & SUNNYDALE AVE,nan,37.708997,-122.405021,0,1,NaN,NaN,NaN,0.0,NaN,0.00,NaN,0.00,NaN,0.000,NaN,0.00,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1903,2009-10-01,1,SFMTA,KT,0,2,22,0.0,115,0,0.0,NaN,7399,INGLSIDE/THIRD,0,BALBOA PARK STATION,12.689275,2.0,BAY SHORE BLVD/ARLETA/BLANKEN,nan,37.712226,-122.402339,0,0,NaN,NaN,NaN,0.0,NaN,170.20,NaN,170.20,NaN,30.705,NaN,10.82,NaN,10.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2341,2009-11-01,1,SFMTA,KT,0,2,20,0.0,115,0,0.0,NaN,7399,INGLSIDE/THIRD,0,BALBOA PARK STATION,12.689275,2.0,BAY SHORE BLVD/ARLETA/BLANKEN,nan,37.712226,-122.402339,0,0,NaN,NaN,NaN,0.0,NaN,170.20,NaN,170.20,NaN,30.705,NaN,10.82,NaN,10.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2776,2009-12-01,1,SFMTA,KT,0,2,18,0.0,115,0,0.0,NaN,7399,INGLESIDE/THIRD,0,BALBOA PARK STATION,13.199420,2.0,BAY SHORE BLVD/ARLETA/BLANKEN,nan,37.712226,-122.402339,0,0,NaN,NaN,NaN,0.0,NaN,170.20,NaN,170.20,NaN,30.705,NaN,10.82,NaN,10.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904,2009-10-01,1,SFMTA,KT,0,3,22,0.0,115,0,0.0,NaN,7400,INGLSIDE/THIRD,0,BALBOA PARK STATION,12.689275,2.0,THIRD STREET & LE CONTE AVE,nan,37.718809,-122.397468,0,0,NaN,NaN,NaN,0.0,NaN,335.80,NaN,335.80,NaN,60.605,NaN,10.83,NaN,10.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2342,2009-11-01,1,SFMTA,KT,0,3,20,0.0,115,0,0.0,NaN,7400,INGLSIDE/THIRD,0,BALBOA PARK STATION,12.689275,2.0,THIRD STREET & LE CONTE AVE,nan,37.718809,-122.397468,0,0,NaN,NaN,NaN,0.0,NaN,335.80,NaN,335.80,NaN,60.605,NaN,10.83,NaN,10.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1908,2009-10-01,1,SFMTA,KT,0,7,22,0.0,115,0,0.0,NaN,7401,INGLSIDE/THIRD,0,BALBOA PARK STATION,12.689275,2.0,THIRD STREET/REVERE/SHAFTER,nan,37.732262,-122.391502,0,0,NaN,NaN,NaN,0.0,NaN,97.75,NaN,97.75,NaN,24.610,NaN,15.11,NaN,15.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2346,2009-11-01,1,SFMTA,KT,0,7,20,0.0,115,0,0.0,NaN,7401,INGLSIDE/THIRD,0,BALBOA PARK STATION,12.689275,2.0,THIRD STREET/REVERE/SHAFTER,nan,37.732262,-122.391502,0,0,NaN,NaN,NaN,0.0,NaN,97.75,NaN,97.75,NaN,24.610,NaN,15.11,NaN,15.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2780,2009-12-01,1,SFMTA,KT,0,7,18,0.0,115,0,0.0,NaN,7401,INGLESIDE/THIRD,0,BALBOA PARK STATION,13.199420,2.0,THIRD STREET/REVERE/SHAFTER,nan,37.732262,-122.391502,0,0,NaN,NaN,NaN,0.0,NaN,97.75,NaN,97.75,NaN,24.610,NaN,15.11,NaN,15.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1909,2009-10-01,1,SFMTA,KT,0,8,22,0.0,115,0,0.0,NaN,7402,INGLSIDE/THIRD,0,BALBOA PARK STATION,12.689275,2.0,THIRD STREET/OAKDALE/PALOU,nan,37.734358,-122.390836,0,0,NaN,NaN,NaN,0.0,NaN,69.00,NaN,69.00,NaN,17.135,NaN,14.90,NaN,14.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2347,2009-11-01,1,SFMTA,KT,0,8,20,0.0,115,0,0.0,NaN,7402,INGLSIDE/THIRD,0,BALBOA PARK STATION,12.689275,2.0,THIRD STREET/OAKDALE/PALOU,nan,37.734358,-122.390836,0,0,NaN,NaN,NaN,0.0,NaN,69.00,NaN,69.00,NaN,17.135,NaN,14.90,NaN,14.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2781,2009-12-01,1,SFMTA,KT,0,8,18,0.0,115,0,0.0,NaN,7402,INGLESIDE/THIRD,0,BALBOA PARK STATION,13.199420,2.0,THIRD STREET/OAKDALE/PALOU,nan,37.734358,-122.390836,0,0,NaN,NaN,NaN,0.0,NaN,69.00,NaN,69.00,NaN,17.135,NaN,14.90,NaN,14.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1910,2009-10-01,1,SFMTA,KT,0,9,22,0.0,115,0,0.0,NaN,7403,INGLSIDE/THIRD,0,BALBOA PARK STATION,12.689275,2.0,THIRD STREET/KIRKWOOD/LA SALLE,nan,37.737641,-122.389688,0,0,NaN,NaN,NaN,0.0,NaN,106.95,NaN,106.95,NaN,27.025,NaN,15.16,NaN,15.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2348,2009-11-01,1,SFMTA,KT,0,9,20,0.0,115,0,0.0,NaN,7403,INGLSIDE/THIRD,0,BALBOA PARK STATION,12.689275,2.0,THIRD STREET/KIRKWOOD/LA SALLE,nan,37.737641,-122.389688,0,0,NaN,NaN,NaN,0.0,NaN,106.95,NaN,106.95,NaN,27.025,NaN,15.16,NaN,15.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2782,2009-12-01,1,SFMTA,KT,0,9,18,0.0,115,0,0.0,NaN,7403,INGLESIDE/THIRD,0,BALBOA PARK STATION,13.199420,2.0,THIRD STREET/KIRKWOOD/LA SALLE,nan,37.737641,-122.389688,0,0,NaN,NaN,NaN,0.0,NaN,106.95,NaN,106.95,NaN,27.025,NaN,15.16,NaN,15.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1911,2009-10-01,1,SFMTA,KT,0,10,22,0.0,115,0,0.0,NaN,7404,INGLSIDE/THIRD,0,BALBOA PARK STATION,12.689275,2.0,THIRD STREET/HUDSON/INNES,nan,37.739916,-122.388884,0,0,NaN,NaN,NaN,0.0,NaN,74.75,NaN,74.75,NaN,18.745,NaN,15.05,NaN,15.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2349,2009-11-01,1,SFMTA,KT,0,10,20,0.0,115,0,0.0,NaN,7404,INGLSIDE/THIRD,0,BALBOA PARK STATION,12.689275,2.0,THIRD STREET/HUDSON/INNES,nan,37.739916,-122.388884,0,0,NaN,NaN,NaN,0.0,NaN,74.75,NaN,74.75,NaN,18.745,NaN,15.05,NaN,15.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2783,2009-12-01,1,SFMTA,KT,0,10,18,0.0,115,0,0.0,NaN,7404,INGLESIDE/THIRD,0,BALBOA PARK STATION,13.199420,2.0,THIRD STREET/HUDSON/INNES,nan,37.739916,-122.388884,0,0,NaN,NaN,NaN,0.0,NaN,74.75,NaN,74.75,NaN,18.745,NaN,15.05,NaN,15.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2090,2009-10-01,1,SFMTA,M,1,15,22,0.0,114,0,0.0,NaN,7449,OCEANVIEW,0,WEST PORTAL STATION,18.887485,2.0,19TH AVE& WINSTON DR NE-FS/SI,nan,37.727195,-122.474846,0,0,NaN,NaN,NaN,0.0,NaN,524.94,NaN,524.94,NaN,46.854,NaN,5.36,NaN,5.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2528,2009-11-01,1,SFMTA,M,1,15,20,0.0,114,0,0.0,NaN,7449,OCEANVIEW,0,WEST PORTAL STATION,18.887485,2.0,19TH AVE& WINSTON DR NE-FS/SI,nan,37.727195,-122.474846,0,0,NaN,NaN,NaN,0.0,NaN,524.94,NaN,524.94,NaN,46.854,NaN,5.36,NaN,5.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2956,2009-12-01,1,SFMTA,M,1,15,18,0.0,114,0,0.0,NaN,7449,OCEAN VIEW,0,WEST PORTAL STATION,18.874123,2.0,19TH AVE& WINSTON DR NE-FS/SI,nan,37.727195,-122.474846,0,0,NaN,NaN,NaN,0.0,NaN,526.61,NaN,526.61,NaN,46.854,NaN,5.34,NaN,5.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [248]:
df_keep09.sort(columns = ['STOP_ID','ROUTE_SHORT_NAME'])

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,ROUTE_SHORT_NAME,SEQ,DIR,STOP_ID,HEADWAY_S,EOL,SOL,STOP_LAT,STOP_LON,DWELL_S,RUNTIME_S,TOTTIME_S,SERVMILES_S,RUNSPEED_S,TOTSPEED_S
1753,F,2,0,3092,16.914719,0,0,37.807407,-122.414125,0.0,467.46,467.46,26.166,3.36,3.36
2191,F,2,0,3092,16.914719,0,0,37.807407,-122.414125,0.0,467.46,467.46,26.166,3.36,3.36
2629,F,2,0,3092,16.914719,0,0,37.807407,-122.414125,0.0,467.46,467.46,26.166,3.36,3.36
1754,F,3,0,3095,16.918522,0,0,37.807841,-122.410810,0.0,437.54,437.54,27.048,3.71,3.71
2192,F,3,0,3095,16.918522,0,0,37.807841,-122.410810,0.0,437.54,437.54,27.048,3.71,3.71
2630,F,3,0,3095,16.918522,0,0,37.807841,-122.410810,0.0,437.54,437.54,27.048,3.71,3.71
2156,N,16,1,3212,21.291075,0,0,37.763888,-122.466245,0.0,139.64,139.64,16.698,7.17,7.17
2594,N,16,1,3212,21.291075,0,0,37.763888,-122.466245,0.0,139.64,139.64,16.698,7.17,7.17
3019,N,16,1,3212,18.030597,0,0,37.763888,-122.466245,0.0,142.84,142.84,16.698,7.01,7.01
2001,L,39,0,3266,9.645089,0,0,37.743124,-122.471297,0.0,85.54,85.54,14.080,9.88,9.88
2439,L,39,0,3266,9.645089,0,0,37.743124,-122.471297,0.0,85.54,85.54,14.080,9.88,9.88
2870,L,39,0,3266,9.655134,0,0,37.743124,-122.471297,0.0,85.60,85.60,14.080,9.87,9.87
2036,L,47,1,3267,16.553291,0,0,37.743069,-122.471405,0.0,150.66,150.66,16.128,6.42,6.42
2474,L,47,1,3267,16.553291,0,0,37.743069,-122.471405,0.0,150.66,150.66,16.128,6.42,6.42
2905,L,47,1,3267,16.552803,0,0,37.743069,-122.471405,0.0,150.66,150.66,16.128,6.42,6.42
2000,L,38,0,3268,9.644888,0,0,37.741525,-122.471192,0.0,121.60,121.60,19.072,9.41,9.41
2438,L,38,0,3268,9.644888,0,0,37.741525,-122.471192,0.0,121.60,121.60,19.072,9.41,9.41
2869,L,38,0,3268,9.654933,0,0,37.741525,-122.471192,0.0,121.60,121.60,19.072,9.41,9.41
2037,L,48,1,3269,16.551104,0,0,37.741484,-122.471300,0.0,118.30,118.30,13.952,7.08,7.08
2475,L,48,1,3269,16.551104,0,0,37.741484,-122.471300,0.0,118.30,118.30,13.952,7.08,7.08
2906,L,48,1,3269,16.550615,0,0,37.741484,-122.471300,0.0,118.30,118.30,13.952,7.08,7.08
1782,F,31,0,3308,46.227273,0,0,37.762810,-122.428500,0.0,66.00,66.00,5.412,4.92,4.92
2220,F,31,0,3308,46.227273,0,0,37.762810,-122.428500,0.0,66.00,66.00,5.412,4.92,4.92
2658,F,31,0,3308,46.227273,0,0,37.762810,-122.428500,0.0,66.00,66.00,5.412,4.92,4.92
1780,F,29,0,3311,9.504425,1,0,37.762520,-122.434866,0.0,222.77,222.77,19.888,5.36,5.36
1821,F,22,1,3311,12.119355,1,0,37.762520,-122.434866,0.0,82.39,82.39,9.849,7.17,7.17
2218,F,29,0,3311,9.504425,1,0,37.762520,-122.434866,0.0,222.77,222.77,19.888,5.36,5.36
2259,F,22,1,3311,12.119355,1,0,37.762520,-122.434866,0.0,82.39,82.39,9.849,7.17,7.17
2656,F,29,0,3311,9.504425,1,0,37.762520,-122.434866,0.0,222.77,222.77,19.888,5.36,5.36
2697,F,22,1,3311,12.119355,1,0,37.762520,-122.434866,0.0,82.39,82.39,9.828,7.16,7.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2425,KT,83,1,7395,11.852174,0,0,37.712253,-122.402316,0.0,333.50,333.50,60.375,10.86,10.86
2858,KT,83,1,7395,11.889130,1,0,37.712253,-122.402316,0.0,333.50,333.50,60.375,10.86,10.86
1988,KT,84,1,7396,11.852174,1,0,37.708970,-122.405055,0.0,175.95,175.95,31.280,10.67,10.67
2426,KT,84,1,7396,11.852174,1,0,37.708970,-122.405055,0.0,175.95,175.95,31.280,10.67,10.67
1971,KT,64,1,7397,15.981031,0,0,37.776252,-122.394036,0.0,189.22,189.22,39.270,12.45,12.45
2409,KT,64,1,7397,15.981031,0,0,37.776252,-122.394036,0.0,189.22,189.22,39.270,12.45,12.45
2842,KT,64,1,7397,11.635488,0,0,37.776252,-122.394036,0.0,208.02,208.02,42.570,12.28,12.28
1902,KT,1,0,7398,12.689275,0,1,37.708997,-122.405021,0.0,0.00,0.00,0.000,0.00,0.00
2340,KT,1,0,7398,12.689275,0,1,37.708997,-122.405021,0.0,0.00,0.00,0.000,0.00,0.00
2775,KT,1,0,7398,13.199420,0,1,37.708997,-122.405021,0.0,0.00,0.00,0.000,0.00,0.00
1903,KT,2,0,7399,12.689275,0,0,37.712226,-122.402339,0.0,170.20,170.20,30.705,10.82,10.82
2341,KT,2,0,7399,12.689275,0,0,37.712226,-122.402339,0.0,170.20,170.20,30.705,10.82,10.82
2776,KT,2,0,7399,13.199420,0,0,37.712226,-122.402339,0.0,170.20,170.20,30.705,10.82,10.82
1904,KT,3,0,7400,12.689275,0,0,37.718809,-122.397468,0.0,335.80,335.80,60.605,10.83,10.83
2342,KT,3,0,7400,12.689275,0,0,37.718809,-122.397468,0.0,335.80,335.80,60.605,10.83,10.83
1908,KT,7,0,7401,12.689275,0,0,37.732262,-122.391502,0.0,97.75,97.75,24.610,15.11,15.11
2346,KT,7,0,7401,12.689275,0,0,37.732262,-122.391502,0.0,97.75,97.75,24.610,15.11,15.11
2780,KT,7,0,7401,13.199420,0,0,37.732262,-122.391502,0.0,97.75,97.75,24.610,15.11,15.11
1909,KT,8,0,7402,12.689275,0,0,37.734358,-122.390836,0.0,69.00,69.00,17.135,14.90,14.90
2347,KT,8,0,7402,12.689275,0,0,37.734358,-122.390836,0.0,69.00,69.00,17.135,14.90,14.90
2781,KT,8,0,7402,13.199420,0,0,37.734358,-122.390836,0.0,69.00,69.00,17.135,14.90,14.90
1910,KT,9,0,7403,12.689275,0,0,37.737641,-122.389688,0.0,106.95,106.95,27.025,15.16,15.16
2348,KT,9,0,7403,12.689275,0,0,37.737641,-122.389688,0.0,106.95,106.95,27.025,15.16,15.16
2782,KT,9,0,7403,13.199420,0,0,37.737641,-122.389688,0.0,106.95,106.95,27.025,15.16,15.16
1911,KT,10,0,7404,12.689275,0,0,37.739916,-122.388884,0.0,74.75,74.75,18.745,15.05,15.05
2349,KT,10,0,7404,12.689275,0,0,37.739916,-122.388884,0.0,74.75,74.75,18.745,15.05,15.05
2783,KT,10,0,7404,13.199420,0,0,37.739916,-122.388884,0.0,74.75,74.75,18.745,15.05,15.05
2090,M,15,1,7449,18.887485,0,0,37.727195,-122.474846,0.0,524.94,524.94,46.854,5.36,5.36
2528,M,15,1,7449,18.887485,0,0,37.727195,-122.474846,0.0,524.94,524.94,46.854,5.36,5.36
2956,M,15,1,7449,18.874123,0,0,37.727195,-122.474846,0.0,526.61,526.61,46.854,5.34,5.34

In [174]:
merged09.sort(columns = ['STOP_ID','ROUTE_SHORT_NAME'])

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,ROUTE_SHORT_NAME,STOP_ID,DIR,HEADWAY_S,EOL,SOL,STOP_LAT,STOP_LON,DWELL_S,RUNTIME_S,TOTTIME_S,SERVMILES_S,RUNSPEED_S,TOTSPEED_S,Route,STOP,Boardings,Alightings,STOP NAME
0,F,3092.0,0,16.914719,0.000000,0.0,37.807407,-122.414125,0.0,467.460000,467.460000,26.166000,3.360000,3.360000,NaN,NaN,NaN,NaN,NaN
1,F,3095.0,0,16.918522,0.000000,0.0,37.807841,-122.410810,0.0,437.540000,437.540000,27.048000,3.710000,3.710000,NaN,NaN,NaN,NaN,NaN
354,N,3212.0,1,20.204249,0.000000,0.0,37.763888,-122.466245,0.0,140.706667,140.706667,16.698000,7.116667,7.116667,N-JUDAH,9th&Irving,NaN,270.0,9th Ave & Irving St
238,L,3266.0,0,9.648438,0.000000,0.0,37.743124,-122.471297,0.0,85.560000,85.560000,14.080000,9.876667,9.876667,L-TARAVAL,15th&Taraval,77.0,255.0,15th Ave & Taraval St
239,L,3267.0,1,16.553128,0.000000,0.0,37.743069,-122.471405,0.0,150.660000,150.660000,16.128000,6.420000,6.420000,L-TARAVAL,15th&Taraval,280.0,77.0,15th Ave & Taraval St
240,L,3268.0,0,9.648237,0.000000,0.0,37.741525,-122.471192,0.0,121.600000,121.600000,19.072000,9.410000,9.410000,L-TARAVAL,15th&Ulloa,22.0,111.0,15th Ave & Ulloa St
241,L,3269.0,1,16.550941,0.000000,0.0,37.741484,-122.471300,0.0,118.300000,118.300000,13.952000,7.080000,7.080000,L-TARAVAL,15th&Ulloa,47.0,13.0,15th Ave & Ulloa St
2,F,3308.0,0,46.227273,0.000000,0.0,37.762810,-122.428500,0.0,66.000000,66.000000,5.412000,4.920000,4.920000,NaN,NaN,NaN,NaN,NaN
3,F,3311.0,0,9.504425,1.000000,0.0,37.762520,-122.434866,0.0,222.770000,222.770000,19.888000,5.360000,5.360000,NaN,NaN,NaN,NaN,NaN
4,F,3311.0,1,12.119355,1.000000,0.0,37.762520,-122.434866,0.0,82.390000,82.390000,9.842000,7.166667,7.166667,NaN,NaN,NaN,NaN,NaN
5,F,3318.0,0,45.613636,1.000000,0.0,37.762645,-122.432991,0.0,22.500000,22.500000,2.816000,7.510000,7.510000,NaN,NaN,NaN,NaN,NaN
298,M,3358.0,0,10.977396,0.000000,0.0,37.721128,-122.475302,0.0,357.500000,357.500000,44.091667,7.400000,7.400000,M-OCEAN VIEW,19th&Holloway,769.0,NaN,19th Ave & Holloway Ave
299,M,3361.0,1,18.879669,0.000000,0.0,37.716889,-122.472275,0.0,177.840000,177.840000,26.334000,8.886667,8.886667,M-OCEAN VIEW,19th&J.Serra,208.0,60.0,19th Ave & Junipero Serra Blvd
300,M,3376.0,0,10.980167,0.000000,0.0,37.716200,-122.471670,0.0,374.043333,374.043333,42.683333,6.843333,6.843333,M-OCEAN VIEW,19th&N Randolph,64.0,214.0,19th Ave & Randolph St
301,M,3385.0,1,18.882651,0.000000,0.0,37.714282,-122.469618,0.0,108.040000,108.040000,16.416000,9.116667,9.116667,M-OCEAN VIEW,19th&Randolph,187.0,64.0,19th Ave & Randolph St
302,M,3387.0,0,10.981276,0.000000,0.0,37.714443,-122.469998,0.0,141.380000,141.380000,16.466667,6.983333,6.983333,M-OCEAN VIEW,19th&Randolph,68.0,170.0,19th Ave & Randolph St
303,M,3403.0,0,10.977396,0.000000,0.0,37.727017,-122.474937,0.0,256.750000,256.750000,31.416667,7.340000,7.340000,M-OCEAN VIEW,19th&Winston,368.0,988.0,19th Ave & Winston Dr
6,F,3537.0,1,32.072727,0.000000,0.0,37.742304,-122.424026,0.0,22.000000,22.000000,3.894000,10.620000,10.620000,NaN,NaN,NaN,NaN,NaN
99,J,3537.0,1,16.494541,0.000000,0.0,37.742304,-122.424026,0.0,118.166667,118.166667,21.122000,10.726667,10.726667,J-CHURCH,30th&Dolores,132.0,58.0,30th St & Dolores St
7,F,3538.0,0,46.227273,0.000000,0.0,37.742170,-122.424457,0.0,11.440000,11.440000,2.508000,13.150000,13.150000,NaN,NaN,NaN,NaN,NaN
100,J,3538.0,0,11.844587,0.000000,0.0,37.742170,-122.424457,0.0,103.073333,103.073333,13.884000,8.210000,8.210000,J-CHURCH,30th&Dolores,60.0,170.0,30th St & Dolores St
242,L,3599.0,1,16.560628,0.000000,0.0,37.741685,-122.504534,0.0,106.970000,106.970000,16.384000,9.190000,9.190000,L-TARAVAL,46th&Taraval,544.0,19.0,46th Ave & Taraval St
243,L,3600.0,0,9.648438,0.000000,0.0,37.739998,-122.504579,0.0,97.100000,97.100000,16.128000,9.970000,9.970000,L-TARAVAL,46th&Ulloa,0.0,226.0,46th Ave & Ulloa St
244,L,3601.0,1,16.560628,0.000000,0.0,37.739829,-122.504407,0.0,106.970000,106.970000,16.384000,9.190000,9.190000,L-TARAVAL,46th&Ulloa,140.0,0.0,46th Ave & Ulloa St
245,L,3602.0,0,9.648438,0.000000,0.0,37.738142,-122.504440,0.0,97.100000,97.100000,16.384000,10.120000,10.120000,L-TARAVAL,46th&Vicente,0.0,189.0,46th Ave & Vicente St
246,L,3603.0,1,16.560628,0.000000,0.0,37.737973,-122.504268,0.0,108.460000,108.460000,16.384000,9.060000,9.060000,L-TARAVAL,46th&Vicente,203.0,0.0,46th Ave & Vicente St
304,M,3715.0,1,18.891131,0.000000,0.0,37.713191,-122.458921,0.0,120.993333,120.993333,18.696000,9.270000,9.270000,NaN,NaN,NaN,NaN,NaN
458,M,3715.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M-OCEAN VIEW,Broad&Capitol,180.0,236.0,Broad St & Capitol Ave
305,M,3716.0,0,10.985896,0.000000,0.0,37.713152,-122.459159,0.0,182.766667,182.766667,20.366667,6.683333,6.683333,NaN,NaN,NaN,NaN,NaN
460,M,3716.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M-OCEAN VIEW,Broad&Capitol,304.0,210.0,Broad St & Capitol Ave
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,KT,7360.0,1,14.532517,0.000000,0.0,37.768540,-122.389274,0.0,215.160000,215.160000,39.204000,10.930000,10.930000,KT-INGLESIDE/THIRD,3rd&GeneFrnd,44.0,314.0,UCSF/Mission Bay
216,KT,7361.0,1,14.532517,0.000000,0.0,37.764239,-122.388865,0.0,215.160000,215.160000,39.204000,10.930000,10.930000,KT-INGLESIDE/THIRD,3rd&Mariposa,90.0,144.0,Third Street & Mariposa St
217,KT,7362.0,1,14.532517,0.000000,0.0,37.760376,-122.388558,0.0,198.000000,198.000000,35.244000,10.680000,10.680000,KT-INGLESIDE/THIRD,3rd&20th,363.0,360.0,Third Street & 20th St
218,KT,7363.0,1,14.532517,0.000000,0.0,37.755290,-122.388012,0.0,127.120000,127.120000,46.464000,21.940000,21.940000,KT-INGLESIDE/THIRD,3rd&23rd,122.0,254.0,Third Street & 23rd St
219,KT,7364.0,1,11.864493,0.000000,1.0,37.749079,-122.387479,0.0,116.600000,116.600000,45.474000,23.400000,23.400000,KT-INGLESIDE/THIRD,3rd&Marin,107.0,189.0,Third Street & Marin St
220,KT,7365.0,1,11.864493,0.000000,0.0,37.742727,-122.388034,0.0,451.000000,451.000000,50.485000,6.720000,6.720000,KT-INGLESIDE/THIRD,3rd&Evans,266.0,301.0,Third Street & Evans Ave
221,KT,7380.0,0,15.395833,0.000000,0.0,37.789570,-122.388489,0.0,201.600000,201.600000,41.040000,12.210000,12.210000,NaN,NaN,NaN,NaN,NaN
222,KT,7380.0,1,16.933473,0.000000,0.0,37.789570,-122.388489,0.0,86.870000,86.870000,10.829000,7.480000,7.480000,NaN,NaN,NaN,NaN,NaN
425,N,7380.0,0,14.358779,0.000000,0.0,37.789570,-122.388489,0.0,214.030000,214.030000,44.802000,12.560000,12.560000,NaN,NaN,NaN,NaN,NaN
426,N,7380.0,1,17.900763,0.000000,0.0,37.789570,-122.388489,0.0,75.750000,75.750000,11.921000,9.440000,9.440000,NaN,NaN,NaN,NaN,NaN
223,KT,7390.0,1,11.864493,0.000000,0.0,37.739916,-122.388907,0.0,109.250000,109.250000,23.000000,12.630000,12.630000,KT-INGLESIDE/THIRD,3rd&Hudson,160.0,254.0,Third Street/Hudson/Innes
224,KT,7391.0,1,11.864493,0.000000,0.0,37.737641,-122.389711,0.0,89.700000,89.700000,18.745000,12.540000,12.540000,KT-INGLESIDE/THIRD,3rd&Kirkwood,195.0,346.0,Third Street/Kirkwood/La Salle
225,KT,7392.0,1,11.864493,0.000000,0.0,37.734350,-122.390859,0.0,129.950000,129.950000,27.140000,12.530000,12.530000,KT-INGLESIDE/THIRD,3rd&Oakdale,409.0,663.0,Third Street/Oakdale/Palou
226,KT,7393.0,1,11.864493,0.000000,0.0,37.732280,-122.391536,0.0,80.500000,80.500000,16.905000,12.600000,12.600000,KT-INGLESIDE/THIRD,3rd&Revere,185.0,421.0,Third Street/Revere/Shafter
227,KT,7394.0,1,11.864493,0.000000,0.0,37.718827,-122.397491,0.0,161.000000,161.000000,30.705000,11.440000,11.440000,KT-INGLESIDE/THIRD,3rd&Le Conte,82.0,256.0,Third Street & Le Conte Ave
228,KT,7395.0,1,11.864493,0.333333,0.0,37.712253,-122.402316,0.0,333.500000,333.500000,60.375000,10.860000,10.860000,KT-INGLESIDE/THIRD,Byshre&Arleta,15.0,705.0,Bay Shore Blvd/Arleta/Blanken
229,KT,7396.0,1,11.852174,1.000000,0.0,37.708970,-122.405055,0.0,175.950000,175.950000,31.280000,10.670000,10.670000,KT-INGLESIDE/THIRD,ByShre&Sundle,0.0,561.0,Bay Shore Blvd & Sunnydale Ave
230,KT,7397.0,1,14.532517,0.000000,0.0,37.776252,-122.394036,0.0,195.486667,195.486667,40.370000,12.393333,12.393333,KT-INGLESIDE/THIRD,4th & King,868.0,884.0,4th St & King St
231,KT,7398.0,0,12.859324,0.000000,1.0,37.708997,-122.405021,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,KT-INGLESIDE/THIRD,ByShre&Sundle,336.0,0.0,Bay Shore Blvd & Sunnydale Ave
232,KT,7399.0,0,12.859324,0.000000,0.0,37.712226,-122.402339,0.0,170.200000,170.200000,30.705000,10.820000,10.820000,KT-INGLESIDE/THIRD,Byshre&Arleta,691.0,10.0,Bay Shore Blvd/Arleta/Blanken
233,KT,7400.0,0,12.689275,0.000000,0.0,37.718809,-122.397468,0.0,335.800000,335.800000,60.605000,10.830000,10.830000,KT-INGLESIDE/THIRD,3rd&Le Conte,223.0,108.0,Third Street & Le Conte Ave
234,KT,7401.0,0,12.859324,0.000000,0.0,37.732262,-122.391502,0.0,97.750000,97.750000,24.610000,15.110000,15.110000,KT-INGLESIDE/THIRD,3rd&Revere,392.0,182.0,Third Street/Revere/Shafter
235,KT,7402.0,0,12.859324,0.000000,0.0,37.734358,-122.390836,0.0,69.000000,69.000000,17.135000,14.900000,14.900000,KT-INGLESIDE/THIRD,3rd&Oakdale,677.0,430.0,Third Street/Oakdale/Palou
236,KT,7403.0,0,12.859324,0.000000,0.0,37.737641,-122.389688,0.0,106.950000,106.950000,27.025000,15.160000,15.160000,KT-INGLESIDE/THIRD,3rd&Kirkwood,389.0,153.0,Third Street/Kirkwood/La Salle
237,KT,7404.0,0,12.859324,0.000000,0.0,37.739916,-122.388884,0.0,74.750000,74.750000,18.745000,15.050000,15.050000,KT-INGLESIDE/THIRD,3rd&Hudson,300.0,140.0,Third Street/Hudson/Innes
353,M,7449.0,1,18.883031,0.000000,0.0,37.727195,-122.474846,0.0,525.496667,525.496667,46.854000,5.353333,5.353333,M-OCEAN VIEW,19th&Winston,NaN,321.0,19th Ave & Winston Dr
443,N,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N-JUDAH,Duboce&Church,0.0,0.0,because they were to be added to the other dub...
444,N,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N-JUDAH,King&6th,0.0,0.0,Not a Public Stop
445,N,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N-JUDAH,DuboceChurch,0.0,0.0,because they were to be added to the other dub...
446,N,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N-JUDAH,King&6th,0.0,0.0,Not a Public Stop

In [59]:
len(riders09)

323

In [60]:
len(merged09)

189

In [208]:
merged09.STOP_ID.value_counts()

7058    16
5727    15
6997    15
6996    15
5417    15
5731    15
6994    15
6995    15
5419    15
7217    14
6992    12
5728     9
5730     9
5726     9
6991     9
6998     9
6993     7
4510     6
6932     6
5224     6
5225     6
6898     6
4509     6
5237     6
6739     6
6740     6
7145     6
7125     6
5418     6
5234     6
        ..
3358     3
6623     3
6622     3
6625     3
6636     3
5197     3
3603     3
3602     3
3601     3
3600     3
3599     3
5193     3
6626     3
6637     3
6638     3
6635     3
6634     3
6633     3
6632     3
6631     3
6630     3
6629     3
6628     3
6627     3
5120     3
7396     2
7400     2
7162     2
7164     2
7165     2
Name: STOP_ID, dtype: int64

In [249]:
merged09.columns

Index(['ROUTE_SHORT_NAME', 'STOP_ID', 'DIR', 'SEQ', 'HEADWAY_S', 'EOL', 'SOL',
       'STOP_LAT', 'STOP_LON', 'DWELL_S', 'RUNTIME_S', 'TOTTIME_S',
       'SERVMILES_S', 'RUNSPEED_S', 'TOTSPEED_S', 'Route', 'STOP', 'Boardings',
       'Alightings', 'STOP NAME'],
      dtype='object')

In [252]:
merged09_inner.to_csv('E:/Transit-Casa-Alex/MUNI Rail/Input/Rail Stops Performance Data/MUNI_Rail_Stops_2009.csv')

In [330]:
def set_DIR(row):
    if row['DIRECTION'] == 'INBOUND':
        row['DIR'] = 1
    elif row['DIRECTION'] == 'OUTBOUND':
        row['DIR'] = 0
    elif row['DIRECTION'] == 0:
        row['DIR'] = 0
    return row

In [331]:
riders16 = riders16.apply(lambda x : set_DIR(x),axis = 1)

In [332]:
riders16.DIR.unique()

array([1, 0], dtype=int64)

In [333]:
riders16.head()

,ROUTE,DIRECTION,STOP NAME,STOP ID,STOP SEQ,Time Period,Total Boardings,Total Alightings,Total Train Load,Number of Trips in Time Period,Average Boardings,Average Alightings,Average Train Load,Stop Latitude,Stop Longitude,ROUTE_SHORT_NAME,DIR
0,J-Church,INBOUND,San Jose Ave & Geneva Ave,7778,1,7 - Owl,4.4,-,4.4,9,0.5,NaN,0.5,37.721240,-122.44622,J,1
1,J-Church,INBOUND,San Jose Ave & Ocean Ave,6275,2,7 - Owl,2.2,-,6.5,9,0.2,NaN,0.7,37.722862,-122.44479,J,1
2,J-Church,INBOUND,San Jose Ave & Santa Ynez Ave,6288,3,7 - Owl,2.2,-,8.7,9,0.2,NaN,1,37.725680,-122.44244,J,1
3,J-Church,INBOUND,San Jose Ave & Santa Rosa Ave,6284,4,7 - Owl,8.7,-,17.5,9,1.0,NaN,1.9,37.728992,-122.43992,J,1
4,J-Church,INBOUND,San Jose Ave/Glen Park Station,4787,5,7 - Owl,2.2,4.4,15.3,9,0.2,0.5,1.7,37.732525,-122.43342,J,1

In [334]:
riders16.columns

Index(['ROUTE', 'DIRECTION', 'STOP NAME', 'STOP ID', 'STOP SEQ', 'Time Period',
       ' Total Boardings ', ' Total Alightings ', ' Total Train Load ',
       'Number of Trips in Time Period', ' Average Boardings ',
       ' Average Alightings ', ' Average Train Load ', 'Stop Latitude',
       'Stop Longitude', 'ROUTE_SHORT_NAME', 'DIR'],
      dtype='object')

In [335]:
riders16.columns  = ['ROUTE', 'DIRECTION', 'STOP NAME', 'STOP_ID', 'STOP SEQ', 'Time Period',
       ' Total Boardings ', ' Total Alightings ', ' Total Train Load ',
       'Number of Trips in Time Period', ' Average Boardings ',
       ' Average Alightings ', ' Average Train Load ', 'Stop Latitude',
       'Stop Longitude', 'ROUTE_SHORT_NAME', 'DIR']

In [336]:
df_keep16 = df16[keep]

In [337]:
grouped16 = df_keep16.groupby(by = ['ROUTE_SHORT_NAME','STOP_ID','DIR'],as_index = False).mean()

In [338]:
grouped16.head()

,ROUTE_SHORT_NAME,STOP_ID,DIR,SEQ,HEADWAY_S,EOL,SOL,STOP_LAT,STOP_LON,DWELL_S,RUNTIME_S,TOTTIME_S,SERVMILES_S,RUNSPEED_S,TOTSPEED_S
0,E,3092,0,2.0,17.028757,0.0,0.0,37.807407,-122.414125,0.0,45.38,45.38,4.576,6.05,6.05
1,E,3095,0,3.0,16.944853,0.0,0.0,37.807841,-122.410810,0.0,63.62,63.62,6.584,6.21,6.21
2,E,3095,1,16.0,16.000000,1.0,0.0,37.807841,-122.410810,0.0,12.00,12.00,0.135,0.68,0.68
3,E,4501,1,14.0,16.956882,0.0,0.0,37.806945,-122.406278,0.0,63.30,63.30,6.448,6.11,6.11
4,E,4502,0,4.0,17.067101,0.0,0.0,37.806629,-122.406030,0.0,66.84,66.84,7.150,6.42,6.42

In [339]:
riders16.head()

,ROUTE,DIRECTION,STOP NAME,STOP_ID,STOP SEQ,Time Period,Total Boardings,Total Alightings,Total Train Load,Number of Trips in Time Period,Average Boardings,Average Alightings,Average Train Load,Stop Latitude,Stop Longitude,ROUTE_SHORT_NAME,DIR
0,J-Church,INBOUND,San Jose Ave & Geneva Ave,7778,1,7 - Owl,4.4,-,4.4,9,0.5,NaN,0.5,37.721240,-122.44622,J,1
1,J-Church,INBOUND,San Jose Ave & Ocean Ave,6275,2,7 - Owl,2.2,-,6.5,9,0.2,NaN,0.7,37.722862,-122.44479,J,1
2,J-Church,INBOUND,San Jose Ave & Santa Ynez Ave,6288,3,7 - Owl,2.2,-,8.7,9,0.2,NaN,1,37.725680,-122.44244,J,1
3,J-Church,INBOUND,San Jose Ave & Santa Rosa Ave,6284,4,7 - Owl,8.7,-,17.5,9,1.0,NaN,1.9,37.728992,-122.43992,J,1
4,J-Church,INBOUND,San Jose Ave/Glen Park Station,4787,5,7 - Owl,2.2,4.4,15.3,9,0.2,0.5,1.7,37.732525,-122.43342,J,1

In [340]:
riders16[' Total Alightings '] = riders16[' Total Alightings '].convert_objects(convert_numeric = True)

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [341]:
riders16[' Total Boardings '] = riders16[' Total Boardings '].convert_objects(convert_numeric = True)

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [342]:
agg = {'STOP NAME':'first',' Total Boardings ':'sum',' Total Alightings ':'sum','Stop Latitude':'mean','Stop Longitude':'mean'}

In [343]:
riders16_grouped = riders16.groupby(by = ['STOP_ID','ROUTE_SHORT_NAME','DIR'],as_index = False).agg(agg)

In [344]:
riders16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2127 entries, 0 to 2126
Data columns (total 17 columns):
ROUTE                             2127 non-null object
DIRECTION                         2127 non-null object
STOP NAME                         2127 non-null object
STOP_ID                           2127 non-null int64
STOP SEQ                          2127 non-null int64
Time Period                       2127 non-null object
 Total Boardings                  1850 non-null float64
 Total Alightings                 1855 non-null float64
 Total Train Load                 2127 non-null object
Number of Trips in Time Period    2127 non-null int64
 Average Boardings                1858 non-null float64
 Average Alightings               1862 non-null float64
 Average Train Load               2127 non-null object
Stop Latitude                     2127 non-null float64
Stop Longitude                    2127 non-null float64
ROUTE_SHORT_NAME                  2127 non-null object
DIR                               2127 non-null int64
dtypes: float64(6), int64(4), object(7)
memory usage: 282.6+ KB

In [345]:
riders16.head()

,ROUTE,DIRECTION,STOP NAME,STOP_ID,STOP SEQ,Time Period,Total Boardings,Total Alightings,Total Train Load,Number of Trips in Time Period,Average Boardings,Average Alightings,Average Train Load,Stop Latitude,Stop Longitude,ROUTE_SHORT_NAME,DIR
0,J-Church,INBOUND,San Jose Ave & Geneva Ave,7778,1,7 - Owl,4.4,NaN,4.4,9,0.5,NaN,0.5,37.721240,-122.44622,J,1
1,J-Church,INBOUND,San Jose Ave & Ocean Ave,6275,2,7 - Owl,2.2,NaN,6.5,9,0.2,NaN,0.7,37.722862,-122.44479,J,1
2,J-Church,INBOUND,San Jose Ave & Santa Ynez Ave,6288,3,7 - Owl,2.2,NaN,8.7,9,0.2,NaN,1,37.725680,-122.44244,J,1
3,J-Church,INBOUND,San Jose Ave & Santa Rosa Ave,6284,4,7 - Owl,8.7,NaN,17.5,9,1.0,NaN,1.9,37.728992,-122.43992,J,1
4,J-Church,INBOUND,San Jose Ave/Glen Park Station,4787,5,7 - Owl,2.2,4.4,15.3,9,0.2,0.5,1.7,37.732525,-122.43342,J,1

In [346]:
merged16 = pd.merge(riders16_grouped,grouped16,how = 'inner',on = ['STOP_ID','ROUTE_SHORT_NAME','DIR'])

In [347]:
merged16_outter = pd.merge(riders16_grouped,grouped16,how = 'outer',on = ['STOP_ID','ROUTE_SHORT_NAME','DIR'])

In [348]:
len(merged16)

308

In [349]:
len(merged16_outter)

411

In [350]:
len(riders16_grouped)

308

In [351]:
merged16.columns

Index(['STOP_ID', 'ROUTE_SHORT_NAME', 'DIR', 'STOP NAME', 'Stop Latitude',
       ' Total Alightings ', 'Stop Longitude', ' Total Boardings ', 'SEQ',
       'HEADWAY_S', 'EOL', 'SOL', 'STOP_LAT', 'STOP_LON', 'DWELL_S',
       'RUNTIME_S', 'TOTTIME_S', 'SERVMILES_S', 'RUNSPEED_S', 'TOTSPEED_S'],
      dtype='object')

In [352]:
#miss_riders16 = merged16_outter[(np.isnan(merged16_outter[' Average Boardings ']))& (np.isnan(merged16_outter[' Average Alightings ']))]

In [353]:
miss_gtfs16 = merged16_outter[np.isnan(merged16_outter['TOTSPEED_S'])]

In [354]:
len(miss_gtfs16)

0

In [281]:
len(miss_riders16)

106

In [282]:
miss_gtfs16.to_csv('Rail Stops Missing GTFS Data 2016.csv')

In [283]:
miss_riders16.to_csv('Rail Stops Missing Ridership Data 2016.csv')

In [284]:
len(grouped16)

411

In [285]:
len(riders16)

2127

In [286]:
merged16.head(20)

,STOP_ID,ROUTE_SHORT_NAME,DIR,STOP SEQ,Number of Trips in Time Period,Average Boardings,Average Alightings,Stop Latitude,Stop Longitude,HEADWAY_S,EOL,SOL,STOP_LAT,STOP_LON,DWELL_S,RUNTIME_S,TOTTIME_S,SERVMILES_S,RUNSPEED_S,TOTSPEED_S
0,3212,N,1,112,141,46.8,12.6,264.347384,-857.263680,21.853338,0.0,0.0,37.763913,-122.466241,0.0,132.00,132.00,16.836,7.65,7.65
1,3266,L,0,91,122,5.9,15.5,264.201854,-857.299100,10.237869,0.0,0.0,37.743124,-122.471297,0.0,86.19,86.19,13.420,9.34,9.34
2,3267,L,1,126,122,12.1,4.4,264.201490,-857.299835,17.298743,0.0,0.0,37.743069,-122.471405,0.0,122.91,122.91,15.372,7.50,7.50
3,3268,L,0,84,122,0.9,11.7,264.190668,-857.298330,10.236721,0.0,0.0,37.741525,-122.471192,0.0,125.00,125.00,18.178,8.73,8.73
4,3269,L,1,133,122,4.8,1.1,264.190402,-857.299100,17.299891,0.0,0.0,37.741484,-122.471300,0.0,96.43,96.43,13.298,8.27,8.27
5,3358,M,0,126,104,38.3,127.5,264.047511,-857.326645,11.467925,0.0,0.0,37.721074,-122.475233,0.0,259.27,259.27,43.460,10.06,10.06
6,3361,M,1,77,106,26.3,6.7,264.018230,-857.305925,11.449009,0.0,0.0,37.716889,-122.472275,0.0,148.41,148.41,24.486,9.90,9.90
7,3376,M,0,133,104,13.5,44.9,264.013400,-857.301690,11.467925,0.0,0.0,37.716200,-122.471670,0.0,244.61,244.61,41.234,10.11,10.11
8,3385,M,1,70,106,15.7,3.5,263.999960,-857.287340,11.449858,0.0,0.0,37.714282,-122.469618,0.0,89.10,89.10,15.264,10.28,10.28
9,3403,M,0,119,104,32.9,74.1,264.089112,-857.324580,11.467925,0.0,0.0,37.727017,-122.474937,0.0,181.68,181.68,30.740,10.15,10.15
10,3537,J,1,49,113,13.5,5.2,264.196142,-856.968210,16.425626,0.0,0.0,37.742304,-122.424026,0.0,116.96,116.96,20.001,10.26,10.26
11,3538,J,0,140,113,2.8,9.1,264.195190,-856.971150,11.273884,0.0,0.0,37.742170,-122.424457,0.0,102.87,102.87,14.336,8.36,8.36
12,3599,L,1,28,122,25.4,1.0,264.191788,-857.531780,17.331284,0.0,0.0,37.741685,-122.504534,0.0,89.00,89.00,15.616,10.53,10.53
13,3600,L,0,196,122,0.1,7.2,264.180000,-857.532060,10.255984,0.0,0.0,37.739998,-122.504579,0.0,110.94,110.94,15.372,8.31,8.31
14,3601,L,1,21,122,10.0,0.2,264.178782,-857.530870,17.334809,0.0,0.0,37.739829,-122.504407,0.0,89.00,89.00,15.616,10.53,10.53
15,3602,L,0,203,122,0.4,12.9,264.167008,-857.531080,10.257131,0.0,0.0,37.738142,-122.504440,0.0,110.94,110.94,15.616,8.45,8.45
16,3603,L,1,14,122,9.6,0.2,264.165804,-857.529890,17.338415,0.0,0.0,37.737973,-122.504268,0.0,90.88,90.88,15.616,10.31,10.31
17,3715,M,1,42,106,17.1,13.1,263.992344,-857.212440,11.452264,0.0,0.0,37.713191,-122.458921,0.0,102.13,102.13,17.384,10.21,10.21
18,3716,M,0,168,104,10.0,23.1,263.992078,-857.214120,11.467925,0.0,0.0,37.713152,-122.459159,0.0,121.15,121.15,19.928,9.87,9.87
19,3717,M,1,49,106,11.5,5.3,263.992239,-857.236282,11.451557,0.0,0.0,37.713178,-122.462331,0.0,116.34,116.34,19.822,10.22,10.22

In [368]:
len(merged16)
len(merged16.STOP_ID.unique())

241

In [282]:
merged16.head()

,STOP_ID,ROUTE_SHORT_NAME,DIR,STOP NAME,Stop Latitude,Total Alightings,Stop Longitude,Total Boardings,SEQ,HEADWAY_S,EOL,SOL,STOP_LAT,STOP_LON,DWELL_S,RUNTIME_S,TOTTIME_S,SERVMILES_S,RUNSPEED_S,TOTSPEED_S
0,3212,N,1,9th Ave & Irving St,37.763912,292.4,-122.466240,1046.3,16.0,21.853338,0.0,0.0,37.763913,-122.466241,0.0,132.00,132.00,16.836,7.65,7.65
1,3266,L,0,15th Ave & Taraval St,37.743122,313.8,-122.471300,119.6,13.0,10.237869,0.0,0.0,37.743124,-122.471297,0.0,86.19,86.19,13.420,9.34,9.34
2,3267,L,1,15th Ave & Taraval St,37.743070,92.3,-122.471405,240.7,18.0,17.298743,0.0,0.0,37.743069,-122.471405,0.0,122.91,122.91,15.372,7.50,7.50
3,3268,L,0,15th Ave & Ulloa St,37.741524,233.4,-122.471190,16.5,12.0,10.236721,0.0,0.0,37.741525,-122.471192,0.0,125.00,125.00,18.178,8.73,8.73
4,3269,L,1,15th Ave & Ulloa St,37.741486,23.3,-122.471300,90.4,19.0,17.299891,0.0,0.0,37.741484,-122.471300,0.0,96.43,96.43,13.298,8.27,8.27

In [280]:
merged16.columns

Index(['STOP_ID', 'ROUTE_SHORT_NAME', 'DIR', 'STOP NAME', 'Stop Latitude',
       ' Total Alightings ', 'Stop Longitude', ' Total Boardings ', 'SEQ',
       'HEADWAY_S', 'EOL', 'SOL', 'STOP_LAT', 'STOP_LON', 'DWELL_S',
       'RUNTIME_S', 'TOTTIME_S', 'SERVMILES_S', 'RUNSPEED_S', 'TOTSPEED_S'],
      dtype='object')

In [283]:
#dropped16 = merged16.drop(['Stop Latitude', 'Stop Longitude',  'Number of Trips in Time Period', 'STOP SEQ'],axis = 1)

In [285]:
merged16.to_csv('E:\Transit-Casa-Alex\MUNI Rail\Input/Rail Stops Performance Data/MUNI_Rail_Stops_2016.csv')

In [390]:
agg = {'STOP NAME':'first', 'STOP_LAT':'mean', 'STOP_LON':'mean'}

In [391]:
merged16_grouped = merged16.groupby(by = 'STOP_ID',as_index = False).agg(agg)

In [392]:
merged16_grouped['geometry'] = [Point(xy) for xy in zip(merged16_grouped.STOP_LON, merged16_grouped.STOP_LAT)]

In [393]:
merged16_geo = gp.GeoDataFrame(merged16_grouped,crs = 'epsg:4326')

In [395]:
merged16_geo.to_file('E:\Transit-Casa-Alex\MUNI Rail\Input/Rail Stops/MUNI_Rail_Stops_2016.shp',driver = 'ESRI Shapefile')

In [374]:
merged09_inner.columns

Index(['ROUTE_SHORT_NAME', 'STOP_ID', 'DIR', 'SEQ', 'HEADWAY_S', 'EOL', 'SOL',
       'STOP_LAT', 'STOP_LON', 'DWELL_S', 'RUNTIME_S', 'TOTTIME_S',
       'SERVMILES_S', 'RUNSPEED_S', 'TOTSPEED_S', 'Route', 'STOP', 'Boardings',
       'Alightings', 'STOP NAME', 'geometry'],
      dtype='object')

In [373]:
agg = {'STOP NAME':'first', 'STOP_LAT':'mean', 'STOP_LON':'mean'}

In [375]:
merged09_grouped = merged09_inner.groupby(by = "STOP_ID",as_index = False).agg(agg)

In [376]:
merged09_grouped['geometry'] = [Point(xy) for xy in zip(merged09_grouped.STOP_LON, merged09_grouped.STOP_LAT)]

In [377]:
merged09_geo = gp.GeoDataFrame(merged09_grouped,crs = 'epsg:4326')

In [378]:
merged09_geo.to_file('E:\Transit-Casa-Alex\MUNI Rail\Input/Rail Stops Performance Data/MUNI_Rail_Stops_2009.shp',driver = 'ESRI Shapefile')

In [379]:
merged09_geo.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 242 entries, 0 to 241
Data columns (total 5 columns):
STOP_ID      242 non-null int64
STOP NAME    242 non-null object
STOP_LON     242 non-null float64
STOP_LAT     242 non-null float64
geometry     242 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 11.3+ KB

In [380]:
merged09_geo.head()

,STOP_ID,STOP NAME,STOP_LON,STOP_LAT,geometry
0,3212,9th Ave & Irving St,-122.466245,37.763888,POINT (-122.466245 37.763888)
1,3266,15th Ave & Taraval St,-122.471297,37.743124,POINT (-122.471297 37.743124)
2,3267,15th Ave & Taraval St,-122.471405,37.743069,POINT (-122.471405 37.743069)
3,3268,15th Ave & Ulloa St,-122.471192,37.741525,POINT (-122.471192 37.741525)
4,3269,15th Ave & Ulloa St,-122.471300,37.741484,POINT (-122.4713 37.741484)

In [381]:
len(merged09_geo)

242

In [389]:
len(merged16_geo)

241

In [388]:
len(merged16_geo.STOP_ID.unique())

241