In [55]:
import pandas as pd

In [59]:
store2 = pd.HDFStore('E:/sfdata_wrangler2/out/gtfs.h5')

In [23]:
store = pd.HDFStore('E:/Transit-Casa-Alex/Input/Bus Performence/sfmuni_monthly_ts.H5')

In [3]:
store.items

<bound method HDFStore.items of <class 'pandas.io.pytables.HDFStore'>
File path: E:/Transit-Casa-Alex/Input/Bus Performence/sfmuni_monthly_ts.H5
/rs_day                          frame_table  (typ->appendable,nrows->543005,ncols->58,indexers->[index],dc->[MONTH,DOW,AGENCY_ID,ROUTE_SHORT_NAME,DIR,SEQ,NUMDAYS,OBSDAYS,TRIP_STOPS,OBS_TRIP_STOPS,IMP_TRIP_STOPS,WGT_TRIP_STOPS,STOP_ID,ROUTE_LONG_NAME,ROUTE_TYPE,TRIP_HEADSIGN,HEADWAY_S,FARE,STOPNAME,STOPNAME_AVL,STOP_LAT,STOP_LON,EOL,SOL,TIMEPOINT,ARRIVAL_TIME_DEV,DEPARTURE_TIME_DEV,DWELL_S,DWELL,RUNTIME_S,RUNTIME,TOTTIME_S,TOTTIME,SERVMILES_S,SERVMILES,RUNSPEED_S,RUNSPEED,TOTSPEED_S,TOTSPEED,ONTIME5,ON,OFF,LOAD_ARR,LOAD_DEP,PASSMILES,PASSHOURS,WAITHOURS,FULLFARE_REV,PASSDELAY_DEP,PASSDELAY_ARR,RDBRDNGS,DOORCYCLES,WHEELCHAIR,BIKERACK,CAPACITY,VC,CROWDED,CROWDHOURS])
/rs_tod                          frame_table  (typ->appendable,nrows->2839604,ncols->59,indexers->[index],dc->[MONTH,DOW,TOD,AGENCY_ID,ROUTE_SHORT_NAME,DIR,SEQ,NUMDAYS,OBSDAYS,TRIP_STOPS,OBS_TRIP_STOPS,WGT_TRIP_STOPS,STOP_ID,ROUTE_LONG_NAME,ROUTE_TYPE,TRIP_HEADSIGN,HEADWAY_S,FARE,STOPNAME,STOPNAME_AVL,STOP_LAT,STOP_LON,EOL,SOL,TIMEPOINT,ARRIVAL_TIME_DEV,DEPARTURE_TIME_DEV,DWELL_S,DWELL,RUNTIME_S,RUNTIME,TOTTIME_S,TOTTIME,SERVMILES_S,SERVMILES,RUNSPEED_S,RUNSPEED,TOTSPEED_S,TOTSPEED,ONTIME5,ON,OFF,LOAD_ARR,LOAD_DEP,PASSMILES,PASSHOURS,WAITHOURS,FULLFARE_REV,PASSDELAY_DEP,PASSDELAY_ARR,RDBRDNGS,DOORCYCLES,WHEELCHAIR,BIKERACK,CAPACITY,VC,CROWDED,CROWDHOURS,IMP_TRIP_STOPS])
/rs_tod_observed_only            frame_table  (typ->appendable,nrows->2839604,ncols->58,indexers->[index],dc->[MONTH,DOW,TOD,AGENCY_ID,ROUTE_SHORT_NAME,DIR,SEQ,NUMDAYS,OBSDAYS,TRIP_STOPS,OBS_TRIP_STOPS,WGT_TRIP_STOPS,STOP_ID,ROUTE_LONG_NAME,ROUTE_TYPE,TRIP_HEADSIGN,HEADWAY_S,FARE,STOPNAME,STOPNAME_AVL,STOP_LAT,STOP_LON,EOL,SOL,TIMEPOINT,ARRIVAL_TIME_DEV,DEPARTURE_TIME_DEV,DWELL_S,DWELL,RUNTIME_S,RUNTIME,TOTTIME_S,TOTTIME,SERVMILES_S,SERVMILES,RUNSPEED_S,RUNSPEED,TOTSPEED_S,TOTSPEED,ONTIME5,ON,OFF,LOAD_ARR,LOAD_DEP,PASSMILES,PASSHOURS,WAITHOURS,FULLFARE_REV,PASSDELAY_DEP,PASSDELAY_ARR,RDBRDNGS,DOORCYCLES,WHEELCHAIR,BIKERACK,CAPACITY,VC,CROWDED,CROWDHOURS])
/stop_day                        frame_table  (typ->appendable,nrows->316767,ncols->52,indexers->[index],dc->[MONTH,DOW,AGENCY_ID,STOP_ID,NUMDAYS,OBSDAYS,TRIP_STOPS,OBS_TRIP_STOPS,IMP_TRIP_STOPS,WGT_TRIP_STOPS,HEADWAY_S,FARE,STOPNAME,STOPNAME_AVL,STOP_LAT,STOP_LON,EOL,SOL,TIMEPOINT,ARRIVAL_TIME_DEV,DEPARTURE_TIME_DEV,DWELL_S,DWELL,RUNTIME_S,RUNTIME,TOTTIME_S,TOTTIME,SERVMILES_S,SERVMILES,RUNSPEED_S,RUNSPEED,TOTSPEED_S,TOTSPEED,ONTIME5,ON,OFF,LOAD_ARR,LOAD_DEP,PASSMILES,PASSHOURS,WAITHOURS,FULLFARE_REV,PASSDELAY_DEP,PASSDELAY_ARR,RDBRDNGS,DOORCYCLES,WHEELCHAIR,BIKERACK,CAPACITY,VC,CROWDED,CROWDHOURS])
/stop_tod                        frame_table  (typ->appendable,nrows->2015805,ncols->53,indexers->[index],dc->[MONTH,DOW,TOD,AGENCY_ID,STOP_ID,NUMDAYS,OBSDAYS,TRIP_STOPS,OBS_TRIP_STOPS,IMP_TRIP_STOPS,WGT_TRIP_STOPS,HEADWAY_S,FARE,STOPNAME,STOPNAME_AVL,STOP_LAT,STOP_LON,EOL,SOL,TIMEPOINT,ARRIVAL_TIME_DEV,DEPARTURE_TIME_DEV,DWELL_S,DWELL,RUNTIME_S,RUNTIME,TOTTIME_S,TOTTIME,SERVMILES_S,SERVMILES,RUNSPEED_S,RUNSPEED,TOTSPEED_S,TOTSPEED,ONTIME5,ON,OFF,LOAD_ARR,LOAD_DEP,PASSMILES,PASSHOURS,WAITHOURS,FULLFARE_REV,PASSDELAY_DEP,PASSDELAY_ARR,RDBRDNGS,DOORCYCLES,WHEELCHAIR,BIKERACK,CAPACITY,VC,CROWDED,CROWDHOURS])                                                                  >

In [60]:
store2.items

<bound method HDFStore.items of <class 'pandas.io.pytables.HDFStore'>
File path: E:/sfdata_wrangler2/out/gtfs.h5
/bart                     frame_table  (typ->appendable,nrows->29639,ncols->34,indexers->[index],dc->[AGENCY_ID,ARRIVAL_TIME_S,DATE,DEPARTURE_TIME_S,DIR,DOW,DWELL_S,EOL,FARE,HEADWAY_S,MONTH,OBSERVED,ROUTE_ID,ROUTE_LONG_NAME,ROUTE_SHORT_NAME,ROUTE_TYPE,RUNSPEED_S,RUNTIME_S,SCHED_DATES,SEQ,SERVICE_ID,SERVMILES_S,SOL,STOPNAME,STOP_ID,STOP_LAT,STOP_LON,TOD,TOTSPEED_S,TOTTIME_S,TRIP,TRIP_HEADSIGN,TRIP_ID,TRIP_STOPS])
/bartDaily                frame_table  (typ->appendable,nrows->1,ncols->18,indexers->[index],dc->[SCHED_DATES,DOW,SERVICE_ID,AGENCY_ID,ROUTE_TYPE,TRIPS,STOPS,TRIP_STOPS,FARE,HEADWAY_S,SERVMILES_S,DWELL_S,RUNTIME_S,TOTTIME_S,RUNSPEED_S,TOTSPEED_S,DATE,MONTH])
/sfmuni                   frame_table  (typ->appendable,nrows->33530209,ncols->34,indexers->[index],dc->[AGENCY_ID,ARRIVAL_TIME_S,DATE,DEPARTURE_TIME_S,DIR,DOW,DWELL_S,EOL,FARE,HEADWAY_S,MONTH,OBSERVED,ROUTE_ID,ROUTE_LONG_NAME,ROUTE_SHORT_NAME,ROUTE_TYPE,RUNSPEED_S,RUNTIME_S,SCHED_DATES,SEQ,SERVICE_ID,SERVMILES_S,SOL,STOPNAME,STOP_ID,STOP_LAT,STOP_LON,TOD,TOTSPEED_S,TOTTIME_S,TRIP,TRIP_HEADSIGN,TRIP_ID,TRIP_STOPS])
/sfmuniDaily              frame_table  (typ->appendable,nrows->9267,ncols->18,indexers->[index],dc->[SCHED_DATES,DOW,SERVICE_ID,AGENCY_ID,ROUTE_TYPE,TRIPS,STOPS,TRIP_STOPS,FARE,HEADWAY_S,SERVMILES_S,DWELL_S,RUNTIME_S,TOTTIME_S,RUNSPEED_S,TOTSPEED_S,DATE,MONTH])
/sfmuniMonthly            frame_table  (typ->appendable,nrows->930,ncols->15,indexers->[index],dc->[MONTH,DOW,AGENCY_ID,ROUTE_TYPE,TRIPS,STOPS,TRIP_STOPS,FARE,HEADWAY_S,SERVMILES_S,DWELL_S,RUNTIME_S,TOTTIME_S,RUNSPEED_S,TOTSPEED_S])                                                                                                                                                                                          >

In [61]:
df = store.select('rs_tod',columns = ['STOP_ID','STOP_LAT','STOP_LON','ROUTE_TYPE'])

In [19]:
df.head()

   STOP_ID   STOP_LAT    STOP_LON  ROUTE_TYPE
0     5056  37.790410 -122.393520           3
1     5336  37.792530 -122.395670           3
2     4445  37.793980 -122.396350           3
3     6294  37.794500 -122.397610           3
4     6290  37.794135 -122.400179           3

In [20]:
df.ROUTE_TYPE.unique()

array([3], dtype=int64)

In [45]:
df2 = store2.select('sfmuni',columns = ['SCHED_DATES','STOP_ID','STOP_LAT','STOP_LON','ROUTE_TYPE','ROUTE_LONG_NAME','ROUTE_SHORT_NAME'],where = "'ROUTE_TYPE' == 0")

In [46]:
df2.ROUTE_SHORT_NAME.unique()

array(['F', 'J', 'L', 'M', 'N', 'S', 'T', 'K'], dtype=object)

In [47]:
df2.head()

,,SCHED_DATES,STOP_ID,STOP_LAT,STOP_LON,ROUTE_TYPE,ROUTE_LONG_NAME,ROUTE_SHORT_NAME
5894,197237,20090221-20090612,5184,37.807248,-122.417366,0,MARKET & WHARVES,F
5895,197238,20090221-20090612,3092,37.807407,-122.414125,0,MARKET & WHARVES,F
5896,197239,20090221-20090612,3095,37.807841,-122.410810,0,MARKET & WHARVES,F
5897,197240,20090221-20090612,4502,37.806629,-122.406030,0,MARKET & WHARVES,F
5898,197241,20090221-20090612,4529,37.805022,-122.403314,0,MARKET & WHARVES,F

In [48]:
df2.SCHED_DATES.unique()

array(['20090221-20090612', '20090613-20091204', '20091205-20100507',
       '20100508-20100903'], dtype=object)

In [62]:
df3 = store2.select('sfmuni',columns = ['SCHED_DATES','STOP_ID','STOP_LAT','STOP_LON','ROUTE_TYPE','ROUTE_LONG_NAME','ROUTE_SHORT_NAME'],where = "'ROUTE_TYPE' == 1")

In [54]:
len(df3)

9052

In [63]:
len(df3)

25724