In [23]:
import pandas as pd
import numpy as np
import folium
import sys
sys.path.append('E:\Transit_Casa\Alex\Scripts')
import Muni_Estimates_day as muni
import Map_stop_PercentDiff

In [3]:
TS_INFILE= "E:/Transit_Casa/Output/sfmuni_monthly_ts.h5"
OUTFILE_START = 'E:\Transit_Casa\Alex\C_Drive\Maps/'
TABLE = 'stop_day'
MONTH1 = '2009-09-01'
MONTH2 = '2009-10-01'
MONTH3 = '2009-11-01'
MONTH4 = '2013-09-01'
MONTH5 = '2013-10-01'
MONTH6 = '2013-11-01'

In [ ]:
def get_day(hdffile,table,month1, month2,month3,month4,month5,month6):
    """

    Write a comment here about the arguments and what it returns. 
    """
    
    store = pd.HDFStore(hdffile)
    df = store.get(table, where )
    
    df1 = df[df['MONTH'] == month1]
    df2 = df[df['MONTH'] == month2]
    df3 = df[df['MONTH'] == month3]
    df4 = df[df['MONTH'] == month4]
    df5 = df[df['MONTH'] == month5]
    df6 = df[df['MONTH'] == month6]
    
    df09 =
   #the stop tables had stop_id as their unique identifier and required a different key when merging
    if table == 'stop_day':
    # merge the two months for easy comparison of values (outer so that all stops are preserved, nan is filled in for missing stops)
        df = pd.merge(df09,df13, how = 'outer', on = ['DOW', 'AGENCY_ID', 'STOP_ID'], suffixes = ['_09','_13'])
    
    else: 
        df = pd.merge(df1,df2, how = 'outer', on = ['DOW', 'AGENCY_ID', 'ROUTE_SHORT_NAME', 'DIR', 'SEQ'], suffixes = ['_09','_13'])
    
    #sort the columns alphabetically to easily compare values
    df = df.reindex_axis(sorted(df.columns), axis=1)
    return df

In [10]:
store = pd.HDFStore("E:/Transit_Casa/Output/sfmuni_monthly_ts.h5")

df = store.get('stop_day')

In [11]:
    df09 = make_table(TS_INFILE,TABLE, MONTH1, MONTH2,MONTH3) 
    df13 = make_table(TS_INFILE,TABLE, MONTH4, MONTH5,MONTH6) 
    
    df = pd.merge(df09,df13,how = 'inner',on = 'STOP_ID',suffixes = ('_09','_13'))
    df['LAT'] = df.apply(lambda row: map.choose_right_latlon(row['STOP_LAT_09'], row['STOP_LAT_13']), axis=1)
    df['LON'] = df.apply(lambda row: map.choose_right_latlon(row['STOP_LON_09'], row['STOP_LON_13']), axis=1)
    names = get_names_avg(COLMN_NAME)
    df[names[4]] = df[names[1]] - df[names[0]]
    df[names[3]] = ((df[names[1]] - df[names[0]])/df[names[0]])*100
    df[names[2]] = df[names[3]].astype(str) + '%'
    show_list = ['STOP_ID',names[3],names[4],names[0],names[1]]
    print(df)
    map.map(names[3],names[4],names[2],df,show_list,OUTFILE_START,TABLE,COLMN_NAME,map.color,map.radius)
    print('ALL DONE!! TIME FOR A BEER!!!')

In [12]:
df09 = pd.merge(pd.merge(df1,df2,on='STOP_ID',suffixes = ('_9','_10')),df3,on='STOP_ID',)

Empty DataFrame
Columns: [MONTH_9, DOW_9, AGENCY_ID_9, STOP_ID, NUMDAYS_9, OBSDAYS_9, TRIP_STOPS_9, OBS_TRIP_STOPS_9, WGT_TRIP_STOPS_9, HEADWAY_S_9, FARE_9, STOPNAME_9, STOPNAME_AVL_9, STOP_LAT_9, STOP_LON_9, EOL_9, SOL_9, TIMEPOINT_9, ARRIVAL_TIME_DEV_9, DEPARTURE_TIME_DEV_9, DWELL_S_9, DWELL_9, RUNTIME_S_9, RUNTIME_9, TOTTIME_S_9, TOTTIME_9, SERVMILES_S_9, SERVMILES_9, RUNSPEED_S_9, RUNSPEED_9, TOTSPEED_S_9, TOTSPEED_9, ONTIME5_9, ON_9, OFF_9, LOAD_ARR_9, LOAD_DEP_9, PASSMILES_9, PASSHOURS_9, WAITHOURS_9, FULLFARE_REV_9, PASSDELAY_DEP_9, PASSDELAY_ARR_9, RDBRDNGS_9, DOORCYCLES_9, WHEELCHAIR_9, BIKERACK_9, CAPACITY_9, VC_9, CROWDED_9, CROWDHOURS_9, MONTH_10, DOW_10, AGENCY_ID_10, NUMDAYS_10, OBSDAYS_10, TRIP_STOPS_10, OBS_TRIP_STOPS_10, WGT_TRIP_STOPS_10, HEADWAY_S_10, FARE_10, STOPNAME_10, STOPNAME_AVL_10, STOP_LAT_10, STOP_LON_10, EOL_10, SOL_10, TIMEPOINT_10, ARRIVAL_TIME_DEV_10, DEPARTURE_TIME_DEV_10, DWELL_S_10, DWELL_10, RUNTIME_S_10, RUNTIME_10, TOTTIME_S_10, TOTTIME_10, SERVMILES_S_10, SERVMILES_10, RUNSPEED_S_10, RUNSPEED_10, TOTSPEED_S_10, TOTSPEED_10, ONTIME5_10, ON_10, OFF_10, LOAD_ARR_10, LOAD_DEP_10, PASSMILES_10, PASSHOURS_10, WAITHOURS_10, FULLFARE_REV_10, PASSDELAY_DEP_10, PASSDELAY_ARR_10, RDBRDNGS_10, DOORCYCLES_10, WHEELCHAIR_10, BIKERACK_10, CAPACITY_10, VC_10, CROWDED_10, ...]
Index: []

[0 rows x 151 columns]

In [110]:
df09['avg'] = df09.mean(axis=1)
df09[0:1000].to_csv('df09.csv')

In [16]:
df_final = pd.DataFrame(columns = ['ON_9','ON_10','ON_11'])

In [17]:
df_final['ON_9'] = df09['ON_9']
df_final.head()

          ON_9 ON_10 ON_11
0  2245.741655   NaN   NaN
1   426.308055   NaN   NaN
2     2.125161   NaN   NaN
3    43.156595   NaN   NaN
4    11.328142   NaN   NaN

In [18]:
df_final['ON_10'] = df09['ON_10']

In [19]:
df_final['ON_11'] = df09['ON']

In [20]:
df_final.head()

          ON_9        ON_10        ON_11
0  2245.741655  2091.098683  1630.264645
1   426.308055   386.600244   324.298011
2     2.125161     2.046014     0.682106
3    43.156595    36.044479    22.415086
4    11.328142    22.438979     7.555196

In [21]:
df_final['AVG'] = df_final.mean(axis = 1)

In [22]:
df_final.head()

          ON_9        ON_10        ON_11          AVG
0  2245.741655  2091.098683  1630.264645  1989.034995
1   426.308055   386.600244   324.298011   379.068770
2     2.125161     2.046014     0.682106     1.617761
3    43.156595    36.044479    22.415086    33.872053
4    11.328142    22.438979     7.555196    13.774106

In [34]:
df09 = make_table(TS_INFILE,TABLE, MONTH1, MONTH2,MONTH3) 
df13 = make_table(TS_INFILE,TABLE, MONTH4, MONTH5,MONTH6) 
print(df09.columns)

Index(['ON_9', 'ON_10', 'ON_11', 'AVG'], dtype='object')