In [99]:
import pandas as pd
import geopandas as gp
import numpy as np
pd.set_option('display.max_columns',500)

In [106]:
trans = gp.read_file('E:/Transit-Casa-Alex/Output/Buffers/Tenth/Competing Treansit Buffers/Competing_Transit_Buffers.shp',driver = 'ESRI Shapefile',crs = 'crs')

In [107]:
trans.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 3744 entries, 0 to 3743
Data columns (total 6 columns):
FROMS_BART    3744 non-null int64
OFF_CALTRA    3744 non-null int64
ON_CALTRAI    3744 non-null int64
STOP_ID       3744 non-null int64
TOS_BART      3744 non-null int64
geometry      3744 non-null object
dtypes: int64(5), object(1)
memory usage: 175.6+ KB

In [108]:
trans.head()

,FROMS_BART,OFF_CALTRA,ON_CALTRAI,STOP_ID,TOS_BART,geometry
0,0,0,0,390,0,POLYGON ((-122.4762044957765 37.72256659330341...
1,0,0,0,392,0,"POLYGON ((-122.478318121487 37.76653392304563,..."
2,0,0,0,660,0,POLYGON ((-122.4364941099191 37.72529018218376...
3,0,0,0,913,0,POLYGON ((-122.4269088640789 37.72056829546914...
4,0,0,0,3001,0,POLYGON ((-122.3971498149807 37.78990370709575...

In [109]:
trans2 = trans[trans['FROMS_BART'] > 0 | (trans['ON_CALTRAI'] > 0)]

In [110]:
trans2.head()

,FROMS_BART,OFF_CALTRA,ON_CALTRAI,STOP_ID,TOS_BART,geometry
14,13045,0,0,3012,12502,POLYGON ((-122.4024119870492 37.79044071898017...
15,13045,0,0,3013,12502,POLYGON ((-122.4017559627998 37.78999372938668...
119,15030,0,0,3160,14302,POLYGON ((-122.4052230407347 37.78563288496019...
120,15030,0,0,3161,14302,"POLYGON ((-122.4067810997628 37.7869008538221,..."
153,21950,0,0,3196,19876,POLYGON ((-122.4135012710483 37.78168305552212...

In [79]:
drop = ['ADDRESS', 'AIRPORT', 'BUFF_DIST', 'BUS_ROUTES', 'CO', 'CODE',
       'COMM_NETWO', 'COMM_OP', 'CO_1', 'DIST', 'DIST_1', 'FROMS_1',
       'INTERMODAL', 'Join_Cou_1', 'Join_Count', 'LOCATION',
       'OPERATOR', 'ORIG_FID', 'PASS_NETWO', 'PASS_OP', 'Ridership',
       'STATION_1', 'STATION_12', 'STATION_TY', 'STOP_LAT',
       'STOP_LON', 'Station', 'TARGET_FID', 'TARGET_F_1', 'TRANSIT',
       'TO', 'ZIP']

In [83]:
for column in drop:
    trans = trans.drop(column,axis =1)

In [85]:
trans.head()

,Froms,OFF,ON,STOP_ID,Tos,geometry
0,0,0,0,390,0,POLYGON ((-122.4762044957765 37.72256659330341...
1,0,0,0,392,0,"POLYGON ((-122.478318121487 37.76653392304563,..."
2,0,0,0,660,0,POLYGON ((-122.4364941099191 37.72529018218376...
3,0,0,0,913,0,POLYGON ((-122.4269088640789 37.72056829546914...
4,0,0,0,3001,0,POLYGON ((-122.3971498149807 37.78990370709575...

In [123]:
rename = ['FROMS_BART', 'OFF_CALTRAIN', 'ON_CALTRAIN', 'STOP_ID', 'TOS_BART', 'geometry']

In [124]:
trans2.columns = rename

In [129]:
trans2.to_csv('E:\Transit-Casa-Alex\Output\Buffers\Tenth\Competing Treansit Buffers\Competing_Transit_Buffers.csv')

In [126]:
trans2.crs

{}

In [127]:
trans2.to_file('E:\Transit-Casa-Alex\Output\Buffers\Tenth\Competing Treansit Buffers/Competing_Transit_Buffers.shp',driver = 'ESRI Shapefile')

In [128]:
trans2.head()

,FROMS_BART,OFF_CALTRAIN,ON_CALTRAIN,STOP_ID,TOS_BART,geometry
14,13045,0,0,3012,12502,POLYGON ((-122.4024119870492 37.79044071898017...
15,13045,0,0,3013,12502,POLYGON ((-122.4017559627998 37.78999372938668...
119,15030,0,0,3160,14302,POLYGON ((-122.4052230407347 37.78563288496019...
120,15030,0,0,3161,14302,"POLYGON ((-122.4067810997628 37.7869008538221,..."
153,21950,0,0,3196,19876,POLYGON ((-122.4135012710483 37.78168305552212...