In [1]:
import pandas as pd

In [69]:
muni16 = pd.read_csv('E:/Transit-Casa-Alex/Output/Processed MUNI Rail/Mapping_Data_16.csv',thousands = ',')

In [70]:
muni09 = pd.read_csv('E:/Transit-Casa-Alex/Output/Processed MUNI Rail/2009_MUNI_Rail.csv',thousands = ',')

In [71]:
muni09.head()

   Boardings  Alightings  STOP_ID
0        132          58     3537
1         60         170     3538
2        726         810     7316
3        198         239     3985
4        286         340     3987

In [72]:
muni16.head()

,STOP NAME,STOP ID,Total Boardings,Total Alightings,Stop Latitude,Stop Longitude
0,9th Ave & Irving St,3212,4.0,2.1,37.763912,-122.46624
1,9th Ave & Irving St,3212,248.0,70.6,37.763912,-122.46624
2,9th Ave & Irving St,3212,247.7,84.2,37.763912,-122.46624
3,9th Ave & Irving St,3212,264.9,62.6,37.763912,-122.46624
4,9th Ave & Irving St,3212,208.3,49.1,37.763912,-122.46624

In [73]:
muni16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2127 entries, 0 to 2126
Data columns (total 6 columns):
STOP NAME           2127 non-null object
STOP ID             2127 non-null int64
Total Boardings     1858 non-null float64
Total Alightings    1862 non-null float64
Stop Latitude       2127 non-null float64
Stop Longitude      2127 non-null float64
dtypes: float64(4), int64(1), object(1)
memory usage: 99.8+ KB

In [75]:
muni16_group = muni16.groupby(by = 'STOP ID',as_index = False).agg({'STOP NAME':'first','Stop Latitude':'mean','Stop Longitude':'mean','Total Alightings':'sum','Total Boardings':'sum'})

In [76]:
muni16_group.columns

Index(['STOP ID', 'Stop Longitude', 'Total Alightings', 'Stop Latitude',
       'Total Boardings', 'STOP NAME'],
      dtype='object')

In [77]:
rename = ['STOP_ID', 'LON', 'Alightings', 'LAT',
       'Boardings', 'STOP_NAME']

In [78]:
muni16_group.columns = rename

In [79]:
muni16_group.head()

,STOP_ID,LON,Alightings,LAT,Boardings,STOP_NAME
0,3212,-122.466240,292.4,37.763912,1046.3,9th Ave & Irving St
1,3266,-122.471300,313.8,37.743122,119.6,15th Ave & Taraval St
2,3267,-122.471405,92.3,37.743070,240.7,15th Ave & Taraval St
3,3268,-122.471190,233.4,37.741524,16.5,15th Ave & Ulloa St
4,3269,-122.471300,23.3,37.741486,90.4,15th Ave & Ulloa St

In [80]:
rail = pd.merge(muni16_group,muni09,on = 'STOP_ID',how = 'outer',suffixes = ('_09','_16'))

In [113]:
rail = rail.fillna(0)
rail.head()

,STOP_ID,LON,Alightings_09,LAT,Boardings_09,STOP_NAME,Boardings_16,Alightings_16,DIFF,P_DIFF,P_DIFF_STR
0,3212,-122.466240,292.4,37.763912,1046.3,9th Ave & Irving St,1223.0,270.0,177.0,17.0,17.0%
1,3266,-122.471300,313.8,37.743122,119.6,15th Ave & Taraval St,77.0,255.0,-43.0,-36.0,-36.0%
2,3267,-122.471405,92.3,37.743070,240.7,15th Ave & Taraval St,280.0,77.0,39.0,16.0,16.0%
3,3268,-122.471190,233.4,37.741524,16.5,15th Ave & Ulloa St,22.0,111.0,6.0,36.0,36.0%
4,3269,-122.471300,23.3,37.741486,90.4,15th Ave & Ulloa St,47.0,13.0,-43.0,-48.0,-48.0%

In [114]:
rail['DIFF'] = round(rail['Boardings_16'].astype(float) - rail['Boardings_09'].astype(float))

In [115]:
rail['P_DIFF'] = round((rail['DIFF']/rail['Boardings_09'].astype(float))*100)

In [116]:
rail['P_DIFF_STR'] = rail['P_DIFF'].apply(lambda value: str(value) + '%')

In [117]:
rail.head()

,STOP_ID,LON,Alightings_09,LAT,Boardings_09,STOP_NAME,Boardings_16,Alightings_16,DIFF,P_DIFF,P_DIFF_STR
0,3212,-122.466240,292.4,37.763912,1046.3,9th Ave & Irving St,1223.0,270.0,177.0,17.0,17.0%
1,3266,-122.471300,313.8,37.743122,119.6,15th Ave & Taraval St,77.0,255.0,-43.0,-36.0,-36.0%
2,3267,-122.471405,92.3,37.743070,240.7,15th Ave & Taraval St,280.0,77.0,39.0,16.0,16.0%
3,3268,-122.471190,233.4,37.741524,16.5,15th Ave & Ulloa St,22.0,111.0,6.0,36.0,36.0%
4,3269,-122.471300,23.3,37.741486,90.4,15th Ave & Ulloa St,47.0,13.0,-43.0,-48.0,-48.0%

In [118]:
rail.to_csv('E:/Transit-Casa-Alex/Output/Processed MUNI Rail/MUNI_Rail_Map_Data.csv')