In [120]:
import pandas as pd
import geopandas as gp
import numpy as np
import re
pd.set_option('max_columns',500)

In [9]:
scale = pd.read_csv('E:\Transit-Casa-Share\Data\Split Buffers/Split_Buffers_Tenth.csv')

In [20]:
scale_geo = gp.read_file('E:/Transit-Casa-Share/Data/Split Buffers/Split_Buffers_Tenth.shp')

In [21]:
scale_geo.head()

,ALAND,ALAND00,AREA,AWATER,AWATER00,BLKIDFP,BLKIDFP00,BLOCKCE00,BLOCKCE0_1,BUFF_DIST,BUFF_DIST_,COUNTYFP,COUNTYFP00,COUNTYFP_1,COUNTYNS,FID_tl_200,FID_tl_201,FUNCSTAT,FUNCSTAT00,INTPTLAT,INTPTLAT00,INTPTLON,INTPTLON00,MTFCC,MTFCC00,NAME,NAME00,ORIG_FID,ORIG_FID_2,SPLIT_AREA,SPLIT_RATI,STATEFP,STATEFP00,STATEFP0_1,STOP_ID,STOP_ID_2,STOP_LAT,STOP_LAT_2,STOP_LON,STOP_LON_2,SUFFIX1CE,TRACTCE00,TRACTCE0_1,UACE,UACE00,UR,UR00,geometry,index_righ
0,469038.0,469038.0,115.901635,0.0,0.0,060750332011006A,None,1006,None,528.0,528.0,075,075,None,00277302,5711,-1,S,None,+37.7240954,None,-122.4797305,None,G5040,None,Block 1006A,None,0,0,10.024294,0.086490,06,06,None,390,390,37.72119,37.72119,-122.475096,-122.475096,A,033201,None,78904,None,U,None,"POLYGON ((5990140.555242101 2091599.49223411, ...",0
1,13369.0,13369.0,3.303547,0.0,0.0,060750332011006B,None,1006,None,528.0,528.0,075,075,None,00277302,2916,-1,S,None,+37.7233858,None,-122.4750828,None,G5040,None,Block 1006B,None,0,0,0.866819,0.262390,06,06,None,390,390,37.72119,37.72119,-122.475096,-122.475096,B,033201,None,78904,None,U,None,"POLYGON ((5990404.358315584 2091528.488919567,...",0
2,10544.0,10544.0,2.605475,0.0,0.0,060750309007007,None,7007,None,528.0,528.0,075,075,None,00277302,164,-1,S,None,+37.7221659,None,-122.4747150,None,G5040,None,Block 7007,None,0,0,1.039000,0.398776,06,06,None,390,390,37.72119,37.72119,-122.475096,-122.475096,None,030900,None,78904,None,U,None,"POLYGON ((5990488.063115086 2091468.644502254,...",0
3,11922.0,11922.0,2.945986,0.0,0.0,060750309007009,None,7009,None,528.0,528.0,075,075,None,00277302,3916,-1,S,None,+37.7206315,None,-122.4740731,None,G5040,None,Block 7009,None,0,0,0.267529,0.090812,06,06,None,390,390,37.72119,37.72119,-122.475096,-122.475096,None,030900,None,78904,None,U,None,"POLYGON ((5990640.788074084 2091115.257247695,...",0
4,14502.0,14502.0,3.583517,0.0,0.0,060750309007006,None,7006,None,528.0,528.0,075,075,None,00277302,1878,-1,S,None,+37.7221811,None,-122.4739962,None,G5040,None,Block 7006,None,0,0,0.119563,0.033365,06,06,None,390,390,37.72119,37.72119,-122.475096,-122.475096,None,030900,None,78904,None,U,None,"POLYGON ((5990666.047220119 2091120.907530208,...",0

In [4]:
scale.head()

,Unnamed: 0,BUFF_DIST,ORIG_FID,STOP_ID,STOP_LAT,STOP_LON,ALAND,ALAND00,AWATER,AWATER00,BLKIDFP,BLKIDFP00,BLOCKCE00,BLOCKCE0_1,COUNTYFP,COUNTYFP00,COUNTYFP_1,COUNTYNS,FID_tl_200,FID_tl_201,FUNCSTAT,FUNCSTAT00,INTPTLAT,INTPTLAT00,INTPTLON,INTPTLON00,MTFCC,MTFCC00,NAME,NAME00,STATEFP,STATEFP00,STATEFP0_1,SUFFIX1CE,TRACTCE00,TRACTCE0_1,UACE,UACE00,UR,UR00,AREA,index_right,BUFF_DIST_2,ORIG_FID_2,STOP_ID_2,STOP_LAT_2,STOP_LON_2,geometry,SPLIT_AREA,SPLIT_RATIO
0,0.0,528.0,0.0,390.0,37.72119,-122.475096,469038.0,469038.0,0.0,0.0,060750332011006A,NaN,1006.0,NaN,75.0,75.0,NaN,277302.0,5711.0,-1.0,S,NaN,37.724095,NaN,-122.479730,NaN,G5040,NaN,Block 1006A,NaN,6.0,6.0,NaN,A,33201.0,NaN,78904.0,NaN,U,NaN,115.901635,0.0,528.0,0.0,390.0,37.72119,-122.475096,"POLYGON ((5990140.555242101 2091599.49223411, ...",10.024294,0.086490
1,1.0,528.0,0.0,390.0,37.72119,-122.475096,13369.0,13369.0,0.0,0.0,060750332011006B,NaN,1006.0,NaN,75.0,75.0,NaN,277302.0,2916.0,-1.0,S,NaN,37.723386,NaN,-122.475083,NaN,G5040,NaN,Block 1006B,NaN,6.0,6.0,NaN,B,33201.0,NaN,78904.0,NaN,U,NaN,3.303547,0.0,528.0,0.0,390.0,37.72119,-122.475096,"POLYGON ((5990404.358315584 2091528.488919567,...",0.866819,0.262390
2,2.0,528.0,0.0,390.0,37.72119,-122.475096,10544.0,10544.0,0.0,0.0,6.08E+13,NaN,7007.0,NaN,75.0,75.0,NaN,277302.0,164.0,-1.0,S,NaN,37.722166,NaN,-122.474715,NaN,G5040,NaN,Block 7007,NaN,6.0,6.0,NaN,NaN,30900.0,NaN,78904.0,NaN,U,NaN,2.605475,0.0,528.0,0.0,390.0,37.72119,-122.475096,"POLYGON ((5990488.063115086 2091468.644502254,...",1.039000,0.398776
3,3.0,528.0,0.0,390.0,37.72119,-122.475096,11922.0,11922.0,0.0,0.0,6.08E+13,NaN,7009.0,NaN,75.0,75.0,NaN,277302.0,3916.0,-1.0,S,NaN,37.720632,NaN,-122.474073,NaN,G5040,NaN,Block 7009,NaN,6.0,6.0,NaN,NaN,30900.0,NaN,78904.0,NaN,U,NaN,2.945986,0.0,528.0,0.0,390.0,37.72119,-122.475096,"POLYGON ((5990640.788074084 2091115.257247695,...",0.267529,0.090812
4,4.0,528.0,0.0,390.0,37.72119,-122.475096,14502.0,14502.0,0.0,0.0,6.08E+13,NaN,7006.0,NaN,75.0,75.0,NaN,277302.0,1878.0,-1.0,S,NaN,37.722181,NaN,-122.473996,NaN,G5040,NaN,Block 7006,NaN,6.0,6.0,NaN,NaN,30900.0,NaN,78904.0,NaN,U,NaN,3.583517,0.0,528.0,0.0,390.0,37.72119,-122.475096,"POLYGON ((5990666.047220119 2091120.907530208,...",0.119563,0.033365

In [90]:
scale_geo2 = scale_geo[['STOP_ID','BLKIDFP','BLKIDFP00','geometry','SPLIT_RATI']]

In [91]:
scale_geo2.head()

,STOP_ID,BLKIDFP,BLKIDFP00,geometry,SPLIT_RATI
0,390,060750332011006A,None,"POLYGON ((5990140.555242101 2091599.49223411, ...",0.086490
1,390,060750332011006B,None,"POLYGON ((5990404.358315584 2091528.488919567,...",0.262390
2,390,060750309007007,None,"POLYGON ((5990488.063115086 2091468.644502254,...",0.398776
3,390,060750309007009,None,"POLYGON ((5990640.788074084 2091115.257247695,...",0.090812
4,390,060750309007006,None,"POLYGON ((5990666.047220119 2091120.907530208,...",0.033365

In [92]:
def set_blockid(row):

    if row['BLKIDFP'] == np.nan: 
        row['BLKIDFP'] = row['BLKIDFP00']
    else:
        row['BLKIDFP'] = row['BLKIDFP']
    return row['BLKIDFP']

In [93]:
scale_geo2['BLKIDFP'] = scale_geo2.apply(lambda row: set_blockid(row),axis = 1)

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [94]:
scale_geo2.BLKIDFP.count()

45875

In [95]:
scale_geo2.head()

,STOP_ID,BLKIDFP,BLKIDFP00,geometry,SPLIT_RATI
0,390,060750332011006A,None,"POLYGON ((5990140.555242101 2091599.49223411, ...",0.086490
1,390,060750332011006B,None,"POLYGON ((5990404.358315584 2091528.488919567,...",0.262390
2,390,060750309007007,None,"POLYGON ((5990488.063115086 2091468.644502254,...",0.398776
3,390,060750309007009,None,"POLYGON ((5990640.788074084 2091115.257247695,...",0.090812
4,390,060750309007006,None,"POLYGON ((5990666.047220119 2091120.907530208,...",0.033365

In [96]:
scale_geo2 = scale_geo2[['STOP_ID','BLKIDFP','SPLIT_RATI']]

In [97]:
rename = ['STOP_ID','BLOCK_ID','SPLIT_RATIO']

In [98]:
scale_geo2.columns = rename

In [99]:
scale_geo2.head()

   STOP_ID          BLOCK_ID  SPLIT_RATIO
0      390  060750332011006A     0.086490
1      390  060750332011006B     0.262390
2      390   060750309007007     0.398776
3      390   060750309007009     0.090812
4      390   060750309007006     0.033365

In [100]:
split_grouped = scale_geo2[['SPLIT_RATIO','BLOCK_ID']].groupby(by = 'BLOCK_ID',as_index = False).sum()

In [103]:
others_grouped = scale_geo2[['BLOCK_ID','STOP_ID']].groupby(by = 'BLOCK_ID',as_index = False).first()

In [104]:
print(others_grouped.head())
print(len(others_grouped))
len(split_grouped)

          BLOCK_ID  STOP_ID
0  060750101001000     4502
1  060750101001003     4100
2  060750101001004     5460
3  060750101001005     5466
4  060750101001006     4530
5768

5768

In [109]:
scale = pd.merge(others_grouped,split_grouped, on = 'BLOCK_ID',how = 'outer')
len(scale)

5768

In [106]:
lehd = gp.read_file('E:/Transit-Casa-Alex/Output/Employment (LEHD)/Combined_Employment.shp')

In [107]:
lehd.head()

,ALAND10,AWATER10,BLOCKCE10,COUNTYFP10,EDHEALTH_R,EDHEALTH_W,FUNCSTAT10,GEOID10,INTPTLAT10,INTPTLON10,LEISURE_RA,LEISURE_WA,MTFCC10,NAME10,OTHER_RAC,OTHER_WAC,RETAIL_RAC,RETAIL_WAC,STATEFP10,TOTAL_EMP_,TOTAL_EM_1,TRACTCE10,UACE10,UATYP10,UR10,createda_1,createdate,geometry,h_geocode,w_geocode
0,16958,0,2002,075,16.0,7.0,S,2147483647,+37.7500665,-122.4410751,6.0,0.0,G5040,Block 2002,34.0,0.0,5.0,0.0,06,7.0,61.0,021300,78904,U,U,20160228.0,20160228.0,"POLYGON ((-122.440616 37.750902, -122.440459 3...",6.075021e+13,6.075021e+13
1,16823,0,2000,075,19.0,0.0,S,2147483647,+37.7501958,-122.4389330,9.0,0.0,G5040,Block 2000,45.0,1.0,6.0,0.0,06,1.0,79.0,021300,78904,U,U,20160228.0,20160228.0,"POLYGON ((-122.438397 37.750226, -122.43832 37...",6.075021e+13,6.075021e+13
2,17020,0,3004,075,25.0,0.0,S,2147483647,+37.7567937,-122.4362701,6.0,0.0,G5040,Block 3004,46.0,1.0,7.0,0.0,06,1.0,84.0,020500,78904,U,U,20160228.0,20160228.0,"POLYGON ((-122.435808 37.757623, -122.435642 3...",6.075021e+13,6.075021e+13
3,16415,0,1003,075,10.0,8.0,S,2147483647,+37.7535291,-122.4370498,5.0,0.0,G5040,Block 1003,38.0,14.0,5.0,0.0,06,22.0,58.0,021200,78904,U,U,20160228.0,20160228.0,"POLYGON ((-122.436527 37.75354, -122.436454 37...",6.075021e+13,6.075021e+13
4,17523,0,4001,075,22.0,1.0,S,2147483647,+37.7557580,-122.4334002,5.0,0.0,G5040,Block 4001,57.0,2.0,6.0,0.0,06,3.0,90.0,021100,78904,U,U,20160228.0,20160228.0,"POLYGON ((-122.432331 37.756227, -122.432254 3...",6.075021e+13,6.075021e+13

In [115]:
scale.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5768 entries, 0 to 5767
Data columns (total 3 columns):
BLOCK_ID       5768 non-null object
STOP_ID        5768 non-null int64
SPLIT_RATIO    5768 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 180.2+ KB

In [121]:
re.sub?

In [127]:
letters = ['A','B','C']
for letter in letters:
    scale['BLOCK_ID'] = scale['BLOCK_ID'].apply(lambda row: re.sub(letter, '', row))

ValueError: could not convert string to float: '060750104003001C'

In [110]:
scale.head()

          BLOCK_ID  STOP_ID  SPLIT_RATIO
0  060750101001000     4502     0.772763
1  060750101001003     4100     0.954680
2  060750101001004     5460     0.423296
3  060750101001005     5466     2.469411
4  060750101001006     4530     1.255178

In [111]:
employment = pd.merge(scale,lehd,how='left',left_on = 'BLOCK_ID',right_on = 'h_geocode')

In [112]:
employment.head()

,BLOCK_ID,STOP_ID,SPLIT_RATIO,ALAND10,AWATER10,BLOCKCE10,COUNTYFP10,EDHEALTH_R,EDHEALTH_W,FUNCSTAT10,GEOID10,INTPTLAT10,INTPTLON10,LEISURE_RA,LEISURE_WA,MTFCC10,NAME10,OTHER_RAC,OTHER_WAC,RETAIL_RAC,RETAIL_WAC,STATEFP10,TOTAL_EMP_,TOTAL_EM_1,TRACTCE10,UACE10,UATYP10,UR10,createda_1,createdate,geometry,h_geocode,w_geocode
0,060750101001000,4502,0.772763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,060750101001003,4100,0.954680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,060750101001004,5460,0.423296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,060750101001005,5466,2.469411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,060750101001006,4530,1.255178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
scale.sort_values('BLOCK_ID')

              BLOCK_ID  STOP_ID  SPLIT_RATIO
0      060750101001000     4502     0.772763
1      060750101001003     4100     0.954680
2      060750101001004     5460     0.423296
3      060750101001005     5466     2.469411
4      060750101001006     4530     1.255178
5      060750101001007     4530     4.083370
6      060750101001008     4530     5.194426
7      060750101001009     4530     4.151867
8      060750101001010     3031     5.504548
9      060750101001011     4502     3.820862
10     060750101001012     3031     4.644537
11    060750101001013A     4502     3.192526
12    060750101001013B     4502     2.757195
13     060750101001014     3031     4.952078
14     060750101001015     3031     6.399849
15     060750101001016     4530     7.255092
16     060750101001017     5466     4.543749
17     060750101001018     5460     1.919426
18     060750101001019     4100     3.293906
19     060750101001020     4100     3.999375
20     060750101001021     4100     4.714783
21     060750101001022     4106     2.290265
22     060750101001023     5466     4.414823
23     060750101001024     3031     6.762598
24     060750101001999     4502          inf
25     060750101002000     4507     2.001453
26     060750101002001     4507     2.452781
27     060750101002002     4502     2.714483
28     060750101002003     4502     2.544738
29     060750101002004     3031     2.718839
...                ...      ...          ...
5738   060750610001007     5115     0.045647
5739   060750610001009     7376     0.873119
5740   060750610001010     3146     0.526497
5741   060750610001011     3146     0.407006
5742  060750610001012A     3619     1.288219
5743  060750610001012B     4575     0.252081
5744  060750610001012C     3619     2.095031
5745  060750610001012D     3619     2.256527
5746  060750610001012E     3619     1.679895
5747   060750610001013     3619     0.039151
5748   060750610002000     3780     0.040568
5749   060750610002001     3776     1.793952
5750   060750610002002     3776     0.969219
5751   060750610002003     3776     0.451502
5752   060750610002004     3692     2.046805
5753   060750610002005     3692     3.767379
5754   060750610002006     3655     5.019394
5755   060750610002007     3655     2.785942
5756   060750610002008     6569     1.303628
5757   060750610002009     3692     1.687219
5758   060750610002010     3692     3.912919
5759   060750610002011     3692     4.184999
5760   060750610002012     7006     2.353600
5761   060750610002013     7006     5.644018
5762   060750610002014     4576     4.140222
5763   060750610002015     4576     4.664458
5764  060750610002016A     4576     2.598026
5765  060750610002016B     4576     2.593521
5766  060750610002017A     3619     1.277875
5767  060750610002017B     3619     1.008457

[5768 rows x 3 columns]