In [2]:
import pandas as pd
import numpy as np

In [22]:
df09 = pd.read_csv('E:/Transit-Casa-Alex/MUNI Rail/Output/Modeling/2009/Final_Model_Data_Post_Drop.csv',index_col = 0)
df16 = pd.read_csv('E:/Transit-Casa-Alex/MUNI Rail/Output/Modeling/2016/Final_Model_Data_Post_Drop.csv',index_col = 0)

model09 = pd.read_csv('Model_Rail_09.csv')
model16 = pd.read_csv('Model_Rail_16.csv')

In [13]:
df09.head()

,ROUTE_SHORT_NAME,DIR,LOG_RIDERS,EDD_EMP_LOG,STOP_ID,AVG_RIDE,FREQ_S_LOG,EOL_SOL,HOUSING_09_DEN_LOG,MUNI_BUS_AVG,AVG_BART_LOG,CLOSE_STOP,J
0,J,1,4.564348,7.089243,3537,95.0,1.534190,0.0,7.804466,6150.244661,0.0,1,1
1,J,0,4.753590,7.082549,3538,115.0,1.802634,0.0,7.788445,5819.619250,0.0,1,1
2,J,0,5.556828,8.032360,3984,258.0,1.795095,0.0,8.188915,2719.199380,0.0,1,1
3,J,1,5.391352,8.000014,3985,218.5,1.546459,0.0,8.181901,2817.825827,0.0,1,1
4,J,0,5.749393,7.532624,3987,313.0,1.795165,0.0,7.961077,1070.990155,0.0,1,1

In [14]:
merged_df = pd.merge(df09,df16,how = 'inner',on=['ROUTE_SHORT_NAME','DIR','STOP_ID'],suffixes = ('_09','_16'))

In [15]:
merged_df.head()

,ROUTE_SHORT_NAME,DIR,LOG_RIDERS_09,EDD_EMP_LOG_09,STOP_ID,AVG_RIDE_09,FREQ_S_LOG_09,EOL_SOL_09,HOUSING_09_DEN_LOG,MUNI_BUS_AVG_09,...,LOG_RIDERS_16,EDD_EMP_LOG_16,AVG_RIDE_16,FREQ_S_LOG_16,EOL_SOL_16,HOUSING_16_DEN_LOG,MUNI_BUS_AVG_16,AVG_BART_LOG_16,CLOSE_STOP_16,J_16
0,J,1,4.564348,7.089243,3537,95.0,1.534190,0.0,7.804466,6150.244661,...,5.171620,7.501082,175.20,1.537475,0.0,7.810161,5998.432593,0.0,1,1
1,J,0,4.753590,7.082549,3538,115.0,1.802634,0.0,7.788445,5819.619250,...,4.617099,7.442493,100.20,1.844041,0.0,7.794231,6027.654485,0.0,1,1
2,J,0,5.556828,8.032360,3984,258.0,1.795095,0.0,8.188915,2719.199380,...,5.838022,8.369157,342.10,1.845646,0.0,8.237437,2223.586227,0.0,1,1
3,J,1,5.391352,8.000014,3985,218.5,1.546459,0.0,8.181901,2817.825827,...,5.766444,8.393895,318.40,1.537099,0.0,8.225158,2312.494071,0.0,1,1
4,J,0,5.749393,7.532624,3987,313.0,1.795165,0.0,7.961077,1070.990155,...,6.062272,8.049108,428.35,1.845526,0.0,7.968209,1027.177723,0.0,1,1

In [16]:
merged_df.to_csv('Rail Quantifying Variable Effects Data.csv')

In [17]:
merged_df_outer = pd.merge(df09,df16,how = 'outer',on=['ROUTE_SHORT_NAME','DIR','STOP_ID'],suffixes = ('_09','_16'))

In [20]:
missing09 = merged_df_outer[np.isnan(merged_df_outer['AVG_RIDE_09'])]
print(missing09['AVG_RIDE_16'].sum())

missing16 = merged_df_outer[np.isnan(merged_df_outer['AVG_RIDE_16'])]
print(missing16['AVG_RIDE_09'].sum())

1432.6000000000004
6285.5

In [23]:
merged_model = pd.merge(model09,model16,how = 'inner',on=['ROUTE_SHORT_NAME','DIR','STOP_ID'],suffixes = ('_09','_16'))

In [28]:
merged_model[columns].to_csv('Merged_Model_Data_Rail.csv')

In [27]:
columns = merged_df.columns

In [29]:
merged_model_outer = pd.merge(model09,model16,how = 'outer',on=['ROUTE_SHORT_NAME','DIR','STOP_ID'],suffixes = ('_09','_16'))

In [32]:
missing09 = merged_model_outer[np.isnan(merged_model_outer['AVG_RIDE_09'])]
print(missing09.AVG_RIDE_16.sum())

missing16 = merged_model_outer[np.isnan(merged_model_outer['AVG_RIDE_16'])]
print(missing16.AVG_RIDE_09.sum())

1432.6000000000004
6285.5